.firstSection {
    padding: 8% 25% 8% 25%;
}

.impactTitle h2:after {
    margin: 0 !important;
}

.conditionSection {
    margin-top: 8%;
}

.conditionSection h3 {
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #3aafa9;
}

.conditionSection h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.conditionSection p {
    line-height: 30px;
}

.conditionImage {
    
}