* {
	margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

a:link {
    text-decoration: none;
}

body a {
    text-decoration: none;
}


header {
	width: 100%;
	display: flex;
	align-items: center;
    justify-content: space-around;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	position: fixed;
	z-index: 100;
}

.navbar {
    transition-duration: 0.3s !important;
}

.logoBox {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
    max-width: 10%;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.5px;
    transition-duration: 0.3s !important;
}

.logoBox a {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.logoBox a img {
	object-fit: contain;
	width: 100%;
}

.loginBox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 10%;
    
}

.loginBox a {
    display: flex;
}

.loginBox a p {
    padding-right: 10px;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: white;
    letter-spacing: 1.5px;
}

.loginBox a i {
    object-fit: contain;
    height: 100%;
    color: white;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; 
}

.secondBox {
	width: auto;
}

.headerList {
	height: 70px; 
	list-style-type: none;
	display: flex;
	align-items: center;
	height: 70px;
	width: 100%;
}


.active::after, .active3::after {
    content: '';
    display: block;
    width: 100% !important;
    height: 2px;
    background: #3AAFA9;
    transition: width .3s;
}

.active3::after {
    width: 40% !important;
}

.active2::after {
    content: '';
    display: block;
    width: 80% !important;
    height: 2px;
    background: #3AAFA9 !important;
    transition: width .3s;
    margin-top: 10px;
}

.dropButtonAbout, .dropButtonOverview, .dropButtonMedia {
	border: none;
	background-color: Transparent;
	height: 110px;
	padding-right: 13px;
	padding-left: 13px;
	color: white;
	font-family: Poppins, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-stretch: condensed;
	font-weight: 600 !important;
	text-transform: uppercase;
	cursor: pointer;
    letter-spacing: 1.5px;
}

.dropButtonAbout:focus, .dropButtonOverview:focus, .dropButtonMedia:focus {
	outline: 0;
}

.dropDownAbout, .dropDownOverview, .dropDownMedia {
    position: relative;
}

.insideButtonAbout, .insideButtonAbout2, .insideButtonAbout3, .insideButtonAbout4, .insideButtonAbout5, .insideButtonAbout6, .insideButtonAbout7 {
	border: none;
	background-color: Transparent;
	font-family: Poppins, sans-serif;
	font-size: 10px !important;
	font-style: normal;
	letter-spacing: 1px;
	cursor: pointer;
	width: 100%;
	text-align: left;
	display: flex !important;
	justify-content: space-between;
}

.shorter {
    width: 35% !important;
}

#rightArrow {
	width: 5px;
}

.test1:hover .fa-angle-right, .test2:hover .fa-angle-right, .test3:hover .fa-angle-right, .test4:hover .fa-angle-right, .test5:hover .fa-angle-right, .test6:hover .fa-angle-right, .test7:hover .fa-angle-right{
	color: #3AAFA9;
}

.name, .name2 {
	width: 100%;
	font-size: 12px !important;
    letter-spacing: 1px;
    height: 10px;
}

.dropDownContentMedia a {
	font-family: Poppins, sans-serif;
	font-size: 12px !important;
	font-style: normal;
    text-transform: none !important;
    letter-spacing: 1px;
    font-weight: 400;
}


.dropDownContentAbout .name::after , .dropDownContentOverview .name::after, .dropDownContentMedia a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #3AAFA9;
    transition: width .3s;
	margin-top: 10px;
}

.dropDownContentAbout .name:hover::after , .dropDownContentOverview .name:hover::after, .loginThing p:hover::after {
    width: 100%;
    transition: width .3s;
}


.lilShorter:hover::after {
    width: 80% !important;
    transition: width .3s;
}

.dropDownContentMedia a:hover::after {
	width: 80% !important;
}

.dropDownContentAbout .name2::after , .dropDownContentOverview .name2::after, .dropDownContentMedia a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #3AAFA9;
    transition: width .3s;
	margin-top: 10px;
}

.dropDownContentAbout .name2:hover::after , .dropDownContentOverview .name2:hover::after, .dropDownContentMedia a:hover::after {
    width: 40%;
    transition: width .3s;
}

.dropButtonAbout a, .dropButtonOverview a, .dropButtonMedia a {
	color: white;
    transition-duration: 0.3s;
}  


.dropButtonAbout::after, .dropButtonOverview::after, .dropButtonMedia::after, .loginThing p::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #3AAFA9;
    transition: width .3s;
}

/* might work */
.dropDownAbout:hover .dropButtonAbout::after, .dropDownOverview:hover .dropButtonOverview::after, .dropDownMedia:hover .dropButtonMedia::after {
    width: 100%;
    transition: width .3s;
}

.dropDownContentAbout a, .dropDownContentOverview a, .dropDownContentMedia a {
    transition: 0.3s;
    -webkit-transition-duration: 0.3s;
}

.dropDownContentAbout {
    width: 300% !important;
    left: -15% !important;
}

.dropDownContentOverview {
    width: 450% !important;
    left: -5% !important;
}

.dropDownContentMedia {
    width: 190% !important;
    left: -5% !important;
}


.dropDownContentAbout, .dropDownContentOverview, .dropDownContentMedia {
	display: none;
	box-shadow: 0 55px 80px -40px rgba(0,0,0,.45);
	z-index: 100;
	position: absolute;
	background-color: rgb(23, 37, 42);
	font-size: 17px;
	width: 80%;
	left: 10%;
	padding-left: 1.5%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
    transition-duration: 0.3s;
}

.dropDownContentAbout a, .dropDownContentOverview a, .dropDownContentMedia a {
	display: block;
	padding: 20px 20px 20px 20px;
	color: white;
	cursor: pointer;
    height: 19.5px;
}

.dropDownContentAbout button {
	display: block;
}

.dropDownContentAbout a:hover, .dropDownContentOverview a:hover, .dropDownContentMedia a:hover {
	cursor: pointer;
}

.dropDownAbout:hover .dropDownContentAbout, .dropDownOverview:hover .dropDownContentOverview, .dropDownMedia:hover .dropDownContentMedia {
	display: block;
	cursor: pointer;
}

 

/**/



.dropDownInsideAbout, .dropDownInsideAbout2, .dropDownInsideAbout3, .dropDownInsideAbout4, .dropDownInsideAbout5, .dropDownInsideAbout6, .dropDownInsideAbout7 {
	display: none;
	z-index: 100;
	position: absolute;
	font-size: 12px;
	width: 65%;
	right: 0;
	top: 0;
	height: 89%;
    /*background-color: purple;*/
    padding-top: 0.5%;
    padding-bottom: 1.5%;
}

.dropDownInsideAbout a , .dropDownInsideAbout2 a, .dropDownInsideAbout3 a, .dropDownInsideAbout4 a, .dropDownInsideAbout5 a , .dropDownInsideAbout6 a, .dropDownInsideAbout7 a     {
	display: block;
	padding: 20px 20px 20px 20px;
	color: white;
	cursor: pointer;
    text-transform: none;
    letter-spacing: 1px;
}

.dropDownInsideAbout a:hover , .dropDownInsideAbout2 a:hover, .dropDownInsideAbout3 a:hover, .dropDownInsideAbout4 a:hover, .dropDownInsideAbout5 a:hover, .dropDownInsideAbout6 a:hover, .dropDownInsideAbout7 a:hover  {
	cursor: pointer;
}

.test1:hover .dropDownInsideAbout, .test2:hover .dropDownInsideAbout2, .test3:hover .dropDownInsideAbout3, .test4:hover .dropDownInsideAbout4, .test5:hover .dropDownInsideAbout5, .test6:hover .dropDownInsideAbout6, .test7:hover .dropDownInsideAbout7 {
    display: flex;
    flex-direction: column;
	cursor: pointer;
}

.test4:hover .dropDownInsideAbout4 {
    flex-direction: row !important;
}

/* fade-in animation */

.fade-in {
  animation: fadeIn ease 0.3s;
  -webkit-animation: fadeIn ease 0.3s;
  -moz-animation: fadeIn ease 0.3s;
  -o-animation: fadeIn ease 0.3s;
  -ms-animation: fadeIn ease 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-40px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }
         
 @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-40px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }

 .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
 }

/* fade up */

@-webkit-keyframes fadeInUp {
    0% {
       opacity: 0;
       /*-webkit-transform: translateY(20px);*/
    }
    100% {
       opacity: 1;
      /* -webkit-transform: translateY(0px);*/
    }
 }
         
 @keyframes fadeInUp {
    0% {
       opacity: 0;
       transform: translateY(20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0px);
    }
 }

 .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
 }

.homepageLogo, .homepageLogo p, .homepageLogo i {
    transition-duration: 0.3s;
}


/* title */
.impactTitle h2 {
    position: relative;
    font-size: 50px;
    font-weight: 600;
    color: rgb(23, 37, 42);
}

.impactTitle h2:after {
    position: absolute;
	content: '';
	height: 3px;
	bottom: -20px;
	margin: 0 auto;
	left: 0;
    right: 0;
	width: 8%;
	background: #3aafa9;
}
    

/** Footer stuff **/

footer {
    width: 100%;
    background-color: #21343b;
    font-family: 'Poppins', sans-serif;
    color: white;
 }
 
 
 .footerFilter {
	background-color: rgba(0,0,0,0);
	height: 100%;
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerHolder {
	height: 100%;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.footerSection {
	width: 15%;
    line-height: 40px;
    text-align: left;
}

.footerSection a {
	color: white;
}

.underlineFooter {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.linkHolderFooter {
	font-size: 13px;
}

.linkHolderFooter a {
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	color: #f0f0f0;
	letter-spacing: 1px;
}


.linkHolderFooter a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #3aafa9;
    transition: width .3s;
}

.linkHolderFooter a:hover::after  {
    width: 50%;
    transition: width .3s;
}

.footerBottom {
	padding-top: 3%
}

.footerSocial {
	text-align: center;
}

.FooterLinks li p {
	padding-top: 20px;
}

.footerSectionOverall {
	width: 80vw;
}

.footerWords {
	display: flex;
	align-items: center;	
	justify-content: center;
	padding-top: 15px;
}


.footerWords h4 {
	font-family: Roboto, sans-serif;
	color: white;
	text-transform: uppercase;
	padding-right: 30px;
}

.fa-facebook-f, .fa-instagram, .fa-twitter, .fa-youtube, .fa-pinterest {
	padding-top: 0 !important;
	padding-right: 30px;
}

.copyright {
	color: white;
	letter-spacing: 1px;
    padding-top: 15px;
    font-size: 12px;
}

.fa-facebook-f, .fa-instagram, .fa-twitter, .fa-youtube, .fa-pinterest, .fa-linkedin-in {
    font-size: 20px;
    color: white;
  }
  
  .fa-facebook-f:hover, .fa-instagram:hover, .fa-twitter:hover, .fa-youtube:hover, .fa-pinterest:hover, .fa-linkedin-in:hover  {
    color: #3aafa9 !important;
    cursor: pointer;
  }
  
  .fa-facebook-f, .fa-instagram, .fa-twitter, .fa-youtube, .fa-pinterest, .fa-linkedin-in {
    -webkit-transition-duration: 0.2s; 
    transition-duration: 0.2s;
  }
  
  .social {
      color: white;
  }
    
  .iHateThis {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 10px;
  }

  .iHateThis img {
      width: 100%;
  }

  .lilLogo {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 15px;
  }

  .aLot {
      margin-right: 15px;
      width: 10%;
      height: 100%;
      padding: 0 !important;
  }

  .aLot img {
      width: 100%;
  }

  .footerSection p {
      font-size: 14px;
      color: #f0f0f0;
  }

  .lilText {
      font-size: 14px;
  }

  .sigh {
      margin-right: 5%;
      width: 25%;
  }

.footerButton button {
    color: white !important;
    border-color: white !important;
    border-radius: 50px !important;
    margin-top: 15px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.footerButton button {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.footerButton {
    justify-content: flex-start !important;
}

.footerButton button:hover {
    color: #3fc2bb !important;
    border-color: #3fc2bb !important;
}

/* Button */

.learnMoreContainer, .learnMoreContainerRegular {
	padding-top: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.learnMoreButton button, .learnMoreButtonRegular button {
    color: rgb(23, 37, 42);
    text-transform: none;
    background-color: White;
    border: 2px solid white;
    z-index: 2;
    padding: 20px 30px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 2px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 50px;
}

.learnMoreButton:hover button {
    background-color: Transparent;
    color: white;
}

/* regular button */

.learnMoreButtonRegular button {
    background-color: transparent;
    border: 2px solid #17252A;
    color: #17252A;
}

.learnMoreButtonRegular:hover button {
    color: #2B7A78;
    border-color: #2B7A78;
}

/* show on scroll */
.show-on-scroll, .show-on-scroll-left, .show-on-scroll-right, .show-on-scroll-up, .show-on-scroll-down {
    opacity: 0;
	transition: transform 4s 0.25s cubic-bezier(0,1,.3,1),
              opacity .3s 0.25s ease-out;
	will-change: transform, opacity;
}

.show-on-scroll-left, .show-on-scroll-right, .show-on-scroll-up, .show-on-scroll-down {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.is-visible {
    opacity: 1 !important;
}

/* fade in left */
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeft {
    0% {
       opacity: 0;
       -webkit-transform: translateX(80px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }

 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(80px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }

/* fade in right */
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRight {
    0% {
       opacity: 0;
       -webkit-transform: translateX(-80px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }

 @keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(-80px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }  

 .logoDark {
     display: none;
 }
