@media screen and (max-width: 950px) {
    .userInfo, .serviceSection {
        width: 100%;
    }

    .dashboardInfo {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 650px) {
    .firstSection {
        padding: 20% 5% 20% 5% !important;
    }
}