@media screen and (max-width: 750px) { 
    .firstSection {
        padding: 15% 5% 15% 5%;
    }

    body {
        overflow-x: hidden !important;
    }

    .topics {
        margin-top: 15%;
        flex-wrap: wrap;
    }

}