.govLanding {
    background-image: url("/static/images/Public.jpg");
}

.pic1 {
    background-image: url("/static/images/Collaboration.jpg");
}

.pic2 {
    background-image: url("/static/images/Government.jpg");
}

.pic3 {
    background-image: url("/static/images/Education.jpg");
}

.anotherDemo {
    background-image: url("/static/images/Telehealth2.jpg");
}