@media screen and (max-width: 750px) { 
    .firstSection {
        padding: 15% 5% 15% 5%;
    }

    .historyHolder {
        padding-top: 15%;
    }

    .insideButtonContainer {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .eventButton button {
        margin: 8px;
    }

}