@media screen and (max-width: 750px) { 
    .firstSection {
        padding: 15% 5% 15% 5%;
    }

    .executive {
        width: 100%;
        margin-bottom: 10%;
    }

    .executiveImageHolder img {
        width: 70%;
    }

    .executiveHolder {
        padding-top: 15%;
    }

}