@media screen and (max-width: 750px) { 
    .firstSection {
        padding: 15% 5% 15% 5%;
    }

    .competitionLink, .eventsLink, .programsLink {
        width: 100%;
        margin: 5%;
    }
}