.firstSection {
    padding: 8% 20% 8% 20%;
}

.peopleTitle h2:after {
    margin: 0 !important;
}

.firstSectionFlex {
    display: flex;
    justify-content: space-between;
    padding-top: 8%;
}

.leftText {
    width: 49%;
    padding-right: 2%;
}

.leftText p {
    line-height: 35px;
    margin-bottom: 15px;
}

.imageHolder {
    width: 45%;
    height: 100%;
}

.imageHolder img {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.3);
}

.second {
    padding-top: 0 !important;
}

.quoteBox {
    line-height: 35px;
    padding: 4% 0% 4% 0%;
    margin: 0 15% 0 15%;
}

.line {
    border-bottom: 4px solid #3aafa9;
    margin: 0 15% 0 15%;
}

.lineBottom {
    border-top: 4px solid #3aafa9;
    margin: 0 15% 0 15%;
}

.quoteHolder {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 5%;  
}

.quoteHolder img {
    width: 10%;
}

.quoteBox h4 {
    font-weight: 600;
    text-align: center;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(23, 37, 42);
}

.quoteBox p {
    letter-spacing: 0.5px;
    text-align: center;
    padding: 0 5% 0 5%;
}

.quoteBox span {
    padding: 20px;
}

.leftAlign {
    text-align: right;
}

.leftAlign h2:after {
    left: auto  !important;
}

.centerAlign {
    text-align: center;
}

.centerAlign h2:after {
    margin: auto !important;
}

.centerText {
    padding: 0 !important;
    width: 100% !important;
}

.fullImage {
    width: 100% !important;
    margin-top: 5%;
}

.pageNav {
    margin-left: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    border-bottom: 1px solid #e0e0e0;
    font-size: 13px;
    letter-spacing: 1.5px;
    cursor: pointer;
    margin-top: 18px;
}

.pageNav p a {
    color: black;
}

.bold {
    font-weight: 600;
}

.changeColor {
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

.changeColor:hover {
    color: #3aafa9;
}