.priceLanding {

}

.firstSection {
    padding: 8% 20% 8% 20%;
}

.impactTitle {
    text-align: center;
}

.conditionSection {
    margin-top: 8%;
}

.conditionSection h3 {
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    font-size: 22px;
    color: #3aafa9;
}

.conditionSection h4 {
    font-weight: 500;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.conditionSection p {
    line-height: 30px;
}

.conditionImage {
    background: linear-gradient(45deg, rgba(0,0,0,0), rgba(0,0,0,0)), 
                linear-gradient(135deg,rgba(0,0,0,0), rgba(0,0,0,0)), 
                linear-gradient(225deg, #3AAFA9, #3AAFA9, #2B7A78 100%) , 
                linear-gradient(225deg, rgba(0,0,0,0), rgba(0,0,0,0));
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 2%;
    background-size: 50% 50%;
    background-position: 0% 0%, 0% 100%, 100% 0%, 100% 100%;
    background-repeat: no-repeat;
}

.conditionText {
    width: 45%;
}

.smallerImage {
    width: 40%;
}

.conditionImage img {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.conditionSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomLine {
    height: 10px;
    margin-top: 25px;
    border-bottom: 2px solid #2B7A78;
    width: 10%;
}

#featuredSection {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.providerSection {
    background-image: url('/static/images/Insurance.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.featureTransparent {
    background-image: linear-gradient(rgba(43, 122, 120, 0.6), rgba(145, 75, 173, 0.4));
    padding: 8% 20% 8% 20% !important;
}

.providerTextBox {
    width: 52%;
}

.saveTitle {
    text-align: left;
}

.saveTitle h2 {
    color: white;
}

.saveTitle h2:after {
    margin: 0;
    background: white;
}

.saveText {
    margin-top: 10%;
    line-height: 30px;
    color: white;
}

.providerTextBox h3 {
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0.5px;
    font-size: 22px;
    color: white;
}

.centerCondition {
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centerConditionSection {
    justify-content: center;
}

.creditImage {
    margin-top: 30px;
}

table {
    margin-top: 8%;
}

.tableImageHolder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableImageHolder img {
    width: 70%;
}

.heading {
    width: 30%;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 5%;
    padding: 2%;
}

.blueTable {
    background-color: #def2f1;
}

.special {
    padding: 4%;
}

.regularText {
    font-weight: 400;
    font-size: 15px;
}

.regularText img {
    width: 50%;
}

.features {
    text-align: left;
}

.check {
    text-align: center;
    vertical-align: middle;
    letter-spacing: 2px;
}

.check a {
    color: black;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

.textLink a:hover {
    color: #3aafa9;
}

.imageCheckHolder img {
    width: 10%;
    padding: 5%;
}

.imageCheckHolder {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    cursor: context-menu;
}

table {
    border-collapse: collapse;
}

