@media screen and (max-width: 750px) { 
    .firstSection, .backgroundColor {
        padding: 15% 5% 15% 5%;
    }

    body {
        overflow-x: hidden;
    }

    .firstSectionFlex {
        padding-top: 15%;
        flex-wrap: wrap;
    }

    .leftText {
        width: 100%;
        padding: 0;
        margin-bottom: 8%;  
    }

    .imageHolder {
        width: 100%;
    }

    .learnMore {
        line-height: 35px;
    }

    .impactTitle h2 {
        text-align: center;
    }

    .impactTitle h2:after {
        margin: auto !important;
    }

    .valuesSection {
        flex-wrap: wrap;
        padding-top: 23%;
    }

    .value {
        width: 100%;
    }

    .type {
        width: 100%;
        margin-bottom: 10%;
    }

    .providerSection {
        padding-top: 15%;
    }

    .providerContainer {
        width: 90vw !important;
    }

    .innerText {
        max-height: 40vh;
        overflow-y: auto;
        padding: 5% !important;
    }

}

@media screen and (max-width: 550px) { 
    .modalImage {
        display: none;
    }

    .rightModal {
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

}