
<div class = "resetHolder">
    <div class = "resetInfo">
        <h2>Hi {{ user.username }},</h2>

        <p>
            To reset your password click <a href = "{{ url_for('reset_password', token=token, _external=True) }}">here.</a>
        </p>
        <p>Or, you can paste the following link in your browser's address bar:</p>
        <p>{{ url_for('reset_password', token=token, _external=True) }}</p>

        <p>If you have not requested a password reset, please ignore this message.</p>

        <p>Sincerely,</p> 

        <p>The Neomedica Team</p>
    </div>
</div>

