{% extends "default.html" %}

{% block head %}
    {{ super() }} <!-- Have to include the super to get the default css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about_media.css') }}">
{% endblock %}

{% block childcontent %}
    <div class = "firstSection">
        <div class = "aboutUsSection">
            <div class = "impactTitle show-on-scroll-up">
                <h2>Who Are We? </h2>
            </div>
            <div class = "aboutUsArticle lessSpace show-on-scroll-right">
                <p> We are Neomedica. We are a telemedicine company that aims to make high quality healthcare accessible and affordable. That’s it! No fine print, no catches, no exceptions. In our view, distance and price should never be an obstacle to getting the medical, physical, and mental care you need to thrive in today’s fast-paced world. Whether you’re an athlete, a stay-at-home parent, a 9-to-5er, or something in between, Neomedica is here for you. </p>
            </div>
            <div class = "imageHolder show-on-scroll-left">
                <img src = "{{ url_for('static', filename='images/SmilingOffice.jpg') }}"/>
            </div>
        </div>
    </div>
    <div class = "secondSection">
        <div class = "backgroundColor">
            <div class = "impactTitle moreSpace whiteTitle show-on-scroll-up">
                <h2> Our Values </h2>
            </div>
            <div class = "valuesSection">
                <div class = "value show-on-scroll-right">
                    <img src = "{{ url_for('static', filename='images/PatientIcon.png') }}"/>
                    <div class = "wordHolder">
                        <h3>PATIENTS OVER PROFIT</h3>
                        <p>We believe our patients are more valuable than a profit motive, that customer satisfaction is more important than a couple extra bucks. That’s why we offer you a money-back guarantee if our treatment does not help you. </p>
                    </div>
                </div>
                <div class = "value show-on-scroll-up">
                    <img src = "{{ url_for('static', filename='images/Convenient.png') }}"/>
                    <div class = "wordHolder">
                        <h3>ACCESSIBILITY</h3>
                        <p>We believe in accessibility. Nothing should be a barrier to getting healthcare, including distance. We aim to make cost a noncontingent factor when it comes to choosing a healthcare provider or clinic. </p>
                    </div>
                </div>
                <div class = "value show-on-scroll-left">
                    <img src = "{{ url_for('static', filename='images/Lightbulb.png') }}"/>
                    <div class = "wordHolder">
                        <h3>INNOVATION</h3>
                        <p>We love innovative ideas. For us, it’s not just a choice to innovate; it’s a necessity. Our mission is based around breaking the traditional constraints of today’s healthcare system, so we must have creative and innovative ideas to truly make an impact and help our patients. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "thirdSection">
        <div class = "impactTitle show-on-scroll-up">
            <h2>What Do We Do? </h2>
        </div>
        <div class = "aboutUsArticle">
            <p class = "show-on-scroll-right"> At Neomedica, we provide healthcare to people remotely. We have a team doctors, nurses, physicians, therapists, and psychiatrists specializing in a wide variety of illnesses and methods, who work around the clock to get people the care they need. We also run several campaigns around the benefits of telemedicine, and offer free trials to prospecting patients and money-back guarantees to all of our patients. </p>
        </div>
    </div>
    <div id = "future" class = "secondSection">
        <div id = "futureBackground" class = "backgroundColor">
            <div class = "impactTitle moreSpace whiteTitle show-on-scroll-up">
                <h2>Our Vision for the Future </h2>
            </div>
            <div class = "valuesSection">
                <p style="color: white;">Our goal is to expand our services to the majority of adults in the United States, and to adults overseas. We envision a future in which healthcare is telemedicine; one where everyone has easy-to-use, affordable, and accessible healthcare on demand. </p>
            </div>
        </div>
    </div>
    <div id = "when" class = "thirdSection when">
        <div class = "impactTitle show-on-scroll-up">
            <h2>When Are Appointments? </h2>
        </div>
        <div class = "aboutUsArticle show-on-scroll-left">
            <p>Our appointment times are very flexible! You can choose any time we’re available, which is quite often since we operate 24 hours a day, 7 days a week, 365 days a year. You’ll have the option to choose from a wide team of therapists, and can cancel at any time. Appointments are whenever you want them to be, always.  </p>
        </div>
    </div>
    <div class = "thirdSection">
        <div class = "impactTitle show-on-scroll-up">
            <h2>Where Do We Work? </h2>
        </div>
        <div class = "aboutUsArticle show-on-scroll-right">
            <p>Well... wherever you are! Telemedicine is a 100% remote service, making it convenient to attend and access healthcare during these times. Our physicians will always be on time to appointments, which you can attend from wherever you like! </p>
        </div>
    </div>
    <div class = "firstSection specialClub">
        <div class = "aboutUsSection">
            <div class = "impactTitle show-on-scroll-up">
                <h2>Why Telemedicine? </h2>
            </div>
            <div class = "aboutUsArticle show-on-scroll-right">
                <p> Sometimes, you may find yourself unable to visit a doctor in person, whether that be because you live with a high-risk family member and don’t want to take a risk, or you simply don’t have time. Neomedica is a perfectly suitable alternative. This might include, but is not limited to, doctor’s office closures, vacations, time constraints, urgent care visits, or simply convenience preferences. If you are experiencing a medical emergency, do not use Neomedica – dial 911 or visit the closest emergency room immediately. </p>
            </div>
        </div>
    </div>
    <div class = "lastSection">
        <div class = "backgroundSection2">
            <div class = "impactTitle show-on-scroll-up">
                <h2>Learn more about us </h2>
            </div>
            <div class = "learnContainer">
                <div class = "learnMoreContainer show-on-scroll-left">
                <a href = "{{ url_for('why') }}" class = "competitionLink whyLink"> 
                    <div class = "competition">
                        <div class = "Filter">
                            <h4>Why Us?</h4>
                        </div>
                    </div>
                </a>
                <a href = "{{ url_for('history') }}" class = "eventsLink historyLink">
                    <div class = "events">
                        <div class = "Filter">
                            <h4>History</h4>
                        </div>
                    </div>
                </a>
                <a href = "{{ url_for('leadership') }}" class = "programsLink leadershipLink">
                    <div class = "programs">
                        <div class = "Filter">
                            <h4>Leadership</h4>
                        </div>
                    </div>
                </a>
                <a id = "outreach" href = "{{ url_for('providers') }}" class = "programsLink providersLink">
                    <div class = "programs">
                        <div class = "Filter">
                            <h4>Our Providers</h4>
                        </div>
                    </div>
                </a>
                <a id = "challenges" href = "{{ url_for('ncqa') }}" class = "programsLink ncqaLink">
                    <div class = "programs">
                        <div class = "Filter">
                            <h4>NCQA and ACHC</h4>
                        </div>
                    </div>
                </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



