{% extends "wiki.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/abrasions.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}
    <div class = "firstSection"> 
        <div class = "pageNav show-on-scroll-right">
            <p>
                <a class = "changeColor" href = "{{ url_for('about') }}">About</a>
                /
                <a class = "changeColor" href = "{{ url_for('leadership') }}">Leadership</a>
                /
                <a href = "{{ url_for('leadership_bio', leader='Sammy') }}"><b class = "bold">Sammy Urtzal</b></a>
            </p>
        </div>
        <div class = "impactTitle show-on-scroll-right">
            <h2> Abrasions </h2>
        </div>
        <div class = "conditionSection">
            <div class = "conditionText">
                <h3 class = "show-on-scroll-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Sed do eiusmod tempor </h3>
                <h4 class = "show-on-scroll-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h4>
                <p class = "show-on-scroll-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class = "conditionImage">

            </div>
        </div>
    </div>
{% endblock %}