{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app_media.css') }}">
{% endblock %}

{% block childcontent %}
<div class = "firstSection">
    <div class = "impactTitle show-on-scroll-up">
        <h2> Best app ever </h2>
    </div>
    <div class = "conditionSection">
        <div class = "conditionText">
            <h3 class = "show-on-scroll-right">Our App</h3>
            <h4 class = "show-on-scroll-right">Truly Telemedicine </h4>
            <p class = "show-on-scroll-right">That’s right! Neomedica has an app (and it’s free!). Now, you can quickly schedule, update, and attend appointments from your phone. Our app makes it easy to get the most out of your Neomedica experience, as it retains all of the key features from our website to ensure that our services are truly as accessible as possible. Simply download the app for either iOS or Android from one of the badges below to get started today! </p>
            <div class = "bottomLine show-on-scroll-right">
            </div>
        </div>
        <div class = "conditionImage show-on-scroll-left">
            <img src = "{{ url_for('static', filename='images/AppCall.jpg') }}">
        </div>
    </div>
    <div class = "appSection">
        <h2 class = "show-on-scroll-up">Neomedica virtual care makes your life easier. Download the Neomedica app today.</h2>
        <div class = "appImage">
            <a href = "https://www.apple.com/?afid=p238%7CsHI7bHWVr-dc_mtid_1870765e38482_pcrid_490032927341_pgrid_13945964767_&cid=aos-us-kwgo-apple-store-xc--slid---product-" target = "_blank">
                <img class = "show-on-scroll-right" src = "{{ url_for('static', filename='images/ShadowApp.png') }}">
            </a>
            <a class = "widerImage" href = "https://play.google.com/store?&utm_source=na_Med&utm_medium=hasem&utm_content=Nov0520&utm_campaign=Evergreen&pcampaignid=MKT-EDR-na-us-1000189-Med-hasem-py-Evergreen-Nov0520-Text_Search_BKWS-id_100752_%7cEXA%7cONSEM_kwid_43700045371544949&gclid=CjwKCAiAu8SABhAxEiwAsodSZDeB8gQ51VDzYoBHHpGAyDfoVmS7PTIo8lBEy9fY_NcocIPPdA2hWhoCv34QAvD_BwE&gclsrc=aw.ds" target = "_blank">
                <img class = "show-on-scroll-left" src = "{{ url_for('static', filename='images/GoogleShadow.png') }}">
            </a>
        </div>
    </div>
</div>
{% endblock %}