{% extends "backend_base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/appointments.css') }}">
{% endblock %}

{% block content %}
<div class = "firstSection">
    <h2>{{ user.username }}'s Appointments</h2>
    <a href = "{{ url_for('schedule_appointment', username=user.username )}}">Schedule Appointment</a>
    {% for a in appointments %}
        <a href = "{{ url_for('appointments_specific', username=user.username, appointment_id=a.id) }}">
            <p>{{ moment(a.start_time).format('MMMM D YYYY') }} </p>
            <p>{{ a.start_time.strftime("%I:%M %p") }} </p>
        </a>
    {% endfor %}
</div>
{% endblock %}