{% extends "backend_base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/appointments.css') }}">
{% endblock %}

{% block content %}
<div class = "firstSection">
    <div class = "titleHolder2">
        <h2>Appointment ID: <span class = "spanTitle">{{ appointment.id }}</span></h2>
    </div>
    <div class = "appointmentInfo">
        <p><span class = "bold">Scheduled Date:</span> {{ moment(appointment.start_time).format('MMMM D, YYYY') }}</p>
        <p><span class = "bold">Time:</span> {{ appointment.start_time.strftime("%I:%M %p") }} - {{ appointment.end_time.strftime("%I:%M %p") }}</p>
        {% if appointment.description == "" %}
            <p><span class = "bold">Description of Problem:</span> None</p>
        {% else %}
            <p><span class = "bold">Description of Problem:</span> </p>
            <p>{{ appointment.description }}</p>
        {% endif %}
        {% if appointment.doctor == 0 %}
            <p><span class = "bold">Doctor:</span> Sammy Urtzal</p>
        {% elif appointment.doctor == 1 %}
            <p><span class = "bold">Doctor:</span> Peyton Everlue</p>
        {% else %}
            <p><span class = "bold">Doctor:</span> Joseyln Sputak</p>
        {% endif %}
    </div>
</div>
{% endblock %}