{% from "macros.html" import nav_link with context %}
{% from "macros.html" import nav_link_inner with context %}
{% from "macros.html" import nav_link_inner_arrow with context %}
{% from "macros.html" import nav_dropdown with context %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Hey! You forgot a title!</title>
        {% endif %}
        <!-- css stylesheets -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <!-- font family -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
        <!-- font awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- slick carousel -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slick.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slick-theme.css') }}"/>
        <!-- jquery -->
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- slick -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/slick.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
        <!-- scripts -->
        <script src="{{ url_for('static', filename='js/feature_slideshow.js') }}"></script>
        <script src="{{ url_for('static', filename='js/slideshow.js') }}"></script>
        <script src="{{ url_for('static', filename='js/review_slideshow.js') }}"></script>
        {% block head %} {% endblock %}
    </head>
    <body>
        <header id = "secondBox" class = "navbar">
            <div class = "logoBox logoWhite">
                <a class = "homepageLogo" href = "{{ url_for('index') }}"><img src = "{{ url_for('static', filename='images/LogoShadow.png')}}"></a>
            </div>
            <div class = "logoBox logoDark">
                <a class = "homepageLogo" href = "{{ url_for('index') }}"><img src = "{{ url_for('static', filename='images/LogoBlue.png')}}"></a>
            </div>
            <nav class = "secondBox">
                <ul class = "headerList">
                    <div class = "dropDownAbout">
                        {{ nav_link('about', 'About', 'dropButtonAbout') }}
                        <div class = "dropDownContentAbout fade-in">
                            <div class = "test1">
                                {{ nav_link_inner('why', 'Why Us?', 'insideButtonAbout', 'name lilShorter') }}
                            </div>
                            <div class = "test2">
                                {{ nav_link_inner('history', 'History', 'insideButtonAbout', 'name lilShorter') }}
                            </div>
                            <div class = "test3">
                                {{ nav_link_inner('leadership', 'Leadership', 'insideButtonAbout', 'name lilShorter') }}
                            </div>
                            <div class = "test4">
                                {{ nav_link_inner('providers', 'Our Providers', 'insideButtonAbout', 'name lilShorter') }}
                            </div>
                            <div class = "test5">
                                {{ nav_link_inner('ncqa', 'NCQA and ACHC', 'insideButtonAbout', 'name lilShorter') }}
                            </div>
                        </div>
                    </div>
                    <div class = "dropDownOverview">
                        {{ nav_link('treatment', 'Treatment Options', 'dropButtonOverview') }}
                        <div class = "dropDownContentOverview fade-in">
                            <div class = "test6">
                                {{ nav_link_inner_arrow('medical', 'Medical Health Solutions', 'insideButtonAbout6 shorter', 'name') }}
                                <div class = "dropDownInsideAbout6">
                                    {{ nav_dropdown('urgent', 'Urgent Care', 'name2') }}
                                    <a class = "name2 fade-in" href = "peyton-everlue.html"> Men's Health </a>
                                    <a class = "name2 fade-in" href = "joselyn-sputak.html"> Women's Health </a>
                                    <a class = "name2 fade-in" href = "joselyn-sputak.html"> Teen's Health </a>
                                    <a class = "name2 fade-in" href = "joselyn-sputak.html"> Children's Health </a>
                                </div>
                            </div>
                            <div class = "test7">
                                <button class = "insideButtonAbout7 shorter fade-in" onclick="window.location.href = 'history.html'"><a class = "name" href = "history.html"> Behavioral Health Solutions </a><a href = "people.html"><i id = "rightArrow" class="fa fa-angle-right"></i></a></button>
                                <div class = "dropDownInsideAbout7">
                                    <a class = "name2 fade-in" href = "sammy-urtzal.html"> Individual Therapy and Psychiatry  </a>
                                    <a class = "name2 fade-in" href = "peyton-everlue.html"> Couples Therapy </a>
                                    <a class = "name2 fade-in" href = "joselyn-sputak.html"> Family Therapy </a>
                                    <a class = "name2 fade-in" href = "joselyn-sputak.html"> Speech Therapy </a>
                                    <a class = "name2 fade-in" href = "joselyn-sputak.html"> Occupational Therapy </a>
                                </div>
                            </div>
                            <div class = "test2">
                            <button class = "insideButtonAbout2 shorter fade-in" onclick="window.location.href = 'awards.html'"><a class = "name" href = "awards.html"> Return-to-Work Solutions </a><a href = "people.html"><i id = "rightArrow" class="fa fa-angle-right"></i></a></button>
                                <div class = "dropDownInsideAbout2">
                                    <a class = "name2 fade-in" href = "sammy-urtzal.html"> COVID-19 Testing </a>
                                    <a class = "name2 fade-in" href = "peyton-everlue.html"> COVID-19 Screening and Treatment</a>
                                </div>
                            </div>
                            <div class = "test3">
                             <button class = "insideButtonAbout4 shorter fade-in" onclick="window.location.href = 'awards.html'"><a class = "name" href = "awards.html"> Virtual Reality Solutions </a><a href = "people.html"><i id = "rightArrow" class="fa fa-angle-right"></i></a></button>
                                <div class = "dropDownInsideAbout3">
                                    <a class = "name2 fade-in" href = "sammy-urtzal.html"> Mental Disorders Therapy </a>
                                    <a class = "name2 fade-in" href = "joselyn-sputak.html"> Physical Therapy </a>
                                    <a class = "name2 fade-in" href = "joselyn-sputak.html"> Phobia Therapy</a>
                                </div>
                            </div>
                            <div class = "test4">
                            <button class = "insideButtonAbout4 shorter fade-in" onclick="window.location.href = 'awards.html'"><a class = "name" href = "awards.html"> Pet Therapy Solutions </a><a href = "people.html"><i id = "rightArrow" class="fa fa-angle-right"></i></a></button>
                                <div class = "dropDownInsideAbout4">
                                    <div class = "anotherBox">
                                        <a class = "name2 lilShorter fade-in" href = "sammy-urtzal.html"> Therapy Dogs </a>
                                        <a class = "name2 lilShorter fade-in" href = "joselyn-sputak.html"> Therapy Cats </a>
                                        <a class = "name2 lilShorter fade-in" href = "joselyn-sputak.html"> Therapy Horses </a>
                                        <a class = "name2 lilShorter fade-in" href = "joselyn-sputak.html"> Therapy Rabbits </a>
                                    </div>
                                    <div class = "anotherBox">
                                        <a class = "name2 lilShorter fade-in" href = "joselyn-sputak.html"> Therapy Reptiles </a>
                                        <a class = "name2 lilShorter fade-in" href = "joselyn-sputak.html"> Therapy Birds </a>
                                    </div>
                                </div>
                            </div>
                            <div class = "test4">
                                <button class = "insideButtonAbout4 shorter fade-in" onclick="window.location.href = 'design.html'"><a class = "name" id = "lastLink" href = "design.html"> Pet Therapy Solutions </a></button>
                                    <div class = "dropDownInsideAbout4">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class = "dropDownMedia">
                        <button class = "dropButtonMedia" onclick="window.location.href = 'experience.html'"> <a href = "experience.html"> How It Works </a></button>
                        <div class = "dropDownContentMedia fade-in">
                            <a href = "girl-powered.html" class = "fade-in">Deals and Offers</a>
                            <a href = "social.html" id = "lastLink" class = "fade-in"> Our App </a>
                            
                        </div>
                    </div>
                    <div class = "dropDownMedia">
                        <button class = "dropButtonMedia" onclick="window.location.href = 'ownership.html'"><a href = "ownership.html"> Testimonials </a></button>
                    </div>
                    <div class = "dropDownMedia">
                        <button class = "dropButtonMedia" onclick="window.location.href = 'lifestyle.html'"><a href = "lifestyle.html"> Organizations </a></button>
                        <div id = "Ownership"  class = "dropDownContentMedia fade-in">
                            <a href = "privacy-legal.html"> Employer Groups </a>
                            <a href = "warranties.html"> Hospitals and Health Systems </a>
                            <a href = "warranties.html"> Unions and Associations </a>
                            <a href = "warranties.html"> Government and Education </a>
                            <a href = "warranties.html"> Brokers and Advisors </a>
                            <a href = "services.html" id = "lastLink"> Distribution Partners </a>
                        </div>
                    </div>
                    <div class = "dropDownMedia">
                        <button class = "dropButtonMedia" onclick="window.location.href = 'contact.html'"><a href = "contact.html"> News </a></button>
                    </div>
                    <div class = "dropDownMedia">
                        <button class = "dropButtonMedia" onclick="window.location.href = 'contact.html'"><a href = "contact.html"> Blog </a></button>
                    </div>
                    <div class = "dropDownMedia">
                        <button class = "dropButtonMedia" onclick="window.location.href = 'contact.html'"><a href = "contact.html"> Contact </a></button>
                        <div id = "Ownership"  class = "dropDownContentMedia fade-in">
                            <a href = "privacy-legal.html"> FAQ </a>
                            <a href = "warranties.html"> Our Social </a>
                            <a href = "services.html" id = "lastLink"> Join Us </a>
                        </div>
                    </div>
                </ul>
            </nav>
            <div class = "loginBox">
                <a class = "homepageLogo loginThing" href = "index.html" id = "loginButton">
                    <p>Login</p><i class="far fa-user"></i>
                </a>
            </div>
        </header>

        {% block content %}{% endblock %}
        
        <footer> 
            <div class = "footerFilter">
                <div class = "footerSectionOverall">
                <div class = "footerHolder">
                    <div class = "footerSection sigh show-on-scroll-up">
                        <div class = "iHateThis">
                            <img src = "{{ url_for('static', filename='images/Logo.png') }}">
                        </div>
                        <p>Doctor visits made easy online 24/7/365.</p>
                        <div class = "lilLogo">
                            <div class = "iHateThis aLot">
                                <img src = "{{ url_for('static', filename='images/Phone.png') }}">
                            </div>
                            <p>1-855-269-4712</p>
                        </div>
                        <div class = "lilLogo">
                            <div class = "iHateThis aLot">
                                <img src = "{{ url_for('static', filename='images/Mail.png') }}">
                            </div>
                            <a class = "lilText" href="mailto:helpdesk@neomedica.com">helpdesk@neomedica.com</a>
                        </div>
                    </div>
                    <div class = "footerSection show-on-scroll-up">
                        <a class = "underlineFooter">Learn More</a>
                        <div class = "linkHolderFooter">
                            <a href = "{{ url_for('why') }}">Why Us?</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "history.html">History</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "masterpieces.html">Leadership</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "design.html">Our Providers</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "awards.html">NCQA and ACHC</a>
                        </div>
                    </div>
                    <div class = "footerSection show-on-scroll-up">
                        <a class = "underlineFooter">Experience</a>
                        <div class = "linkHolderFooter">
                            <a href = "news.html">Medical Health</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "events.html">Behavioral Health</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "museum.html">COVID-19</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "girl-powered.html">Virtual Reality</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "social.html">Pet Therapy</a>
                        </div>
                    </div>
                    <div class = "footerSection show-on-scroll-up">
                        <a class = "underlineFooter">Connect</a>
                        <div class = "linkHolderFooter">
                            <a href = "privacy.html">Request a Demo</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "warranties.html">FAQ</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "accessories.html">Our Social</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "guides-manuals.html">Join Us</a>
                        </div>
                    </div>
                    <div class = "footerSection show-on-scroll-up">
                        <a class = "underlineFooter">Download App</a>
                        <div class = "learnMoreContainerRegular show-on-scroll-up footerButton">
                            <a href = "news.html" class="learnMoreButtonRegular">
                                <button>Apple</button>
                            </a>
                        </div>
                        <div class = "learnMoreContainerRegular show-on-scroll-up footerButton">
                            <a href = "news.html" class="learnMoreButtonRegular">
                                <button>Android</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class = "footerBottom">
                    <div class = "footerSocial">
                        <div class = "footerWords show-on-scroll-up">
                            <a class = "social" href="https://facebook.com/weareneolectra" target="_blank" ><i class="fab fa-facebook-f"></i></a>
                            <a class = "social" href="https://instagram.com/weareneolectra" target="_blank" ><i class="fab fa-instagram"></i></a>
                            <a class = "social" href="https://twitter.com/@weareneolectra" target="_blank" ><i class="fab fa-twitter"></i></a>
                            <a class = "social" href="https://www.youtube.com/" target="_blank" ><i class="fab fa-youtube"></i></a>
                            <a class = "social" href="https://www.pinterest.com/" target="_blank" ><i class="fab fa-pinterest"></i></a>
                            <a class = "social" href="https://www.linkedin.com/" target="_blank" ><i class="fab fa-linkedin-in"></i></a>
                        </div>
                        <div class = "copyright show-on-scroll-up">
                            <p>&copy; 2020-2021 Juanita High School </p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </footer>


        <!-- js -->
        <script src="{{ url_for('static', filename='js/fade_on_scroll.js') }}"></script>
        <script src="{{ url_for('static', filename='js/body_fade.js') }}"></script>
        <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    </body>
</html>