{% from "macros.html" import nav_link with context %}
{% from "macros.html" import nav_link_inner with context %}
{% from "macros.html" import nav_link_inner_arrow with context %}
{% from "macros.html" import nav_dropdown with context %}
{% from "macros.html" import nav_dropdown_longer with context %}
{% from "macros.html" import phone_nav with context %}
{% from "macros.html" import phone_nav_class with context %}
{% from "macros.html" import phone_nav_class_username with context %}
{% from "macros.html" import phone_dropdown with context %}
{% from "macros.html" import phone_plus with context %}
{% from "macros.html" import phone_minus with context %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Hey! You forgot a title!</title>
        {% endif %}
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/Favicon.png') }}" size = "20x20"/>
        <!-- css stylesheets -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base_media.css') }}">
        <!-- font family -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
        <!-- font awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- slick carousel -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slick.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slick-theme.css') }}"/>
        <!-- jquery -->
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- slick -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/slick.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
        <!-- scripts -->
        <script src="{{ url_for('static', filename='js/feature_slideshow.js') }}"></script>
        <script src="{{ url_for('static', filename='js/slideshow.js') }}"></script>
        <script src="{{ url_for('static', filename='js/review_slideshow.js') }}"></script>
        <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
        <script src="{{ url_for('static', filename='js/flash_messages.js') }}"></script>
        {% block head %} {% endblock %}
    </head>
    <body>
        <header id = "secondBox" class = "navbar">
            <div class = "logoBox logoWhite">
                <a class = "homepageLogo" href = "{{ url_for('index') }}"><img src = "{{ url_for('static', filename='images/LogoShadow.png')}}"></a>
            </div>
            <div class = "logoBox logoDark">
                <a class = "homepageLogo" href = "{{ url_for('index') }}"><img src = "{{ url_for('static', filename='images/LogoBlue.png')}}"></a>
            </div>
            <nav class = "secondBox">
                <ul class = "headerList">
                    <div class = "dropDownAbout">
                        {{ nav_link('about', 'About', 'dropButtonAbout') }}
                        <div class = "dropDownContentAbout fade-in">
                            <div class = "test1">
                                {{ nav_link_inner('why', 'Why Us?', 'insideButtonAbout', 'name lilShorter') }}
                            </div>
                            <div class = "test2">
                                {{ nav_link_inner('history', 'History', 'insideButtonAbout', 'name lilShorter') }}
                            </div>
                            <div class = "test3">
                                {{ nav_link_inner('leadership', 'Leadership', 'insideButtonAbout', 'name lilShorter') }}
                            </div>
                            <div class = "test4">
                                {{ nav_link_inner('providers', 'Our Providers', 'insideButtonAbout', 'name lilShorter') }}
                            </div>
                            <div class = "test5">
                                {{ nav_link_inner('ncqa', 'NCQA and ACHC', 'insideButtonAbout', 'name lilShorter') }}
                            </div>
                        </div>
                    </div>
                    <div class = "dropDownOverview">
                        {{ nav_link('treatment', 'Treatment Options', 'dropButtonOverview') }}
                        <div class = "dropDownContentOverview fade-in">
                            <div class = "test6">
                                {{ nav_link_inner_arrow('medical', 'Medical Health Solutions', 'insideButtonAbout6 shorter', 'name') }}
                                <div class = "dropDownInsideAbout6">
                                    {{ nav_dropdown('urgent', 'Urgent Care', 'name2') }}
                                    {{ nav_dropdown('mens_health', "Men's Health", 'name2') }}
                                    {{ nav_dropdown('womens', "Women's Health", 'name2') }}
                                    {{ nav_dropdown('teens_health', "Teen's Health", 'name2') }}
                                    {{ nav_dropdown('childrens_health', "Children's Health", 'name2') }}
                                </div>
                            </div>
                            <div class = "test7">
                                {{ nav_link_inner_arrow('behavioral', 'Behavioral Health Solutions', 'insideButtonAbout7 shorter', 'name') }}
                                <div class = "dropDownInsideAbout7">
                                    {{ nav_dropdown('therapy', 'Individual Therapy and Psychiatry', 'name2') }}
                                    {{ nav_dropdown('couples', "Couples Therapy", 'name2') }}
                                    {{ nav_dropdown('family', "Family Therapy", 'name2') }}
                                    {{ nav_dropdown('speech', "Speech Therapy", 'name2') }}
                                    {{ nav_dropdown('occupational', "Occupational Therapy", 'name2') }}
                                </div>
                            </div>
                            <div class = "test2">
                                {{ nav_link_inner_arrow('return_work', 'Return-to-Work Solutions', 'insideButtonAbout2 shorter', 'name') }}
                                <div class = "dropDownInsideAbout2">
                                    {{ nav_dropdown('covid_19', 'COVID-19 Testing', 'name2') }}
                                    {{ nav_dropdown('screening', 'COVID-19 Screening and Treatment', 'name2') }}     
                                </div>
                            </div>
                            <div class = "test3">
                                {{ nav_link_inner_arrow('virtual', 'Virtual Reality Solutions', 'insideButtonAbout4 shorter', 'name') }}
                                <div class = "dropDownInsideAbout3">
                                    {{ nav_dropdown('mental', 'Mental Disorders Therapy', 'name2') }}
                                    {{ nav_dropdown('physical', 'Physical Therapy', 'name2') }}
                                    {{ nav_dropdown('phobia', 'Phobia Therapy', 'name2') }}
                                </div>
                            </div>
                            <div class = "test4">
                                {{ nav_link_inner_arrow('pet', 'Pet Therapy Solutions', 'insideButtonAbout4 shorter', 'name') }}
                                <div class = "dropDownInsideAbout4">
                                    <div class = "anotherBox">
                                        {{ nav_dropdown_longer('dogs', 'Therapy Dogs', 'name2 lilShorter') }}
                                        {{ nav_dropdown_longer('cats', 'Therapy Cats', 'name2 lilShorter') }}
                                        {{ nav_dropdown_longer('rabbits', 'Therapy Rabbits', 'name2 lilShorter') }}
                                    </div>
                                </div>
                            </div>
                            <!--<div class = "test4">
                                <button class = "insideButtonAbout4 shorter fade-in" onclick="window.location.href = 'design.html'"><a class = "name" id = "lastLink" href = "design.html"> Pet Therapy Solutions </a></button>
                                    <div class = "dropDownInsideAbout4">
                                    </div>
                            </div>-->
                        </div>
                    </div>
                    <div class = "dropDownMedia">
                        {{ nav_link('how', 'How It Works', 'dropButtonMedia') }}
                        <div class = "dropDownContentMedia fade-in">
                            {{ nav_link_inner('pricing', 'Pricing and Insurance', 'insideButtonAbout', 'name lilShorter') }}
                            {{ nav_link_inner('our_app', 'Our App', 'insideButtonAbout', 'name lilShorter') }}
                        </div>
                    </div>
                    <div class = "dropDownMedia">
                        {{ nav_link('reviews', 'Reviews', 'dropButtonMedia') }}
                    </div>
                    <div class = "dropDownMedia">
                        {{ nav_link('organizations', 'Organizations', 'dropButtonMedia') }}
                        <div id = "Ownership"  class = "dropDownContentMedia fade-in">
                            {{ nav_link_inner('employer', 'Employer Groups', 'insideButtonAbout', 'name lilShorter') }}
                            {{ nav_link_inner('hospitals', 'Hospitals and Health Systems', 'insideButtonAbout', 'name lilShorter') }}
                            {{ nav_link_inner('unions', 'Unions and Associations', 'insideButtonAbout', 'name lilShorter') }}
                            {{ nav_link_inner('government', 'Government and Education', 'insideButtonAbout', 'name lilShorter') }}
                            {{ nav_link_inner('brokers', 'Brokers and Advisors', 'insideButtonAbout', 'name lilShorter') }}
                            {{ nav_link_inner('distribution', 'Distribution Partners', 'insideButtonAbout', 'name lilShorter') }}
                        </div>
                    </div>
                    <div class = "dropDownMedia">
                        {{ nav_link('news', 'News', 'dropButtonMedia') }}
                    </div>
                    <div class = "dropDownMedia">
                        {{ nav_link('blog', 'Blog', 'dropButtonMedia') }}
                    </div>
                    <div class = "dropDownMedia">
                        {{ nav_link('contact', 'Contact', 'dropButtonMedia') }}
                        <div id = "Ownership"  class = "dropDownContentMedia fade-in">
                            {{ nav_link_inner('faq', 'FAQ', 'insideButtonAbout', 'name lilShorter') }}
                            {{ nav_link_inner('social', 'Our Social', 'insideButtonAbout', 'name lilShorter') }}
                            {{ nav_link_inner('join', 'Join Us', 'insideButtonAbout', 'name lilShorter') }}
                        </div>
                    </div>
                </ul>
            </nav>
            <div class = "loginBox">
                {% if current_user.is_anonymous %}
                <a class = "homepageLogo loginThing" href = "{{ url_for('login') }}" id = "loginButton">
                    <p>Login</p><i class="far fa-user"></i>
                </a>
                {% else %}
                <a class = "homepageLogo loginThing" href = "{{ url_for('dashboard', username=current_user.username) }}" id = "loginButton">
                    <p>Dashboard</p>
                </a>
                <a class = "homepageLogo loginThing" href = "{{ url_for('logout') }}" id = "loginButton">
                    <p>Logout</p><i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>
                {% endif %}
            </div>

            <!-- Media hamburger -->
            <div class = "mediaHolder"> 
                
                <div id="hamburgerMenu" onclick="menuClicked(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                </div>
            </div>    
            <nav class = "hideNav">
                {% set aboutDropdown = ['about', 'why', 'history', 'leadership', 'providers', 'ncqa'] %}
                {% set treatmentDropdown = ['treatment', 'medical', 'urgent', 'mens_health', 'womens','teens_health', 'childrens_health', 'therapy', 'couples', 'family', 'speech', 'occupational', 'covid_19', 'screening', 'return_work', 'mental', 'physical', 'phobia', 'virtual', 'dogs', 'cats', 'horses', 'reptiles', 'birds', 'rabbits', 'pet', 'behavioral'] %}
                {% set inner_treatmentDropdown = ['urgent', 'mens_health', 'womens', 'teens_health', 'childrens_health', 'medical'] %}
                {% set inner_treatmentDropdown2 = ['therapy', 'couples', 'family', 'speech', 'occupational', 'behavioral'] %}
                {% set inner_treatmentDropdown3 = ['covid_19', 'screening', 'return_work'] %}
                {% set inner_treatmentDropdown4 = ['mental', 'physical', 'phobia', 'virtual'] %}
                {% set inner_treatmentDropdown5 = ['dogs', 'cats', 'horses', 'reptiles', 'birds', 'rabbits', 'pet'] %}

                {% set howDropdown = ['how', 'pricing', 'our_app'] %}
                {% set organizationDropdown = ['organizations', 'employer', 'hospitals', 'unions', 'government', 'brokers', 'distribution'] %}
                {% set contactDropdown = ['contact', 'faq', 'social', 'join'] %}

                <ul id="navLinks">
                    <div class = "innerNav">
                        <li>
                            {{ phone_nav_class('index', 'Home', 'firstNav') }}
                        </li>
                        <li>
                            {{ phone_nav('about', 'About Us') }}
                            <div class = "minusHolder2">
                                {{ phone_plus('#phone1', 'plus6', '#plus6', '#minus6', aboutDropdown) }}
                                {{ phone_minus('#phone1', 'minus6', '#plus6', '#minus6', aboutDropdown) }}
                            </div>
                        </li>
                            {{ phone_dropdown('phoneDropdown', 'phone1', aboutDropdown) }}
                                <li> 
                                    {{ phone_nav('why', 'Why Us') }}
                                    <!--<div class = "minusHolder2 lilMinus">
                                        <p id = "plus7" class = "plus" onclick="phoneNav('#phone5', '#plus7', '#minus7')">+</p>
                                        <p id = "minus7" class = "minus" onclick="phoneNav('#phone5', '#plus7', '#minus7')">&#8211;</p>
                                    </div>-->
                                </li>
                                <!--<div class="phoneDropdown evenSmaller" id = "phone5">
                                    <li>
                                        <a href = "#">Insert</a>
                                    </li>
                                </div> --><!-- end of history dropdown -->
                                <li> 
                                    {{ phone_nav('history', 'History') }}
                                </li>
                                <li> 
                                    {{ phone_nav('leadership', 'Leadership') }}
                                </li>
                                <li> 
                                    {{ phone_nav('providers', 'Our Providers') }}
                                </li>
                                <li> 
                                    {{ phone_nav('ncqa', 'NCQA and ACHC') }}
                                </li>                              
                            </div>
                        <li>
                            {{ phone_nav('treatment', 'Treatment Options') }}
                            <div class = "minusHolder2">
                                {{ phone_plus('#phone2', 'plus5', '#plus5', '#minus5', treatmentDropdown) }}
                                {{ phone_minus('#phone2', 'minus5', '#plus5', '#minus5', treatmentDropdown) }}
                            </div>
                        </li> 
                            {{ phone_dropdown('phoneDropdown', 'phone2', treatmentDropdown) }}
                                <li class = "phonePad"> <!-- Competitions dropdown -->
                                    {{ phone_nav('medical', 'Medical Health Solutions') }}
                                    <div class = "minusHolder2 lilMinus">
                                        {{ phone_plus('#phone11', 'plus13', '#plus13', '#minus13', inner_treatmentDropdown) }}
                                        {{ phone_minus('#phone11', 'minus13', '#plus13', '#minus13', inner_treatmentDropdown) }}
                                    </div>
                                </li>
                            {{ phone_dropdown('phoneDropdown evenSmaller', 'phone11', inner_treatmentDropdown) }}
                                <li>
                                    {{ phone_nav('urgent', 'Urgent Care') }}
                                </li>
                                <li>
                                    {{ phone_nav('mens_health', "Men's Health") }}
                                </li>
                                <li>
                                    {{ phone_nav('womens', "Women's Health") }}
                                </li>
                                <li>
                                    {{ phone_nav('teens_health', "Teen's Health") }}
                                </li>
                                <li>
                                    {{ phone_nav('childrens_health', "Children's Health") }}
                                </li>
                            </div> 
                                <li class = "phonePad"> <!-- start dropdown -->
                                    {{ phone_nav('behavioral', 'Behavioral Health Solutions') }}
                                    <div class = "minusHolder2 lilMinus">
                                        {{ phone_plus('#phone12', 'plus14', '#plus14', '#minus14', inner_treatmentDropdown2) }}
                                        {{ phone_minus('#phone12', 'minus14', '#plus14', '#minus14', inner_treatmentDropdown2) }}
                                    </div>
                                </li>
                            {{ phone_dropdown('phoneDropdown evenSmaller', 'phone12', inner_treatmentDropdown2) }}
                                <li class = "phonePad">
                                    {{ phone_nav('therapy', 'Individual Therapy and Psychiatry') }}
                                </li>
                                <li>
                                    {{ phone_nav('couples', "Couples Therapy") }}
                                </li>
                                <li>
                                    {{ phone_nav('family', "Family Therapy") }}
                                </li>
                                <li>
                                    {{ phone_nav('speech', "Speech Therapy") }}
                                </li>
                                <li>
                                    {{ phone_nav('occupational', "Occupational Therapy") }}
                                </li>
                            </div> <!-- end of dropdown -->
                            <li class = "phonePad"> <!-- start dropdown -->
                                {{ phone_nav('return_work', 'Return-to-Work Solutions') }}
                                <div class = "minusHolder2 lilMinus">
                                    {{ phone_plus('#phone13', 'plus15', '#plus15', '#minus15', inner_treatmentDropdown3) }}
                                    {{ phone_minus('#phone13', 'minus15', '#plus15', '#minus15', inner_treatmentDropdown3) }}
                                </div>
                            </li>
                            {{ phone_dropdown('phoneDropdown evenSmaller', 'phone13', inner_treatmentDropdown3) }}
                            <li>
                                {{ phone_nav('covid_19', 'COVID-19 Testing') }}
                            </li>
                            <li class = "phonePad">
                                {{ phone_nav('screening', "COVID-19 Screening and Treatment") }}
                            </li>                    
                            </div> <!-- end of dropdown -->
                            <li class = "phonePad"> <!-- start dropdown -->
                                {{ phone_nav('virtual', 'Virtual Reality Solutions') }}
                                <div class = "minusHolder2 lilMinus">
                                    {{ phone_plus('#phone14', 'plus16', '#plus16', '#minus16', inner_treatmentDropdown4) }}
                                    {{ phone_minus('#phone14', 'minus16', '#plus16', '#minus16', inner_treatmentDropdown4) }}
                                </div>
                            </li>
                            {{ phone_dropdown('phoneDropdown evenSmaller', 'phone14', inner_treatmentDropdown4) }}
                            <li>
                                {{ phone_nav('mental', 'Mental Disorders Therapy') }}
                            </li>
                            <li>
                                {{ phone_nav('physical', "Physical Therapy") }}
                            </li>                    
                            <li>
                                {{ phone_nav('phobia', "Phobia Therapy") }}
                            </li>                    
                            </div> <!-- end of dropdown -->
                            <li class = "phonePad"> <!-- start dropdown -->
                                {{ phone_nav('pet', 'Pet Therapy Solutions') }}
                                <div class = "minusHolder2 lilMinus">
                                    {{ phone_plus('#phone15', 'plus17', '#plus17', '#minus17', inner_treatmentDropdown5) }}
                                    {{ phone_minus('#phone15', 'minus17', '#plus17', '#minus17', inner_treatmentDropdown5) }}
                                </div>
                            </li>
                            {{ phone_dropdown('phoneDropdown evenSmaller', 'phone15', inner_treatmentDropdown5) }}
                            <li>
                                {{ phone_nav('dogs', 'Therapy Dogs') }}
                            </li>
                            <li>
                                {{ phone_nav('cats', 'Therapy Cats') }}
                            </li>                                        
                            <li>
                                {{ phone_nav('rabbits', 'Therapy Rabbits') }}
                            </li>                                   
                            </div> <!-- end of dropdown -->
                            </div>
                        <li>
                            {{ phone_nav('how', 'How It Works') }}
                            <div class = "minusHolder2">
                                {{ phone_plus('#phone16', 'plus18', '#plus18', '#minus18', howDropdown) }}
                                {{ phone_minus('#phone16', 'minus18', '#plus18', '#minus18', howDropdown) }}
                            </div>
                        </li>
                            {{ phone_dropdown('phoneDropdown', 'phone16', howDropdown) }}
                            <li>
                                {{ phone_nav('pricing', 'Pricing and Insurance') }}
                            </li>
                            <li>
                                {{ phone_nav('our_app', 'Our App') }}
                            </li>                                
                            </div> <!-- end of dropdown -->
                        <li>
                            {{ phone_nav('reviews', 'Reviews') }}
                        </li>
                        <li>
                            {{ phone_nav('organizations', 'Organizations') }}
                            <div class = "minusHolder2">
                                {{ phone_plus('#phone17', 'plus19', '#plus19', '#minus19', organizationDropdown) }}
                                {{ phone_minus('#phone17', 'minus19', '#plus19', '#minus19', organizationDropdown) }}
                            </div>
                        </li>
                            {{ phone_dropdown('phoneDropdown', 'phone17', organizationDropdown) }}
                                <li>
                                    {{ phone_nav('employer', 'Employer Groups') }}
                                </li>
                                <li>
                                    {{ phone_nav('hospitals', 'Hospitals and Health Systems') }}
                                </li>
                                <li>
                                    {{ phone_nav('unions', 'Unions and Associations') }}
                                </li>
                                <li>
                                    {{ phone_nav('government', 'Government and Education') }}
                                </li>
                                <li>
                                    {{ phone_nav('brokers', 'Brokers and Advisors') }}
                                </li>
                                <li>
                                    {{ phone_nav('distribution', 'Distribution Partners') }}
                                </li>
                            </div>
                        <li>
                            {{ phone_nav('news', 'News') }}
                        </li>
                        <li>
                            {{ phone_nav('blog', 'Blog') }}
                        </li>
                        <li>
                            {{ phone_nav('contact', 'Contact') }}
                            <div class = "minusHolder2">
                                {{ phone_plus('#phone18', 'plus20', '#plus20', '#minus20', contactDropdown) }}
                                {{ phone_minus('#phone18', 'minus20', '#plus20', '#minus20', contactDropdown) }}
                            </div>
                        </li>
                            {{ phone_dropdown('phoneDropdown', 'phone18', contactDropdown) }}
                                <li>
                                    {{ phone_nav('faq', 'FAQ') }}
                                </li>
                                <li>
                                    {{ phone_nav('social', 'Our Social') }}
                                </li>
                                <li>
                                    {{ phone_nav('join', 'Join Us') }}
                                </li>
                            </div>
                            
                                {% if current_user.is_anonymous %}
                                <li>
                                    {{ phone_nav('login', 'Login') }}
                                </li>
                                {% else %}
                                <li>
                                    {{ phone_nav_class_username('dashboard', 'Dashboard', 'show-on-scroll-right', current_user.username) }}
                                </li>
                                <li>
                                    {{ phone_nav('logout', 'Logout') }}
                                {% endif %}
                            
                    </div> <!-- end of inner nav -->
                </ul>
            </nav> 

        </header>
        <!-- flashed messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class = "flashHolder">
                {% for category, message in messages %} 
                    <li class = "{{ category }}" id = "fadeFlash"> {{ message }}</li>
                    <script type="text/javascript">
                        hide();
                    </script>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
        
        <footer> 
            <div class = "footerFilter">
                <div class = "footerSectionOverall">
                <div class = "footerHolder">
                    <div class = "footerSection sigh show-on-scroll-up">
                        <div class = "footerImage">
                            <img src = "{{ url_for('static', filename='images/Logo.png') }}">
                        </div>
                        <p>Online doctor visits made easy 24/7/365.</p>
                        <div class = "lilLogo">
                            <div class = "footerImage aLot">
                                <img src = "{{ url_for('static', filename='images/Phone.png') }}">
                            </div>
                            <p>1-800-NEOMEDIC</p>
                        </div>
                        <div class = "lilLogo">
                            <div class = "footerImage aLot">
                                <img src = "{{ url_for('static', filename='images/Mail.png') }}">
                            </div>
                            <a class = "lilText" href="mailto:helpdesk@neomedica.com">helpdesk@neomedica.com</a>
                        </div>
                    </div>
                    <div class = "footerSection show-on-scroll-up">
                        <a class = "underlineFooter">Learn More</a>
                        <div class = "linkHolderFooter">
                            <a href = "{{ url_for('why') }}">Why Us?</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "{{ url_for('history') }}">History</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "{{ url_for('leadership') }}">Leadership</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "{{ url_for('providers') }}">Our Providers</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "{{ url_for('ncqa') }}">NCQA and ACHC</a>
                        </div>
                    </div>
                    <div class = "footerSection rightAlign show-on-scroll-up">
                        <a class = "underlineFooter">Experience</a>
                        <div class = "linkHolderFooter">
                            <a href = "{{ url_for('medical') }}">Medical Health</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "{{ url_for('behavioral') }}">Behavioral Health</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "{{ url_for('return_work') }}">COVID-19</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "{{ url_for('virtual') }}">Virtual Reality</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "{{ url_for('pet') }}">Pet Therapy</a>
                        </div>
                    </div>
                    <div class = "footerSection show-on-scroll-up">
                        <a class = "underlineFooter">Connect</a>
                        <div class = "linkHolderFooter">
                            <a href = "{{ url_for('login') }}">Request a Demo</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "{{ url_for('faq') }}">FAQ</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "{{ url_for('social') }}">Our Social</a>
                        </div>
                        <div class = "linkHolderFooter">
                            <a href = "{{ url_for('join') }}">Join Us</a>
                        </div>
                    </div>
                    <div class = "footerSection rightAlign show-on-scroll-up">
                        <a class = "underlineFooter">Download App</a>
                        <div class = "learnMoreContainerRegular show-on-scroll-up footerButton">
                            <a href = "https://www.apple.com/shop" target = "_blank" class="learnMoreButtonRegular footerRegular">
                                <button>Apple</button>
                            </a>
                        </div>
                        <div class = "learnMoreContainerRegular show-on-scroll-up footerButton">
                            <a href = "https://play.google.com/store/apps?hl=en_US&gl=US" target = "_blank" class="learnMoreButtonRegular footerRegular">
                                <button>Android</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class = "footerBottom">
                    <div class = "footerSocial">
                        <div class = "footerWords show-on-scroll-up">
                            <a class = "social" href="https://www.facebook.com/" target="_blank" ><i class="fab fa-facebook-f"></i></a>
                            <a class = "social" href="https://www.instagram.com/neomedica_us/" target="_blank" ><i class="fab fa-instagram"></i></a>
                            <a class = "social" href="https://twitter.com/neomedica_us" target="_blank" ><i class="fab fa-twitter"></i></a>
                            <a class = "social" href="https://www.youtube.com/" target="_blank" ><i class="fab fa-youtube"></i></a>
                            <a class = "social" href="https://www.pinterest.com/" target="_blank" ><i class="fab fa-pinterest"></i></a>
                            <a class = "social" href="https://www.linkedin.com/" target="_blank" ><i class="fab fa-linkedin-in"></i></a>
                        </div>
                        <div class = "copyright show-on-scroll-up">
                            <p>&copy; 2020-2021 Neomedica </p>
                            <p> <a href = "https://drive.google.com/file/d/1a6WjzmC6nN22XkOZH9x1Lub5L7aLkJ8s/view?usp=sharing" target = "_blank">Plan of Work Log</a> | 
                            <a href = "https://drive.google.com/file/d/1P12FPuNfKNAW2NW83eRjl6GXrbgnuEZN/view?usp=sharing" target = "_blank">Works Cited</a> | <a href = "https://drive.google.com/file/d/1Sy8FfZHdCK1h5Nf174abp_zwXUcAJpyh/view?usp=sharing" target = "_blank">Student Copyright Checklist</a></p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </footer>


        <!-- js -->
        <script src="{{ url_for('static', filename='js/fade_on_scroll.js') }}"></script>
        <script src="{{ url_for('static', filename='js/body_fade.js') }}"></script>
        <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    </body>
</html>