{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/medical.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/behavioral.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/medical_media.css') }}">
{% endblock %}

{% block childcontent %}
<div class = "firstSection"> 
    <div class = "impactTitle show-on-scroll-up">
        <h2> Our Options </h2>
    </div>
    <div class = "treatmentText">
        <p class = "show-on-scroll-left">We get it. The pandemic has been tough on all of us. When’s the vaccine coming out? Which phase of the rollout am I in? When can I go back to school again? Things have been difficult, but in this time, it’s important that we all prioritize and take care of our mental health. As trying as these times may be, Neomedica will always be here to help. That’s why we offer a wide selection of behavioral health solutions, ranging from individual therapy to couples therapy to family therapy. We want to ensure that all of our patients and their loved ones have the proper care they need to stay grounded and positive, even when the world around us may not always be that way. Below, you’ll find our different treatment options. We encourage you to explore all of them and choose what works best for you. </p>
    </div>
</div>
<div class = "lastSection">
    <div class = "backgroundSection2">
        <div class = "learnContainer">
            <div class = "learnMoreContainer show-on-scroll-up">
            <a href = "{{ url_for('therapy') }}" class = "competitionLink"> 
                <div class = "competition">
                    <div class = "Filter">
                        <h4>Individual Therapy and Psychiatry</h4>
                    </div>
                </div>
            </a>
            <a href = "{{ url_for('couples') }}" class = "eventsLink">
                <div class = "events">
                    <div class = "Filter colorFilter">
                        <h4>Couple's Therapy</h4>
                    </div>
                </div>
            </a>
            <a id = "outreach" href = "{{ url_for('family') }}" class = "programsLink">
                <div class = "programs">
                    <div class = "Filter">
                        <h4>Family Therapy</h4>
                    </div>
                </div>
            </a>
            <a id = "challenges" href = "{{ url_for('speech') }}" class = "programsLink">
                <div class = "programs">
                    <div class = "Filter">
                        <h4>Speech Therapy</h4>
                    </div>
                </div>
            </a>
            <a id = "challenges" href = "{{ url_for('occupational') }}" class = "programsLink">
                <div class = "programs">
                    <div class = "Filter lastFilter">
                        <h4>Occupational Therapy</h4>
                    </div>
                </div>
            </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}