{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/organization_default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/brokers.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/organization_default_media.css') }}">
{% endblock %}

{% block childcontent %}
<div class = "firstSection">
    <div class = "treatmentBox show-on-scroll-right">
        <div class = "imageHolder pic1">
        </div>
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Save money </h2>
                </div>
                <p class = "innerText show-on-scroll-up">We provide packages for all kinds of employer groups. Providing customizable and flexible package, we help reduce healthcare costs. </p>
                <!--<div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    <a href = "{{ url_for('leadership_bio', leader='Sammy' )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                </div>-->
            </div>
        </div>
    </div>
    <div class = "treatmentBox reverseWrap show-on-scroll-left">
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Streamlined </h2>
                </div>
                <p class = "innerText show-on-scroll-up">Our entire process is streamlined, it can be effortlessly integrated to both new and existing health plans. We provide meaningful data directly through a simple user interface to employers and groups, so you always know what’s going on with your services.</p>
            </div>
        </div>
        <div class = "imageHolder pic2">
        </div>
    </div>
    <div class = "treatmentBox show-on-scroll-right">
        <div class = "imageHolder pic3">
        </div>
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Effective </h2>
                </div>
                <p class = "innerText show-on-scroll-up">Demani tech is one of the latest companies to invest in Neomedica telehealth. Out of their 10,000+ employees, 47% have utilized our services, generating a 112% ROI. Your company could be next! </p>
            </div>
        </div>
    </div>
</div>
<div class = "firstSection demoSection anotherDemo">
    <div class = "demoTransparent">
        <div class = "simpleSucks leftSucks">
            <h2 class = "show-on-scroll-up">Request a Demo </h2> 
            <h3 class = "show-on-scroll-up">Discover the Neomedica difference.</h3>
            <div class = "learnMoreContainerRegular whiteButton show-on-scroll-up providerButton">
                <a href = "{{ url_for('login' )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}