{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/urgent.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pet_media.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cat.css') }}">
    <script src="{{ url_for('static', filename='js/animal_slideshow.js') }}"></script>
{% endblock %}

{% block childcontent %}
<div class = "thirdSection">
    <div class = "impactTitle show-on-scroll-up">
        <h2> Certified Cats </h2>
    </div>
    <div class = "animalSection">
        <p class = "show-on-scroll-right">Animal assisted therapy dates back to 17th century Greece, where horses were used to lift the physical and mental spirits of severely ill people. In wartime America during the second World War, the Red Cross worked with the Army Air Corps to found a farm where recovering soldiers could interact and coexist with animals while recuperating from physical and mental trauma. Historically, animals have been thought to be excellent sources of comfort for humans. Scroll to learn more about Neomedica’s extensive and proven use of therapy cats and see if you qualify for a therapy cat. </p>
        <h3 class = "show-on-scroll-right">What are Therapy Cats?</h3>
        <p class = "show-on-scroll-right">Therapy cats are any trained felines that aid humans in emotional support through interaction. Cat therapy is often practiced in senior care homes, rehab centers, detention centers, and a number of other areas. They can help prevent a variety of types of suffering, including depression, anxiety, and phobias. Neomedica can refer you to trained, professionally certified, and trustworthy therapy cats. Call 1-800-NEOMEDIC to consult a physician. </p>
        <div class = "animalImage show-on-scroll-left">
            <img src = "{{ url_for('static', filename='images/TherapyCat.jpeg') }}">
        </div>
        <h3 class = "show-on-scroll-right">How They Help</h3>
        <p class = "show-on-scroll-right">The benefits of cat therapy are largely linked to the levels of serotonin and oxytocin released when stroking their fur. According to Patricia Pendry, a Washington State University researcher, “one-on-one and group interactions with animals have reduced individuals' cortisol levels in therapeutic and health care settings”. In their study, just ten minutes stroking a cat’s fur led to a significant decrease in stress levels and a notable increase in pleasure.   </p>
    </div>
</div>
<div class = "try">
    <div class = "tryFilter">
        <div class = "impactTitle whiteTitle show-on-scroll-up">
            <h2> Wanna Try? </h2>
        </div>
        <div class = "trySection show-on-scroll-right">
            <p>Scroll down to either of the two photo galleries, take a couple of deep breaths, find your favorite cats, and gaze into their eyes! Press the play button below if you would like to listen to some music at the same time. Some music releases oxytocin as well!</p>
        </div>
        <audio class = "music show-on-scroll-left" src = "{{ url_for('static', filename='images/Music.mp3') }}" controls type="audio/mp3"></audio>
    </div>
</div>
<div class = "thirdSection lessSectionPad">
    <div class = "impactTitle show-on-scroll-up">
        <h2> Neomedica Therapy Teams </h2>
    </div>
    <div class = "featureLargeBox show-on-scroll-up moreSpaceTop centerBox">
        <div class="animalContainer testFeature animal1">
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox noShadow">
                        <img src="{{ url_for('static', filename='images/CatUp.jpeg') }}">
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox noShadow">
                        <img src="{{ url_for('static', filename='images/Chonk.jpeg') }}">
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox noShadow">
                        <img src="{{ url_for('static', filename='images/Kitten.jpeg') }}">
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox noShadow">
                        <img src="{{ url_for('static', filename='images/GreyCat.jpeg') }}">
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox noShadow">
                        <img src="{{ url_for('static', filename='images/CuteCat.jpeg') }}">
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox noShadow">
                        <img src="{{ url_for('static', filename='images/GreenEyes.jpg') }}">
                    </div>
                </div>
            </div>       
        </div>
    </div>
    <div class = "featureLargeBox show-on-scroll-up noPadTop">
        <a class="reviewPrev 1Prev"><i class="fa fa-angle-left"></i></a>
        <div class="animalContainerFor animal1For">
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/CatUp.jpeg') }}">
                        <h2>Kit Kat</h2>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/Chonk.jpeg') }}">
                        <h2>Mr. Bubbles</h2>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/Kitten.jpeg') }}">
                        <h2>Munchkin</h2>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/GreyCat.jpeg') }}">
                        <h2>Pixie</h2>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/CuteCat.jpeg') }}">
                        <h2>Muffin</h2>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/GreenEyes.jpg') }}">
                        <h2>Houdini</h2>
                    </div>
                </div>
            </div>       
        </div>
        <a class="reviewNext 1Next"><i class="fa fa-angle-right"></i></a>
    </div>
</div>
<div class = "thirdSection noTop">
    <div class = "impactTitle show-on-scroll-up">
        <h2> High Quality Training </h2>
    </div>
    <div class = "animalSection">
        <p class = "show-on-scroll-right">Neomedica proudly trains dozens of cats in our high-quality facilities. We ensure that hostile behavior is avoided during video calls. Additionally, you may call 1-800-NEOMEDIC to see if you qualify for a therapy cat, and we will refer you to a trusted provider such as the Delta Society.</p>
    </div>
</div>

{% endblock %}