{% extends "default.html" %}

{% block head %}
    {{ super() }} <!-- Have to include the super to get the default css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact_media.css') }}">
{% endblock %}

{% block childcontent %}
<div class = "firstSection">
    <div class = "impactTitle show-on-scroll-up">
        <h2>We're here to help</h2>
    </div>
    <div class = "aboutUsArticle show-on-scroll-right">
        <p>Neomedica makes it easy for you to talk to doctors no matter where you are. To see if you qualify for a certain type of therapy, have any questions, please do not hesitate to call us at 1-800-NEOMEDIC. Alternatively, you may can give us an email at <a class = "contactUsLink" href="mailto:helpdesk@neomedica.com">helpdesk@neomedica.com</a>.</p>
        <p>Neomedica does not store public directories for staff phone numbers or emails. If you wish to get in touch with a specific staff member you can contact our general telephone or email and the operator will help in connecting you.  </p>
    </div>
    <div class="mapouter">
        <div class="gmap_canvas show-on-scroll-left">
            <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=14840%20NE%2095th%20St%2C%20Redmond%2C%20WA%2098052&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <a href="https://ytify.com"></a>
        </div>
    </div>
</div>
{% endblock %}