{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/urgent.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/urgent_media.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/covid.css') }}">
{% endblock %}

{% block childcontent %}
<div class = "firstSection demoSection">
    <div class = "simpleSucks">
        <h2 class = "show-on-scroll-up">Reliable testing, all from the comfort of your home. </h2> 
    </div>
</div>
<div class = "secondSection">
    <div class = "treatmentBox show-on-scroll-right lastBox">
        <div class = "imageHolder pic1">
        </div>
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> COVID-19 Testing </h2>
                </div>
                <p class = "innerText show-on-scroll-up">After the hectic year that was 2020, there’s not a lot to be sure about. The virus turned our lives upside down, and just as we thought that cases were trending down and we would be able to reopen, they spiked. It can be frustrating, especially as someone who always does their part to wash their hands, wear a mask, and socially distance as much as possible. </p>

                <p class = "show-on-scroll-up">Neomedica realized this sentiment, and we acted. Our high-quality testing program ensures that you’ll be able to get a test quickly and reliably, all from the comfort of your home. Simply request a kit on our website and we will mail it to your address in 3 days or less! You’ll always be able to view your results 3 days after we process your test. If you test positive, Neomedica is still here to help; we provide screening and treatment options as well!  </p>

                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    {% if current_user.is_anonymous %}
                        <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% else %}
                        <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "firstSection demoSection anotherDemo">
    <div class = "simpleSucks leftSucks">
        <h2 class = "show-on-scroll-up">Ready to start treatment? </h2> 
        <h3 class = "show-on-scroll-up">Request a visit quickly and privately.</h3>
        <div class = "learnMoreContainerRegular leftAlign whiteButton show-on-scroll-up providerButton">
            {% if current_user.is_anonymous %}
                <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
            {% else %}
                <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
            {% endif %}
        </div>
    </div>
    <div class = "registerImage show-on-scroll-up">
        <img src = "{{ url_for('static', filename='images/Thumb.png') }}">
    </div>
</div>
{% endblock %}