{% extends "wiki.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wiki_page.css') }}"> 
{% endblock %}

{% block content %}
    {{ super() }}
    <div class = "firstSection"> 
        <div class = "pageNav show-on-scroll-right">
            <p>
                <a class = "changeColor" href = "{{ url_for('medical') }}">Medical Health Solutions</a>
                /
                <a class = "changeColor" href = "{{ url_for('mens_health') }}">Men's Health</a>
                /
                <a href = "{{ url_for('mens_health_condition', condition='dandruff') }}"><b class = "bold">Dandruff</b></a>
            </p>
        </div>
        <div class = "impactTitle show-on-scroll-right">
            <h2> Dandruff </h2>
        </div>
        <div class = "conditionSection">
            <div class = "conditionText">
                <h3 class = "show-on-scroll-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Sed do eiusmod tempor </h3>
                <h4 class = "show-on-scroll-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h4>
                <p class = "show-on-scroll-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proidentid est laborum.</p>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton show-on-scroll-right">
                    <a href = "{{ url_for('leadership_bio', leader='Sammy' )}}" class="learnMoreButtonRegular"><button>Get Treated Now</button></a>
                </div>
            </div>
            <div class = "conditionImage show-on-scroll-left">
                <img src = "{{ url_for('static', filename='images/CircularFiller.png') }}">
            </div>
        </div>
        <div class = "conditionSection noFlex">
            <h3 class = "show-on-scroll-right">What is dandruff?</h3>
            <p class = "show-on-scroll-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proidentid est laborum.</p>
            <p class = "show-on-scroll-right">Nunc sed blandit libero volutpat sed cras ornare arcu dui. Ornare quam viverra orci sagittis eu volutpat. Sed sed risus pretium quam vulputate dignissim suspendisse in est. Mauris nunc congue nisi vitae suscipit. A scelerisque purus semper eget. Ante metus dictum at tempor commodo ullamcorper. Blandit libero volutpat sed cras ornare arcu dui.</p>
        </div>
        <div class = "conditionSection noFlex lessSection show-on-scroll-right">
            <h3 class = "show-on-scroll-right">What causes dandruff?</h3>
            <p class = "show-on-scroll-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proidentid est laborum.</p>
            <p class = "show-on-scroll-right">Nunc sed blandit libero volutpat sed cras ornare arcu dui. Ornare quam viverra orci sagittis eu volutpat. Sed sed risus pretium quam vulputate dignissim suspendisse in est. Mauris nunc congue nisi vitae suscipit. A scelerisque purus semper eget. Ante metus dictum at tempor commodo ullamcorper. Blandit libero volutpat sed cras ornare arcu dui.</p>
            <p class = "show-on-scroll-right">Nunc sed blandit libero volutpat sed cras ornare arcu dui. Ornare quam viverra orci sagittis eu volutpat. Sed sed risus pretium quam vulputate dignissim suspendisse in est. Mauris nunc congue nisi vitae suscipit. A scelerisque purus semper eget. Ante metus dictum at tempor commodo ullamcorper. Blandit libero volutpat sed cras ornare arcu dui.</p>
            <ul class = "conditionList">
                <li class = "show-on-scroll-right">Insert Text Insert Text Insert Text</li>
                <li class = "show-on-scroll-right">Insert Text Insert Text Insert Text</li>
                <li class = "show-on-scroll-right">Insert Text Insert Text Insert Text</li>
                <li class = "show-on-scroll-right">Insert Text Insert Text Insert Text</li>
            </ul>
            <p class = "show-on-scroll-right">Nunc sed blandit libero volutpat sed cras ornare arcu dui. Ornare quam viverra orci sagittis eu volutpat. Sed sed risus pretium quam vulputate dignissim suspendisse in est. Mauris nunc congue nisi vitae suscipit. A scelerisque purus semper eget. Ante metus dictum at tempor commodo ullamcorper. Blandit libero volutpat sed cras ornare arcu dui.</p>
        </div>   
        <div class = "conditionSection noFlex lessSection">
            <h3 class = "show-on-scroll-right">Signs and symptoms of dandruff</h3>
            <p class = "show-on-scroll-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proidentid est laborum.</p>
            <p class = "show-on-scroll-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proidentid est laborum.</p>
        </div>  
        <div class = "conditionSection noFlex lessSection show-on-scroll-right">
            <h3 class = "show-on-scroll-right">Prevention of dandruff</h3>
            <p class = "show-on-scroll-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proidentid est laborum.</p>
            <ul class = "conditionList">
                <li class = "show-on-scroll-right">Insert Text Insert Text Insert Text</li>
                <li class = "show-on-scroll-right">Insert Text Insert Text Insert Text</li>
                <li class = "show-on-scroll-right">Insert Text Insert Text Insert Text</li>
                <li class = "show-on-scroll-right">Insert Text Insert Text Insert Text</li>
                <li class = "show-on-scroll-right">Insert Text Insert Text Insert Text</li>
                <li class = "show-on-scroll-right">Insert Text Insert Text Insert Text</li>
            </ul>
            <p class = "show-on-scroll-right">Nunc sed blandit libero volutpat sed cras ornare arcu dui. Ornare quam viverra orci sagittis eu volutpat. Sed sed risus pretium quam vulputate dignissim suspendisse in est. Mauris nunc congue nisi vitae suscipit. A scelerisque purus semper eget. Ante metus dictum at tempor commodo ullamcorper. Blandit libero volutpat sed cras ornare arcu dui.</p>
        </div>  
        <div class = "conditionSection noFlex lessSection">
            <h3 class = "show-on-scroll-right">Treatment of dandruff</h3>
            <p class = "show-on-scroll-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proidentid est laborum.</p>
            <p class = "show-on-scroll-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proidentid est laborum.</p>
        </div> 
        <div class = "conditionSection noFlex lessSection show-on-scroll-right">
            <h3 class = "show-on-scroll-right">When should I call a doctor?</h3>
            <p class = "show-on-scroll-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proidentid est laborum.</p>
            <ul class = "conditionList">
                <li class = "show-on-scroll-right">Insert Text Insert Text Insert Text</li>
                <li class = "show-on-scroll-right">Insert Text Insert Text Insert Text</li>
                <li class = "show-on-scroll-right">Insert Text Insert Text Insert Text</li>
                <li class = "show-on-scroll-right">Insert Text Insert Text Insert Text</li>
                <li class = "show-on-scroll-right">Insert Text Insert Text Insert Text</li>
                <li class = "show-on-scroll-right">Insert Text Insert Text Insert Text</li>
            </ul>
            <p class = "show-on-scroll-right">Nunc sed blandit libero volutpat sed cras ornare arcu dui. Ornare quam viverra orci sagittis eu volutpat. Sed sed risus pretium quam vulputate dignissim suspendisse in est. Mauris nunc congue nisi vitae suscipit. A scelerisque purus semper eget. Ante metus dictum at tempor commodo ullamcorper. Blandit libero volutpat sed cras ornare arcu dui.</p>
        </div> 
    </div>
{% endblock %}