{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/urgent.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pet_media.css') }}">
    <script src="{{ url_for('static', filename='js/animal_slideshow.js') }}"></script>
{% endblock %}

{% block childcontent %}
<div class = "thirdSection">
    <div class = "impactTitle show-on-scroll-up">
        <h2> Therapy Dogs </h2>
    </div>
    <div class = "animalSection">
        <p class = "show-on-scroll-right">Animal assisted therapy dates back to 17th century Greece, where horses were used to lift the physical and mental spirits of severely ill people. In wartime America during World War II, the Red Cross worked with the Army Air Corps to found a farm where recovering soldiers could interact and coexist with animals while recuperating from physical and mental trauma. Historically, animals have been thought to be excellent sources of comfort for humans. Scroll to learn more about Neomedica’s extensive and proven use of therapy dogs and see if you qualify for a therapy dog. </p>
        <h3 class = "show-on-scroll-right">What are Therapy Dogs?</h3>
        <p class = "show-on-scroll-right">Therapy dogs are any trained canines that aid humans in emotional support through interaction. Dog therapy is often practiced in senior care homes, rehab centers, detention centers, and several other areas. They can help prevent a variety of types of suffering, including depression, anxiety, and phobias. Neomedica can refer you to trained, professionally certified, and trustworthy therapy dogs. Call 1-800-NEOMEDIC to consult a physician.  </p>
        <div class = "animalImage show-on-scroll-left">
            <img src = "{{ url_for('static', filename='images/SleepingPups.jpeg') }}">
        </div>
        <h3 class = "show-on-scroll-right">Gazing into a dog's eyes reduces anxiety</h3>
        <p class = "show-on-scroll-right">If you are recovering from a mental or physical condition, you may be under a large amount of stress or trauma from it. Therapy dogs help relieve this stress by being providing comfort and relaxation that allows you to escape stress and simply focus on the dog. Research shows that therapy dogs are effective in improving the mental health and well-being of those around them. In addition, research also shows that looking into a dog’s eyes releases antidepressants such as dopamine in the body and allows the patient to feel more compassionate about other people and feel uplifted. This can also bring about a sense of calm that counteracts and eventually replaces stress and trauma.  </p>
    </div>
</div>
<div class = "try">
    <div class = "tryFilter">
        <div class = "impactTitle whiteTitle show-on-scroll-up">
            <h2> Wanna Try? </h2>
        </div>
        <div class = "trySection show-on-scroll-right">
            <p>Scroll down to either of the two photo galleries, take a couple of deep breaths, find your favorite pups, and gaze into their eyes! Press the play button below if you would like to listen to some music at the same time. Some music releases oxytocin as well!</p>
        </div>
        <audio class = "music show-on-scroll-left" src = "{{ url_for('static', filename='images/Music.mp3') }}" controls type="audio/mp3"></audio>
    </div>
</div>
<div class = "thirdSection lessSectionPad">
    <div class = "impactTitle show-on-scroll-up">
        <h2> Neomedica Therapy Teams </h2>
    </div>
    <div class = "featureLargeBox show-on-scroll-up moreSpaceTop centerBox">
        <div class="animalContainer testFeature animal1">
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox noShadow">
                        <img src="{{ url_for('static', filename='images/BorderTerrier.jpeg') }}">
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox noShadow">
                        <img src="{{ url_for('static', filename='images/Goldie.jpeg') }}">
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox noShadow">
                        <img src="{{ url_for('static', filename='images/Begging.jpeg') }}">
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox noShadow">
                        <img src="{{ url_for('static', filename='images/Heart.jpeg') }}">
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox noShadow">
                        <img src="{{ url_for('static', filename='images/Beagle.jpeg') }}">
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox noShadow">
                        <img src="{{ url_for('static', filename='images/Hey.jpeg') }}">
                    </div>
                </div>
            </div>       
        </div>
    </div>
    <div class = "featureLargeBox show-on-scroll-up noPadTop">
        <a class="reviewPrev 1Prev"><i class="fa fa-angle-left"></i></a>
        <div class="animalContainerFor animal1For">
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/BorderTerrier.jpeg') }}">
                        <h2>Biscuit</h2>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/Goldie.jpeg') }}">
                        <h2>Wafer</h2>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/Begging.jpeg') }}">
                        <h2>Dumpling</h2>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/Heart.jpeg') }}">
                        <h2>Basil</h2>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/Beagle.jpeg') }}">
                        <h2>Bagel</h2>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/Hey.jpeg') }}">
                        <h2>Oreo</h2>
                    </div>
                </div>
            </div>       
        </div>
        <a class="reviewNext 1Next"><i class="fa fa-angle-right"></i></a>
    </div>
</div>
<div class = "thirdSection noTop">
    <div class = "impactTitle show-on-scroll-up">
        <h2> High Quality Training </h2>
    </div>
    <div class = "animalSection">
        <p class = "show-on-scroll-right">Neomedica proudly trains dozens of dogs in our high-quality facilities to ensure that hostile behavior is avoided during video calls and a sense of calming is always provided. Additionally, you may call 1-800-NEOMEDIC to see if you qualify for a therapy dog, and we will refer you to a trusted provider such as the Alliance of Therapy Dogs.</p>
    </div>
</div>
<div class = "thirdSection lessSectionPad noTopPad">
    <div class = "impactTitle show-on-scroll-up">
        <h2> Pups in Training </h2>
    </div>
    <div class = "featureLargeBox show-on-scroll-up moreSpaceTop centerBox">
        <div class="animalContainer testFeature animal2">
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox noShadow">
                        <img src="{{ url_for('static', filename='images/WhiteLab.jpeg') }}">
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox noShadow">
                        <img src="{{ url_for('static', filename='images/HuskyPup.jpeg') }}">
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox noShadow">
                        <img src="{{ url_for('static', filename='images/LilCutie.jpg') }}">
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox noShadow">
                        <img src="{{ url_for('static', filename='images/Aww.jpeg') }}">
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox noShadow">
                        <img src="{{ url_for('static', filename='images/Grump.jpeg') }}">
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox noShadow">
                        <img src="{{ url_for('static', filename='images/Eyes.jpeg') }}">
                    </div>
                </div>
            </div>       
        </div>
    </div>
    <div class = "featureLargeBox show-on-scroll-up noPadTop">
        <a class="reviewPrev 2Prev"><i class="fa fa-angle-left"></i></a>
        <div class="animalContainerFor animal2For">
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/WhiteLab.jpeg') }}">
                        <h2>Coconut</h2>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/HuskyPup.jpeg') }}">
                        <h2>Waffles</h2>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/LilCutie.jpg') }}">
                        <h2>Mochi</h2>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/Aww.jpeg') }}">
                        <h2>Tofu</h2>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/Grump.jpeg') }}">
                        <h2>Caramel</h2>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/Eyes.jpeg') }}">
                        <h2>Pickles</h2>
                    </div>
                </div>
            </div>       
        </div>
        <a class="reviewNext 2Next"><i class="fa fa-angle-right"></i></a>
    </div>
</div>
{% endblock %}