{% extends "default.html" %}

{% block head %}
    {{ super() }} <!-- Have to include the super to get the default css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/faq.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/faq_media.css') }}">
    <script src="{{ url_for('static', filename='js/toggle.js')}}"></script> 
    <script src="{{ url_for('static', filename='js/faq.js')}}"></script> 
{% endblock %}

{% block childcontent %}
<div class = "firstSection">
    <div class = "impactTitle show-on-scroll-up">
        <h2> View answers by topic </h2>
    </div>
    <div class = "topics show-on-scroll-right">
        <a id = "serviceLink" class = "topicLink serviceLink firstLink" rel = "hello">Service</a>
        <a id = "treatmentLink" class = "topicLink treatmentLink" rel = "hello2">Treatment</a>
        <a id = "prescriptionLink" class = "topicLink prescriptionLink" rel = "hello3">Prescriptions</a>
        <a id = "covidLink" class = "topicLink covidLink" rel = "hello4">COVID-19</a>
    </div>
    <div class = "overallHolder">
        <div id = "hello" class = "questionSection serviceSection">
            <div class = "eachQuestion show-on-scroll-left">
                <div class = "buttonTopHolder">
                    <button class = "hide" id="Hide"  onclick="toggle('.inside1', '.vert1')">When should I use Neomedica?</button>
                    <div class = "minusHolder">
                        <p id = "showMinus" class = "horizontalMinus"  onclick="toggle('.inside1', '.vert1')">&minus;</p>
                        <p id = "hideMinus" class = "verticalMinus vert1"  onclick="toggle('.inside1', '.vert1')">&minus;</p>
                    </div>
                </div>
                <div class="insideInfo inside1 show-on-scroll-up">
                    <div class = "detailSection">
                        <p> Any instance where you find yourself unable to visit a doctor in person, Neomedica is a perfectly suitable alternative. This might include, but is not limited to, doctor’s office closures, vacations, time constraints, urgent care visits, or simply convenience preferences. <b>If you are experiencing a medical emergency, do not use Neomedica – dial 911 or visit the closest emergency room immediately. </b></p>
                    </div> 
                </div>
            </div>
            <div class = "eachQuestion show-on-scroll-left">
                <div class = "buttonTopHolder">
                    <button class = "hide" id="Hide"  onclick="toggle('.inside2', '.vert2')">How can I schedule an appointment or contact my physician for a consultation? </button>
                    <div class = "minusHolder">
                        <p id = "showMinus" class = "horizontalMinus"  onclick="toggle('.inside2', '.vert2')">&minus;</p>
                        <p id = "hideMinus" class = "verticalMinus vert2"  onclick="toggle('.inside2', '.vert2')">&minus;</p>
                    </div>
                </div>
                <div class="insideInfo inside2 show-on-scroll-up">
                    <div class = "detailSection">
                        <p> Click <a class = "blogLink" href="{{ url_for('login') }}">here</a> to visit your dashboard and schedule appointments – select a date, time, and preferred physician. You may optionally update your medical health records beforehand to save time during your appointment. Alternatively, you can call 1-800-NEOMEDIC to schedule a time to meet virtually. </p>
                    </div> 
                </div>
            </div>
            <div class = "eachQuestion show-on-scroll-left">
                <div class = "buttonTopHolder">
                    <button class = "hide" id="Hide"  onclick="toggle('.inside3', '.vert3')">What time of day can I use Neomedica? </button>
                    <div class = "minusHolder">
                        <p id = "showMinus" class = "horizontalMinus"  onclick="toggle('.inside3', '.vert3')">&minus;</p>
                        <p id = "hideMinus" class = "verticalMinus vert3"  onclick="toggle('.inside3', '.vert3')">&minus;</p>
                    </div>
                </div>
                <div class="insideInfo inside3 show-on-scroll-up">
                    <div class = "detailSection">
                        <p>We believe that healthcare, no matter how urgent, is a right of all people no matter where they are or what time zone that they live in. Thus, Neomedica is available 24 hours per day, 7 days a week, and 365 days a year. </p>
                    </div> 
                </div>
            </div>
            <div class = "eachQuestion show-on-scroll-left">
                <div class = "buttonTopHolder">
                    <button class = "hide" id="Hide"  onclick="toggle('.inside11', '.vert11')">Can I cancel an appointment at any time? </button>
                    <div class = "minusHolder">
                        <p id = "showMinus" class = "horizontalMinus"  onclick="toggle('.inside11', '.vert11')">&minus;</p>
                        <p id = "hideMinus" class = "verticalMinus vert11"  onclick="toggle('.inside11', '.vert11')">&minus;</p>
                    </div>
                </div>
                <div class="insideInfo inside11 show-on-scroll-up">
                    <div class = "detailSection">
                        <p> Yes! Neomedica offers flexible appointment bookings and cancellations. Simply call 1-800-NEOMEDIC to cancel. As long as you call to cancel or reschedule at least 48 hours before your appointment, it is completely free. Any cancellations within 48 hours of your appointment will require a $15 cancellation fee.</b></p>
                    </div> 
                </div>
            </div>
            <div class = "eachQuestion show-on-scroll-left">
                <div class = "buttonTopHolder">
                    <button class = "hide" id="Hide"  onclick="toggle('.inside12', '.vert12')">Is there anything I need to do before my visit? </button>
                    <div class = "minusHolder">
                        <p id = "showMinus" class = "horizontalMinus"  onclick="toggle('.inside12', '.vert12')">&minus;</p>
                        <p id = "hideMinus" class = "verticalMinus vert12"  onclick="toggle('.inside12', '.vert12')">&minus;</p>
                    </div>
                </div>
                <div class="insideInfo inside12 show-on-scroll-up">
                    <div class = "detailSection">
                        <p> No – your doctor will ask any and all questions during your visit. If you’d like to save time during your appointment though, you may input all known medical conditions, surgical history, and allergies in your health profile. This will let you skip this step during the meeting itself. </p>
                    </div> 
                </div>
            </div>
            <div class = "eachQuestion show-on-scroll-left">
                <div class = "buttonTopHolder">
                    <button class = "hide" id="Hide"  onclick="toggle('.inside13', '.vert13')">Is my health information on Neomedica kept private?  </button>
                    <div class = "minusHolder">
                        <p id = "showMinus" class = "horizontalMinus"  onclick="toggle('.inside13', '.vert13')">&minus;</p>
                        <p id = "hideMinus" class = "verticalMinus vert13"  onclick="toggle('.inside13', '.vert13')">&minus;</p>
                    </div>
                </div>
                <div class="insideInfo inside13 show-on-scroll-up">
                    <div class = "detailSection">
                        <p>Yes – our systems are 100% private and will never be shared without your explicit consent. You need not fret over privacy or security issues. Unlike other telemedicine providers that sell your information to insurance companies, Neomedica is integrous. </p>
                    </div> 
                </div>
            </div>
            <div class = "eachQuestion show-on-scroll-left">
                <div class = "buttonTopHolder">
                    <button class = "hide" id="Hide"  onclick="toggle('.inside14', '.vert14')">What do I do if I experience lag/delay during my appointment?   </button>
                    <div class = "minusHolder">
                        <p id = "showMinus" class = "horizontalMinus"  onclick="toggle('.inside14', '.vert14')">&minus;</p>
                        <p id = "hideMinus" class = "verticalMinus vert14"  onclick="toggle('.inside14', '.vert14')">&minus;</p>
                    </div>
                </div>
                <div class="insideInfo inside14 show-on-scroll-up">
                    <div class = "detailSection">
                        <p> Start by informing your doctor. Know that your appointment time will be extended to compensate for any time lost to lag or delay. Try moving closer to your router. If needed, restart your browser and/or computer and router. If problems persist, you may reschedule your meeting free of charge. </p>
                    </div> 
                </div>
            </div>
        </div>
        <div id = "hello2" class = "questionSection treatmentSection">
            <div class = "eachQuestion show-on-scroll-left">
                <div class = "buttonTopHolder">
                    <button class = "hide" id="Hide"  onclick="toggle('.inside4', '.vert4')">What kind of telemedicine options are available virtually? </button>
                    <div class = "minusHolder">
                        <p id = "showMinus" class = "horizontalMinus"  onclick="toggle('.inside4', '.vert4')">&minus;</p>
                        <p id = "hideMinus" class = "verticalMinus vert4"  onclick="toggle('.inside4', '.vert4')">&minus;</p>
                    </div>
                </div>
                <div class="insideInfo inside4 show-on-scroll-up">
                    <div class = "detailSection">
                        <p>We at Neomedica make the most out of telemedicine and telehealth. To curb physical issues such as injury, aches and pains, and soreness, your therapy will involve relaxing, soothing physical exercises that your therapist will guide you through – these are conducted over video calls or virtual reality if you choose. To address medical issues like nausea, diarrhea, cold, flu, headaches, or any other such problem, you may virtually visit a physician for an in-depth medical appointment or diagnosis. Finally, for mental health issues like depression, anxiety, and phobias, Neomedica offers 24/7 counseling and pet therapy for everyone regardless of age or relationship status.</p>
                    </div> 
                </div>
            </div>
            <div class = "eachQuestion show-on-scroll-left">
                <div class = "buttonTopHolder">
                    <button class = "hide" id="Hide"  onclick="toggle('.inside5', '.vert5')">How can Neomedica help with pet therapy? </button>
                    <div class = "minusHolder">
                        <p id = "showMinus" class = "horizontalMinus"  onclick="toggle('.inside5', '.vert5')">&minus;</p>
                        <p id = "hideMinus" class = "verticalMinus vert5"  onclick="toggle('.inside5', '.vert5')">&minus;</p>
                    </div>
                </div>
                <div class="insideInfo inside5 show-on-scroll-up">
                    <div class = "detailSection">
                        <p>Although Neomedica, as a solely telemedical service, cannot provide you with our own pets, we have numerous reliable partners such as the Delta Society. However, we can help you see if you qualify for a therapy dog, cat, or rabbit then connect you to one of our trusted partners. Simply contact us or schedule a meeting for a consultation.  </p>
                    </div> 
                </div>
            </div>
            <div class = "eachQuestion show-on-scroll-left">
                <div class = "buttonTopHolder">
                    <button class = "hide" id="Hide"  onclick="toggle('.inside6', '.vert6')">How does VR therapy work? </button>
                    <div class = "minusHolder">
                        <p id = "showMinus" class = "horizontalMinus"  onclick="toggle('.inside6', '.vert6')">&minus;</p>
                        <p id = "hideMinus" class = "verticalMinus vert6"  onclick="toggle('.inside6', '.vert6')">&minus;</p>
                    </div>
                </div>
                <div class="insideInfo inside6 show-on-scroll-up">
                    <div class = "detailSection">
                        <p>To access VR therapy, patients have two options. The first is to use a VR viewer that allows you to slide your phone in – simply choose the Virtual Reality section on our app and select a 360-degree video. Alternatively, you may order a Neomedica virtual reality headset. These have a more premium build and come pre-loaded with all the videos our app has to offer.</p>
                    </div> 
                </div>
            </div>
        </div>
        <div id = "hello3" class = "questionSection prescriptionSection">
            <div class = "eachQuestion show-on-scroll-left">
                <div class = "buttonTopHolder">
                    <button class = "hide" id="Hide"  onclick="toggle('.inside7', '.vert7')">Can I get a prescription virtually? </button>
                    <div class = "minusHolder">
                        <p id = "showMinus" class = "horizontalMinus"  onclick="toggle('.inside7', '.vert7')">&minus;</p>
                        <p id = "hideMinus" class = "verticalMinus vert7"  onclick="toggle('.inside7', '.vert7')">&minus;</p>
                    </div>
                </div>
                <div class="insideInfo inside7 show-on-scroll-up">
                    <div class = "detailSection">
                        <p>Yes. Just like an in-person doctor’s visit, you certainly can receive a prescription through telemedicine. You will need to provide your preferred pharmacy, and they will be emailed the prescription and provide you with a pick-up date when your treatment is available. </p>
                    </div> 
                </div>
            </div>
            <div class = "eachQuestion show-on-scroll-left">
                <div class = "buttonTopHolder">
                    <button class = "hide" id="Hide"  onclick="toggle('.inside8', '.vert8')">Can Neomedica mail me my medicine?</button>
                    <div class = "minusHolder">
                        <p id = "showMinus" class = "horizontalMinus"  onclick="toggle('.inside8', '.vert8')">&minus;</p>
                        <p id = "hideMinus" class = "verticalMinus vert8"  onclick="toggle('.inside8', '.vert8')">&minus;</p>
                    </div>
                </div>
                <div class="insideInfo inside8 show-on-scroll-up">
                    <div class = "detailSection">
                        <p>No. We instead ensure your medicine is ready at your preferred pharmacy where you must arrange for pick up. This is because Neomedica itself does not make any medicine, it only diagnoses. </p>
                    </div> 
                </div>
            </div>
        </div>
        <div id = "hello4" class = "questionSection covidSection">
            <div class = "eachQuestion show-on-scroll-left">
                <div class = "buttonTopHolder">
                    <button class = "hide" id="Hide"  onclick="toggle('.inside9', '.vert9')">Does Neomedica provide virtual COVID tests? </button>
                    <div class = "minusHolder">
                        <p id = "showMinus" class = "horizontalMinus"  onclick="toggle('.inside9', '.vert9')">&minus;</p>
                        <p id = "hideMinus" class = "verticalMinus vert9"  onclick="toggle('.inside9', '.vert9')">&minus;</p>
                    </div>
                </div>
                <div class="insideInfo inside9 show-on-scroll-up">
                    <div class = "detailSection">
                        <p>Yes. Feel free to schedule an appointment and note any symptonms you are experiencing. Our experienced health professionals will assess your breathing, symptoms, and respiratory history to determine whether you are likely COVID positive. </p>
                    </div> 
                </div>
            </div>
            <div class = "eachQuestion show-on-scroll-left">
                <div class = "buttonTopHolder">
                    <button class = "hide" id="Hide"  onclick="toggle('.inside10', '.vert10')">What are return-to-work solutions? </button>
                    <div class = "minusHolder">
                        <p id = "showMinus" class = "horizontalMinus"  onclick="toggle('.inside10', '.vert10')">&minus;</p>
                        <p id = "hideMinus" class = "verticalMinus vert10"  onclick="toggle('.inside10', '.vert10')">&minus;</p>
                    </div>
                </div>
                <div class="insideInfo inside10 show-on-scroll-up">
                    <div class = "detailSection">
                        <p>Neomedica’s return-to-work plan is made for employers and employees in groups. It first and foremost involves a daily symptom questionnaire on our mobile app. Then, our team will assess risk factors and such within your workplace. Additionally, we have a separate phone line to address any questions or concerns about wellbeing topics surrounding the pandemic. Finally, with our return-to-work bundle, all employees can schedule COVID tests via Neomedica.  </p>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/faq.js')}}"></script> 
{% endblock %}