{% extends "history_default.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block innerchildcontent %}
    <div class = "historyTitle show-on-scroll-up">
        <h2>Enormous strides in functionality </h2>
        <h3>2012 - 2016</h3>
    </div>
    <div class = "historyHolder">
        <div class = "textSection">
            <p class = "show-on-scroll-right">As the company headed into 2013, they began to question what direction they wanted to take their company. A series of board meetings determined that Neomedica needed to orient itself to what the consumers desired. So as 2013 progressed, the company spent its time and money towards hundreds of different consumer-oriented polls to properly gauge public interest for the company’s features. Overwhelmingly, consumer demands for a mobile app topped the polls. Additionally, customers wanted to see virtual reality become a widespread possibility for healthcare. </p>
            <p class = "show-on-scroll-left">Implementing these features swiftly, Neomedica saw its largest spike in visitors and customers ever. In 2014, the company announced the launch of their Instagram, Twitter, and Facebook profiles. They quickly became the fastest-growing social media account on the platforms and began using these platforms to spread awareness about various medical health issues, social causes, and other relevant issues. </p>
        </div>
    </div>
{% endblock %}




