{% extends "default.html" %}
{% from "macros.html" import history_link with context %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/history_media.css') }}">
{% endblock %}

{% block childcontent %}
<div id = "firstSection" class = "firstSection">
    {% block innerchildcontent %}{% endblock %}
	<div id = "toSectionButtons" class = "toSectionButtons">
		<div class = "buttonContainer" id = "buttonContainer">
		    <div id = "heightButtonContainer" class = "insideButtonContainer show-on-scroll-left">
                {{ history_link(2006, '2006 - 2007', year) }}
                {{ history_link(2007, '2007 - 2008', year) }}
                {{ history_link(2008, '2008 - 2009', year) }}
                {{ history_link(2009, '2009 - 2010', year) }}
                {{ history_link(2010, '2010 - 2011', year) }}
                {{ history_link(2011, '2011 - 2012', year) }}
                {{ history_link(2012, '2012 - 2013', year) }}
                {{ history_link(2013, '2013 - 2014', year) }}
                {{ history_link(2014, '2014 - 2015', year) }}
                {{ history_link(2015, '2015 - 2016', year) }}
                {{ history_link(2016, '2016 - 2017', year) }}
                {{ history_link(2017, '2017 - 2018', year) }}
                {{ history_link(2018, '2018 - 2019', year) }}
                {{ history_link(2019, '2019 - 2020', year) }}
			</div>
		</div>
	</div>
</div>
{% endblock %}

