{% extends "history_default.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block innerchildcontent %}
    <div class = "historyTitle show-on-scroll-up">
        <h2>Neomedica is born</h2>
        <h3>2006 - 2009</h3>
    </div>
    <div class = "historyHolder">
        <div class = "textSection">
            <p class = "show-on-scroll-right">By the age of 19, Urtzal had competed her dual master's degree in psychology and information technology (IT) from the University of California, Berkeley. A young juggernaut of healthcare solutions, she quickly moved back into her parents’ house to work on her company idea. As her vision stated, she wanted to harness the power of electronic health records to assist doctors in the workplace. Additionally, she foresaw a future where distressed customers could instantaneously connect with a therapist over chat messages via the Internet. After assembling a team of twenty-five like-minded health, information, computer science, and counseling professionals, the group unofficially named themselves “The Neomedics”. They worked tirelessly to develop a framework for their telemedicine company.  </p>
            <p class = "show-on-scroll-left">The team asked themselves: why not? Why not merge the Internet and therapy? Why not change the way we look at telehealth? As technology rapidly developed in the early 21st century, the Neomedics quickly realized that their company could be so much more than just a file managing, messaging therapy platform. United by the common dream of a future in which all the services of a real doctor could be accessed from home, the team adopted the name Neomedica Incorporated – a name embodying their modern approach to healthcare. </p>
            <div class = "imageHolder show-on-scroll-up">
                <img src = "{{ url_for('static', filename='/images/Team.jpeg')}}"/>
            </div>
        </div>
    </div>
{% endblock %}




