{% extends "history_default.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block innerchildcontent %}
    <div class = "impactTitle show-on-scroll-up">
        <h2>The Journey Begins... </h2>
    </div>
    <div class = "historyHolder">
        <div class = "textSection">
            <p class = "show-on-scroll-right">Neomedica, although the nation’s leading telemedical provider today, has its humble roots. Starting as an idea within the mind of an excited teenager, Neomedica would never have become what it is today without the immeasurably important work of its employees, investors, partner groups, and above all, the customers. </p>
            <div class = "imageHolder show-on-scroll-up">
                <img src = "{{ url_for('static', filename='/images/Neomedica.jpeg')}}"/>
            </div>
        </div>
    </div>
{% endblock %}

