{% extends "default.html" %}
{% from "macros.html" import history_link with context %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/history_media.css') }}">
{% endblock %}

{% block childcontent %}
<div id = "firstSection" class = "firstSection">
    {% block innerchildcontent %}{% endblock %}
	<div id = "toSectionButtons" class = "toSectionButtons">
		<div class = "buttonContainer" id = "buttonContainer">
		    <div id = "heightButtonContainer" class = "insideButtonContainer show-on-scroll-left">
                {{ history_link(1996, '1996', year) }}
                {{ history_link(2006, '2006 - 2009', year) }}
                {{ history_link(2009, '2009 - 2012', year) }}
                {{ history_link(2012, '2012 - 2016', year) }}
                {{ history_link(2016, '2016 - 2021', year) }}
			</div>
		</div>
	</div>
</div>
{% endblock %}

