{% extends "history_default.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block innerchildcontent %}
    <div class = "historyTitle show-on-scroll-up">
        <h2>Present Day</h2>
        <h3>2016 - 2021</h3>
    </div>
    <div class = "historyHolder">
        <div class = "textSection">
            <p class = "show-on-scroll-right">Today, Neomedica continues to strive for its vision: a world where anyone can access affordable, world-class healthcare from the safety and comfort of their home. Our award-winning virtual reality care system has helped thousands of customers safely engage in physical therapy, phobia therapy, and other mental health services. </p>
            <p class = "show-on-scroll-left">Following the COVID-19 (Coronavirus) pandemic, many Americans turned to Neomedica for diagnoses, symptom checks, return-to-work solutions, tests, and vaccines. In our characteristically humanitarian nature, we offered all these services at little to zero cost. Neomedica proudly became accredited by the NCQA & ACHC and has been featured on NBC, New York Times, USA Today, and many more networks. </p>
        </div>
    </div>
{% endblock %}




