{% extends "history_default.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block innerchildcontent %}
    <div class = "historyTitle show-on-scroll-up">
        <h2>Rapid expansion</h2>
        <h3>2009 - 2012</h3>
    </div>
    <div class = "historyHolder">
        <div class = "textSection">
            <p class = "show-on-scroll-right">It took years of patient work, testing, refinement, retesting, joy, pain, agony, defeat, and triumph, but the first edition of the Neomedica website was finally released in early 2010. Site traffic was slow to begin with, but progressive growth was clearly visible. Following the 2009 economic recession, the federal government passed the American Recovery and Reinvestment Act of 2009, which allocated over $25 billion into health information technology, spiking the digital healthcare industry. More and more eyes turned to Neomedica’s newly launched website, and their workforce began working tirelessly to implement as many new features as possible, including their first installment of video therapy in early 2011. </p>
            <p class = "show-on-scroll-left">By mid-2011, though, the company was on the brink of bankruptcy. Thankfully, a funding round proved to be vital for the group as they gained generous funding from a venture capitalist company, giving them the financial and mental boost that they needed. Continuous development and testing yielded enormous success heading into the first quarter of 2012. </p>
        </div>
    </div>
{% endblock %}




