{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/organization_default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hospitals.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/organization_default_media.css') }}">
{% endblock %}

{% block childcontent %}
<div class = "firstSection padTop">
    <div class = "treatmentBox show-on-scroll-right">
        <div class = "imageHolder pic1">
        </div>
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Personalize and save</h2>
                </div>
                <p class = "innerText show-on-scroll-up">How often do you hear that? The more you customize your product, the more you can save and the more you your needs are satisfied. It’s a win-win! </p>
                <!--<div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    <a href = "{{ url_for('leadership_bio', leader='Sammy' )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                </div>-->
            </div>
        </div>
    </div>
    <div class = "treatmentBox reverseWrap show-on-scroll-left">
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Maximize time </h2>
                </div>
                <p class = "innerText show-on-scroll-up">You won’t have to spend your patients time in unnecessary hospital visits. With Neomedica's advanced yet simplistic user interface, you can monitor patients while they relax in the security of their home. Tracking their recovery, you not only provide comfort, but also a greater quality of care. </p>
            </div>
        </div>
        <div class = "imageHolder pic2">
        </div>
    </div>
    <div class = "treatmentBox show-on-scroll-right">
        <div class = "imageHolder pic3">
        </div>
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Take advantage of technology </h2>
                </div>
                <p class = "innerText show-on-scroll-up">It's all around us, so hospitals are still reluctant to change? You have nothing to fear, there’s no risk with Neomedica. We acknowledge our responsibility to your patients and dedicate ourselves to enhance the effectiveness and reliability of our product. Our revamped scheduling calendar section provides the employer, employee, and patient with the simplest and easiest implemented interfaces out there. </p>
            </div>
        </div>
    </div>
</div>
<div class = "firstSection demoSection anotherDemo">
    <div class = "demoTransparent">
        <div class = "simpleSucks leftSucks">
            <h2 class = "show-on-scroll-up">Request a Demo </h2> 
            <h3 class = "show-on-scroll-up">Discover the Neomedica difference.</h3>
            <div class = "learnMoreContainerRegular whiteButton show-on-scroll-up providerButton">
                <a href = "{{ url_for('login') }}" class="learnMoreButtonRegular"><button>Get Started</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}