{% extends "default.html" %}

{% block head %}
    {{ super() }} <!-- Have to include the super to get the default css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/join.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/join_media.css') }}"> 
{% endblock %}

{% block childcontent %}
<div class = "firstSection join">
    <div class = "joinImage show-on-scroll-right">
        <img src = "{{ url_for('static', filename='images/DocJoin.jpg') }}">
    </div>
    <div class = "joinRight">
        <div class = "impactTitle joinTitle show-on-scroll-left">
            <h2> Be a part of future healthcare </h2>
        </div>
        <div class = "joinSection">
            <p class = "show-on-scroll-left">At Neomedica, we’re not concerned about profit. We realize that the best way to build a healthcare model that works for everyone is to create accessible and affordable treatment plans that cater to the young and the elderly alike. Through our telemedicine model, it’s easy to connect with and care for anyone with an internet connection, regardless of their physical limitations or distance. If you share our vision of a more accessible and affordable form of healthcare, keep scrolling! </p>
        </div>
    </div>
</div>
<div class = "secondSection">
    <div class = "impactTitle joinTitle patientTitle show-on-scroll-right">
        <h2> Join us in helping patients </h2>
    </div>
    <div class = "joinSection centered">
        <p class = "show-on-scroll-right">Our number one priority is and will always be helping our patients. Neomedica prides itself on providing quality care through a wide range of specially trained physicians and therapists. We care deeply about providing the best care and service to our patients, always. If you share these values, we invite you to apply for one of our three positions below. </p>
        <div class = "careerHolder">
            <div class = "career show-on-scroll-right">
                <div class = "careerImage">
                    <img src = "{{ url_for('static', filename='images/DocUp.jpg') }}">
                </div>
                <h4>Become a Neomedica</h4>
                <h3>Medical Provider</h3>
                <p>If you are a doctor or nurse, we invite you to join our team of doctors and nurses who help patients with a wide range of illnesses, including COVID-19. </p>
            </div>
            <div class = "career show-on-scroll-up">
                <div class = "careerImage">
                    <img src = "{{ url_for('static', filename='images/Therapist.jpg') }}">
                </div>
                <h4>Become a Neomedica</h4>
                <h3>Therapist</h3>
                <p>If you are a therapist specializing in a particular illness or field, we invite you to reach out and bring your valuable experience to our team. </p>
            </div>
            <div class = "career show-on-scroll-left">
                <div class = "careerImage">
                    <img src = "{{ url_for('static', filename='images/Therapy2.jpg') }}">
                </div>
                <h4>Become a Neomedica</h4>
                <h3>Psychiatric Provider</h3>
                <p>If you a psychiatrist or a therapist specializing in mental health, we invite you to reach out and bring your valuable experience to our team. </p>
            </div>
        </div>
    </div>
</div>
<div class = "firstSection blueSection" id = "treatmentSection">
    <div class = "impactTitle joinTitle patientTitle show-on-scroll-right">
        <h2> Why work here </h2>
    </div>
    <div class = "treatmentBox firstBox">
        <div class = "imageHolder show-on-scroll-right pic1">
        </div>
        <div class = "textOverall show-on-scroll-left">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Mission-driven Organization </h2>
                </div>
                <p class = "innerText show-on-scroll-up">At Neomedica, we have a clear mission: provide accessible and affordable healthcare to everyone, all from the comfort of home. We believe in patients over profits, in widespread services over selective ones. Everything we do is centered around these principles, and if you believe in them, you’ll fit right into our team that works to make it possible everyday.  </p>
            </div>
        </div>
    </div>
    <div class = "treatmentBox reverseWrap">
        <div class = "textOverall show-on-scroll-right">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Innovative Culture </h2>
                </div>
                <p class = "innerText show-on-scroll-up">Neomedica’s vision for a better system of healthcare is unprecedented. It’s far beyond the realm of our current system, and it requires a creative and constantly evolving process. For us, innovation isn’t a choice; it’s an inherent part of our culture. We value a wide range of perspectives, and place value on ideas outside of the box.  </p>
            </div>
        </div>
        <div class = "imageHolder pic2 show-on-scroll-left">
        </div>
    </div>
    <div class = "treatmentBox">
        <div class = "imageHolder pic3 show-on-scroll-right">
        </div>
        <div class = "textOverall show-on-scroll-left">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Breadth of Opportunities </h2>
                </div>
                <p class = "innerText show-on-scroll-up">At Neomedica, we have to move fast. To provide the best quality of service to our patients, we must adapt on the go and come up with creative solutions. As a result, we have a large variety of opportunities available to our employees to grow their skills and gain valuable experience.  </p>
            </div>
        </div>
    </div>
    <div class = "treatmentBox reverseWrap">
        <div class = "textOverall show-on-scroll-right">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Great Benefits </h2>
                </div>
                <p class = "innerText show-on-scroll-up">Even though we aim to make healthcare affordable, that doesn’t mean that we skimp on benefits for our valued staff! You’ll receive free health insurance and healthcare (from Neomedica, of course!), as well as flexible hours and wages. If our patients love your work, we even guarantee a year-end bonus!  </p>
            </div>
        </div>
        <div class = "imageHolder pic4 show-on-scroll-left">
        </div>
    </div>
    <div class = "treatmentBox">
        <div class = "imageHolder pic5 show-on-scroll-right">
        </div>
        <div class = "textOverall show-on-scroll-left">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Medical Health Solutions </h2>
                </div>
                <p class = "innerText show-on-scroll-up">At Neomedica, we’re on the front lines of advancements in medical health. We routinely develop and set new industry standards regarding care and methods of treatment for a variety of illnesses that affect our patients. If you’d like to be a part of this effort, Neomedica is the place for you!  </p>
            </div>
        </div>
    </div>
</div>
<div class = "firstSection demoSection anotherDemo">
    <div class = "demoTransparent">
        <div class = "simpleSucks leftSucks">
            <h2 class = "show-on-scroll-up">Ready to join our team? </h2> 
            <h3 class = "show-on-scroll-up">Make the world healthier, one appointment at a time.</h3>
            <div class = "learnMoreContainerRegular whiteButton show-on-scroll-up providerButton">
                <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Apply Today</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}