{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"> 
{% endblock %}

{% block content %}
<div class = "outerForm">
    <div class = "outerTransparent">
        <div class = "formHolder">
            <div class = "signTitle">
                <h1>Welcome to Neomedica</h1>
            </div>
            <form action="" method="post" novalidate> <!-- action attribute tells the browser the URL that should be used when submitting the information the user entered into the form, method attribute specifies the HTTP request method-->
                {{ form.hidden_tag() }} <!-- generates a hidden field that includes a token to protect the form against CSRF attacks -->
                <div class = "usernameSection">
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}
                    {% for error in form.username.errors %}
                        <p class = "errorSpan">[{{ error}}]</p>
                    {% endfor %}
                </div>
                <div class = "usernameSection">
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }} <!-- you can add css classes or IDs to the form fields by having extra arguments-->
                    {% for error in form.password.errors %}
                        <p class = "errorSpan">[{{ error}}]</p>
                    {% endfor %}
                </div>
                <p class = "usernameSection">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p class = "usernameSection">{{ form.submit() }}</p>
            </form>
            <p class = "usernameSection moreSpace">
                <a class = "learnMore" href = "{{ url_for('register') }}">New User? Sign up here!</a>
            </p>
            <p class = "usernameSection moreSpace">
                <a class = "learnMore" href = "{{ url_for('reset_password_request') }}">Forgot Your Password? Reset it here.</a>
            </p>
        </div> 
    </div>
</div>
{% endblock %}