{% macro nav_link(endpoint, name, class) %}
    {% if request.endpoint.startswith(endpoint) %}
        <button class = "{{ class }} active"  onclick="window.location.href = '{{ url_for(endpoint) }}'">
            <a href = "{{ url_for(endpoint) }}"> {{ name }} </a> 
        </button>
    {% else %}
    <button class = "{{ class }}"  onclick="window.location.href = '{{ url_for(endpoint) }}'">
        <a href = "{{ url_for(endpoint) }}"> {{ name }} </a> 
    </button>
    {% endif %}
{% endmacro %}

{% macro nav_link_inner(endpoint, name, class, class_inner) %}
    {% if endpoint in request.endpoint %}
        <button class = "{{ class }} fade-in" onclick="window.location.href = '{{ url_for(endpoint) }}'">
            <a class = "{{ class_inner }} active2 " href = "{{ url_for(endpoint) }}"> {{ name }} </a>
        </button>
    {% else %}
        <button class = "{{ class }} fade-in" onclick="window.location.href = '{{ url_for(endpoint) }}'">
            <a class = "{{ class_inner }}" href = "{{ url_for(endpoint) }}"> {{ name }} </a>
        </button>
    {% endif %}
{% endmacro %}

{% macro nav_link_inner_arrow(endpoint, name, class, class_inner) %}
    {% if endpoint in request.endpoint %}
        <button class = "{{ class }} fade-in" onclick="window.location.href = '{{ url_for(endpoint) }}'">
            <a class = "{{ class_inner }} active " href = "{{ url_for(endpoint) }}"> {{ name }} </a>
            <a href = "{{ url_for(endpoint) }}">
                <i id = "rightArrow" class="fa fa-angle-right"></i>
            </a>
        </button>
    {% else %}
        <button class = "{{ class }} fade-in" onclick="window.location.href = '{{ url_for(endpoint) }}'">
            <a class = "{{ class_inner }}" href = "{{ url_for(endpoint) }}"> {{ name }} </a>
            <a href = "{{ url_for(endpoint) }}">
                <i id = "rightArrow" class="fa fa-angle-right"></i>
            </a>
        </button>
    {% endif %}
{% endmacro %}

{% macro nav_dropdown(endpoint, name, class) %}
    {% if endpoint in request.endpoint %}
        <a class = "{{ class }} active3 fade-in" href = "{{ url_for(endpoint) }}"> {{ name }} </a>
    {% else %}
        <a class = "{{ class }} fade-in" href = "{{ url_for(endpoint) }}"> {{ name }} </a>
    {% endif %}
{% endmacro %}

{% macro nav_dropdown_longer(endpoint, name, class) %}
    {% if endpoint in request.endpoint %}
        <a class = "{{ class }} active2 fade-in" href = "{{ url_for(endpoint) }}"> {{ name }} </a>
    {% else %}
        <a class = "{{ class }} fade-in" href = "{{ url_for(endpoint) }}"> {{ name }} </a>
    {% endif %}
{% endmacro %}

{% macro history_link(endpoint, name, currentyear) %}
    {% if currentyear == endpoint %}
        <a href = "{{ url_for('history_year', year=endpoint) }}" class="eventButton activeButton"><button> {{ name }} </button></a>
    {% else %}
        <a href = "{{ url_for('history_year', year=endpoint) }}" class="eventButton"><button> {{ name }} </button></a>
    {% endif %}
{% endmacro %}

{% macro phone_nav(endpoint, name) %}
    {% if endpoint in request.endpoint %}
        <a class = "activeMedia" href="{{ url_for(endpoint) }}">{{ name }}</a>
    {% else %}
        <a href="{{ url_for(endpoint) }}">{{ name }}</a>
    {% endif %}
{% endmacro %}

{% macro phone_nav_class(endpoint, name, class) %}
    {% if endpoint in request.endpoint %}
        <a class = "{{ class }} activeMedia" href="{{ url_for(endpoint) }}">{{ name }}</a>
    {% else %}
        <a class = "{{ class }}" href="{{ url_for(endpoint) }}">{{ name }}</a>
    {% endif %}
{% endmacro %}

{% macro phone_dropdown(class, id, endpoint_array) %}
    {% set found =  {'foo': False} %}
    {% for endpoint in endpoint_array %}
        {% if endpoint in request.endpoint %}
            {% if found.update({'foo': True}) %} {% endif %}
        {% endif %}
    {% endfor %}
    {% if found.foo %}
        <div class="{{ class }} displayBlock" id = "{{ id }}">
    {% else %}
        <div class="{{ class }}" id = "{{ id }}">
    {% endif %}
{% endmacro %}

{% macro phone_plus(phone, plus_id, plus_id_js, minus_id, endpoint_array) %}
    {% set found2 =  {'foo': False} %}
    {% for endpoint in endpoint_array %}
        {% if endpoint in request.endpoint %}
            {% if found2.update({'foo': True}) %} {% endif %}
        {% endif %}
    {% endfor %}
    {% if found2.foo %}
        <p id = "{{ plus_id }}" class = "plus displayNone" onclick="phoneNav('{{ phone }}', '{{ plus_id_js }}', '{{ minus_id }}')">+</p>
    {% else %}
        <p id = "{{ plus_id }}" class = "plus displayBlock" onclick="phoneNav('{{ phone }}', '{{ plus_id_js }}', '{{ minus_id }}')">+</p>
    {% endif %}
{% endmacro %}

{% macro phone_minus(phone, minus_id, plus_id_js, minus_id_js, endpoint_array) %}
    {% set found2 =  {'foo': False} %}
    {% for endpoint in endpoint_array %}
        {% if endpoint in request.endpoint %}
            {% if found2.update({'foo': True}) %} {% endif %}
        {% endif %}
    {% endfor %}
    {% if found2.foo %}
        <p id = "{{ minus_id }}" class = "minus displayBlock" onclick="phoneNav('{{ phone }}', '{{ plus_id_js }}', '{{ minus_id_js }}')">&#8211;</p>
    {% else %}
        <p id = "{{ minus_id }}" class = "minus displayNone" onclick="phoneNav('{{ phone }}', '{{ plus_id_js }}', '{{ minus_id_js }}')">&#8211;</p>
    {% endif %}
{% endmacro %}

