{% extends "backend_base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <!-- Datepicker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src = "{{ url_for('static', filename='js/datepicker.js')}}"></script>
{% endblock %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class = "usernameSection">
        {{ form.datepicker.label }}<br>
        {{ form.datepicker }}<br>
        {% for error in form.datepicker.errors %}
            <span class = "errorSpan">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class = "usernameSection">
        {{ form.hour.label }}<br>
        {{ form.hour }}<br>
        {% for error in form.hour.errors %}
            <span class = "errorSpan">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class = "usernameSection">
        {{ form.minute.label }}<br>
        {{ form.minute }}<br>
        {% for error in form.minute.errors %}
            <span class = "errorSpan">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class = "usernameSection">
        {{ form.duration.label }}<br>
        {{ form.duration }}<br>
        {% for error in form.duration.errors %}
            <span class = "errorSpan">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class = "usernameSection">
        {{ form.description.label }}<br>
        {{ form.description(placeholder="Share any information you would like your provider to know.") }}<br>
        {% for error in form.description.errors %}
            <span class = "errorSpan">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class = "usernameSection">
        {{ form.doctor.label }}<br>
        {{ form.doctor }}<br>
        {% for error in form.doctor.errors %}
            <span class = "errorSpan">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class = "usernameSection">
        {{ form.consent.label }}<br>
        {{ form.consent }}<br>
        {% for error in form.consent.errors %}
            <span class = "errorSpan">[{{ error }}]</span>
        {% endfor %}
    </div>
    
    <div class = "usernameSection">{{ form.submit() }}</div>
</form>
{% endblock %}