{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/medical.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/medical_media.css') }}">
{% endblock %}

{% block childcontent %}
<div class = "firstSection"> 
    <div class = "impactTitle show-on-scroll-up">
        <h2> Physical Health </h2>
    </div>
    <div class = "treatmentText">
        <p class = "show-on-scroll-left">Medical health is the bread and butter of Neomedica’s telemedicine service model. Treatment options that fall under medical health solutions include any form of physical care, whether that may be a disease or condition, medical illness, sports-related injury, or any other physical discomfort, Neomedica will address your complications completely virtually. Simply call us at 1-800-NEOMEDIC, and we will set up a virtual consultation to determine the best treatment option for you. Whether you seek telemedical care for a man, woman, teen, or child, you can depend on us to give you the care you need. Our virtual appointments may involve video clinician contact, care, advice, reminders, education, intervention, monitoring, and remote admissions. Scroll to learn more. </p>
    </div>
</div>
<div class = "lastSection">
    <div class = "backgroundSection2">
        <div class = "learnContainer">
            <div class = "learnMoreContainer show-on-scroll-up">
            <a href = "{{ url_for('urgent') }}" class = "competitionLink"> 
                <div class = "competition">
                    <div class = "Filter">
                        <h4>Urgent Care</h4>
                    </div>
                </div>
            </a>
            <a href = "{{ url_for('mens_health') }}" class = "eventsLink">
                <div class = "events">
                    <div class = "Filter colorFilter">
                        <h4>Men's Health</h4>
                    </div>
                </div>
            </a>
            <a id = "outreach" href = "{{ url_for('womens') }}" class = "programsLink">
                <div class = "programs">
                    <div class = "Filter">
                        <h4>Women's Health</h4>
                    </div>
                </div>
            </a>
            <a id = "challenges" href = "{{ url_for('teens_health') }}" class = "programsLink">
                <div class = "programs">
                    <div class = "Filter">
                        <h4>Teen's Health</h4>
                    </div>
                </div>
            </a>
            <a id = "challenges" href = "{{ url_for('childrens_health') }}" class = "programsLink">
                <div class = "programs">
                    <div class = "Filter lastFilter">
                        <h4>Children's Health</h4>
                    </div>
                </div>
            </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}