{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ncqa.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ncqa_media.css') }}">
{% endblock %}

{% block childcontent %}
<div class = "firstSection">
    <div class = "impactTitle show-on-scroll-up">
        <h2> Our NCQA & ACHC Accreditation </h2>
    </div>
    <div class = "ncqaSection">
        <h3 class = "show-on-scroll-right">What does it mean to be accredited by NCQA?</h3>
        <p class = "show-on-scroll-right">The National Committee for Quality Assurance, abbreviated NCQA, is a nonprofit organization that sets standards on the quality of healthcare. The NCQA measures the quality of a health plan through several different metrics, including ensuring that a company provides the right care, the right amount of care, and timely care. To be accredited by the NCQA, a company must not only meet these base quality standards, but also demonstrate that their plan expands upon and improves existing industry standards of care. </p>
        <p class = "show-on-scroll-right">After completing a thorough, year-long assessment of our plan, the NCQA determined that we meet and exceed all standards and thus have accredited us accordingly.</p>
        <div class = "show-on-scroll-right">
            <a href = " https://www.ncqa.org/about-ncqa/" target = "_blank" class = "learnMore">Learn more about NCQA Certification<i id = "rightArrow" class="fa fa-angle-right learn"></i></a>
        </div>
        <div class = "imageHolder">
            <img class = "show-on-scroll-right" src = "{{ url_for('static', filename='images/ncqa.jpg') }}">
            <img class = "show-on-scroll-left" src = "{{ url_for('static', filename='images/FillerCertificate.jpg') }}">
        </div>
        <h3 class = "moreSpace show-on-scroll-right">What does it mean to be accredited by ACHC?</h3>
        <p class = "show-on-scroll-right">The Accreditation Commission for Health Care, abbreviated ACHC, is a nonprofit organization that evaluates and accredits healthcare organizations (such as Neomedica) on the quality of their care. The ACHC’s standards were established by industry experts and account for the needs of healthcare providers in addition to those of patients. To be accredited by the ACHC, a company must meet base quality standards, and demonstrate that they are committed to not only ensuring that the needs of providers are met, but also that the needs of patients are met as well. </p>
        <p class = "show-on-scroll-right">After several examinations of our customer service and work with providers, the ACHC determined that we meet all standards and thus have accredited us accordingly. </p>
        <div class = "show-on-scroll-right">
            <a href = "https://www.achc.org/about-accreditation.html" target = "_blank" class = "learnMore">Learn more about ACHC Certification<i id = "rightArrow" class="fa fa-angle-right learn"></i></a> 
        </div>
        <div class = "imageHolder">
            <img class = "show-on-scroll-right" src = "{{ url_for('static', filename='images/achc.jpg') }}">
            <img class = "show-on-scroll-left" src = "{{ url_for('static', filename='images/achcCertificate.jpg') }}">
        </div>
    </div>
</div>
{% endblock %}