{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/urgent.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/urgent_media.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/occupational.css') }}">
{% endblock %}

{% block childcontent %}
<div class = "firstSection demoSection">
    <div class = "simpleSucks">
        <h2 class = "show-on-scroll-up">“How we spend our days is, of course, how we spend our lives.” </h2> 
        <h4 class = "littleAnon show-on-scroll-up"><i>- Annie Dillard - </i></h4>
    </div>
</div>
<div class = "secondSection">
    <div class = "treatmentBox show-on-scroll-right">
        <div class = "imageHolder pic1">
        </div>
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Our Approach to Occupational Therapy </h2>
                </div>
                <p class = "innerText show-on-scroll-up">At Neomedica, we take occupational therapy very seriously. For users exploring occupational therapy for the first time, read on to gain a basic understanding of what it is. The general premise of occupational therapy is to help people of all ages, situations, and backgrounds participate in the things they want and need to do via therapeutic exercises involving ‘occupations’, or daily activities. Such interventions might include helping disabled kids participate fully in social situations, helping recovering PTSD victims reintegrate into daily life, and supporting veteran adults that experience cognitive changes. </p>
                <p class = "show-on-scroll-up">Click below to find a qualified occupational therapist for you today. </p>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    {% if current_user.is_anonymous %}
                        <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% else %}
                        <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class = "treatmentBox reverseWrap show-on-scroll-left">
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Cognitive-Based Therapy </h2>
                </div>
                <p class = "innerText show-on-scroll-up">Although occupational therapy deals largely with physical and motor skills, Neomedica believes in applying it beyond the physical scope. We help people of all ages reestablish proper cognitive functions through comprehensive, progressively challenging exercises and tests. By scheduling a video call with one of our experienced therapists (see below for more information), you can re-experience the fluidity of proper cognitive ability. </p>
                <p class = "show-on-scroll-up">Click below to find a qualified occupational therapist for you today. </p>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    {% if current_user.is_anonymous %}
                        <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% else %}
                        <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class = "imageHolder pic2">
        </div>
    </div>
    <div class = "treatmentBox show-on-scroll-right">
        <div class = "imageHolder pic3">
        </div>
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Patient, Caring Therapists  </h2>
                </div>
                <p class = "innerText show-on-scroll-up">As in any department, our occupational therapy specialists are highly caring, understanding, and patient. Not only have they experienced a vast range of backgrounds while earning their degrees and gaining practical skills, but they are certified via Neomedia’s NeoEmpathy Diversity and Emotion training program. With our world class therapists, you’ll certainly be in the right hands throughout your occupational therapy experience. </p>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    {% if current_user.is_anonymous %}
                        <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% else %}
                        <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class = "treatmentBox reverseWrap show-on-scroll-left">
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Therapy for Recovering Veterans </h2>
                </div>
                <p class = "innerText show-on-scroll-up">The veterans of today are in great need of Neomedica offers a generous veterans’ discount for those who have served our country. Contact us via phone to learn more about this offer.  </p>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    {% if current_user.is_anonymous %}
                        <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% else %}
                        <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class = "imageHolder pic4">
        </div>
    </div>
</div>
<div class = "firstSection demoSection anotherDemo">
    <div class = "simpleSucks leftSucks">
        <h2 class = "show-on-scroll-up">Ready to start treatment? </h2> 
        <h3 class = "show-on-scroll-up">Click below to request a private 1-on-1 session with one of our seasoned professionals. </h3>
        <div class = "learnMoreContainerRegular leftAlign whiteButton show-on-scroll-up providerButton">
            {% if current_user.is_anonymous %}
                <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
            {% else %}
                <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
            {% endif %}
        </div>
    </div>
    <div class = "registerImage show-on-scroll-up">
        <img src = "{{ url_for('static', filename='images/Thumb.png') }}">
    </div>
</div>
{% endblock %}