{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/organizations.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/organizations_media.css') }}">
{% endblock %}

{% block childcontent %}
<div class = "firstSection flexFirst">
    <div class = "leftFirst show-on-scroll-right">
        <div class = "impactTitle orgTitle show-on-scroll-up">
            <h2> Our customized telehealth solutions fit any organization's needs </h2>
        </div>
        <div class = "textSection show-on-scroll-up">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class = "rightFirst">
        <div class = "orgImageHolder show-on-scroll-left">
            <img src = "{{ url_for('static', filename='images/FillerPicture.jpeg') }}">
        </div>
    </div>
</div>
<div class = "secondSection">
    <div class = "backgroundColor">
        <div class = "impactTitle moreSpace whiteTitle show-on-scroll-down">
            <h3>Real People. Real Care. Real Results. </h3>
            <h2> Experience the Neomedica Difference </h2>
        </div>
        <div class = "valuesSection">
            <div class = "value show-on-scroll-right">
                <img src = "{{ url_for('static', filename='images/FillerLogo.png') }}"/>
                <div class = "wordHolder">
                    <h3>Customized Technology Integration</h3>
                </div>
            </div>
            <div class = "value show-on-scroll-right">
                <img src = "{{ url_for('static', filename='images/FillerLogo.png') }}"/>
                <div class = "wordHolder">
                    <h3>Best-in-Class API Interface</h3>
                </div>
            </div>
            <div class = "value show-on-scroll-left">
                <img src = "{{ url_for('static', filename='images/FillerLogo.png') }}"/>
                <div class = "wordHolder">
                    <h3>Quick and Easy Implementation</h3>
                </div>
            </div>
            <div class = "value show-on-scroll-left">
                <img src = "{{ url_for('static', filename='images/FillerLogo.png') }}"/>
                <div class = "wordHolder">
                    <h3>Intuitive, User-friendly Experience</h3>
                </div>
            </div>
            <div class = "value show-on-scroll-right">
                <img src = "{{ url_for('static', filename='images/FillerLogo.png') }}"/>
                <div class = "wordHolder">
                    <h3>Flexible Pricing Options</h3>
                </div>
            </div>
            <div class = "value show-on-scroll-right">
                <img src = "{{ url_for('static', filename='images/FillerLogo.png') }}"/>
                <div class = "wordHolder">
                    <h3>Real-Time Insurance Connectivity</h3>
                </div>
            </div>
            <div class = "value show-on-scroll-left">
                <img src = "{{ url_for('static', filename='images/FillerLogo.png') }}"/>
                <div class = "wordHolder">
                    <h3>Personalized Member Engagement Strategies</h3>
                </div>
            </div>
            <div class = "value show-on-scroll-left">
                <img src = "{{ url_for('static', filename='images/FillerLogo.png') }}"/>
                <div class = "wordHolder">
                    <h3>Network of Medical Providers & Therapists</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "firstSection">
    <div class = "impactTitle show-on-scroll-up">
        <h2> Our Partners </h2>
    </div>
    <div class = "textSection centerText show-on-scroll-up">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class = "learnContainer">
        <div class = "learnMoreContainer show-on-scroll-left">
            <a href = "{{ url_for('why') }}" class = "competitionLink"> 
                <div class = "competition">
                    <div class = "Filter">
                        <h4>Employer <br>Groups</h4>
                    </div>
                </div>
            </a>
            <a href = "{{ url_for('history') }}" class = "eventsLink">
                <div class = "events">
                    <div class = "Filter">
                        <h4>Hospitals & <br>Health Systems</h4>
                    </div>
                </div>
            </a>
            <a href = "{{ url_for('leadership') }}" class = "programsLink">
                <div class = "programs">
                    <div class = "Filter">
                        <h4>Unions & Associations</h4>
                    </div>
                </div>
            </a>
            <a id = "outreach" href = "{{ url_for('providers') }}" class = "programsLink">
                <div class = "programs">
                    <div class = "Filter">
                        <h4>Government & Education</h4>
                    </div>
                </div>
            </a>
            <a id = "challenges" href = "{{ url_for('ncqa') }}" class = "programsLink">
                <div class = "programs">
                    <div class = "Filter">
                        <h4>Brokers <br>& Advisors</h4>
                    </div>
                </div>
            </a>
            <a id = "challenges" href = "{{ url_for('ncqa') }}" class = "programsLink">
                <div class = "programs">
                    <div class = "Filter">
                        <h4>Distribution Partners</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class = "firstSection demoSection anotherDemo">
    <div class = "simpleSucks leftSucks">
        <h2 class = "show-on-scroll-up">Request a Demo </h2> 
        <h3 class = "show-on-scroll-up">Discover the Neomedica difference.</h3>
        <div class = "learnMoreContainerRegular leftAlign whiteButton show-on-scroll-up providerButton">
            <a href = "{{ url_for('leadership_bio', leader='Sammy' )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
        </div>
    </div>
</div>
{% endblock %}