{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/organizations.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/organizations_media.css') }}">
{% endblock %}

{% block childcontent %}
<div class = "firstSection flexFirst">
    <div class = "leftFirst show-on-scroll-right">
        <div class = "impactTitle orgTitle show-on-scroll-up">
            <h2> Our customized telehealth solutions fit any organization's needs </h2>
        </div>
        <div class = "textSection show-on-scroll-up">
            <p>Whether you’re looking to cover healthcare for your employees, hospital workers, union members, government or education workers, or any other group, Neomedica offers the perfect group plan. Telehealth is where the future lies, so don’t hesitate to take the next bold step in your group’s future, no matter who you’re covering. </p>
        </div>
    </div>
    <div class = "rightFirst">
        <div class = "orgImageHolder show-on-scroll-left">
            <img src = "{{ url_for('static', filename='images/FillerPicture.jpeg') }}">
        </div>
    </div>
</div>
<div class = "secondSection">
    <div class = "backgroundColor">
        <div class = "impactTitle moreSpace whiteTitle show-on-scroll-down">
            <h3>Real People. Real Care. Real Results. </h3>
            <h2> Experience the Neomedica Difference </h2>
        </div>
        <div class = "valuesSection">
            <div class = "value show-on-scroll-right">
                <img src = "{{ url_for('static', filename='images/Customize.png') }}"/>
                <div class = "wordHolder">
                    <h3>Customized Technology Integration</h3>
                </div>
            </div>
            <div class = "value show-on-scroll-right">
                <img src = "{{ url_for('static', filename='images/API.png') }}"/>
                <div class = "wordHolder">
                    <h3>Best-in-Class API Interface</h3>
                </div>
            </div>
            <div class = "value show-on-scroll-left">
                <img src = "{{ url_for('static', filename='images/Quick.png') }}"/>
                <div class = "wordHolder">
                    <h3>Quick and Easy Implementation</h3>
                </div>
            </div>
            <div class = "value show-on-scroll-left">
                <img src = "{{ url_for('static', filename='images/UserFriendly.png') }}"/>
                <div class = "wordHolder">
                    <h3>Intuitive, User-friendly Experience</h3>
                </div>
            </div>
            <div class = "value show-on-scroll-right">
                <img src = "{{ url_for('static', filename='images/Price.png') }}"/>
                <div class = "wordHolder">
                    <h3>Flexible Pricing Options</h3>
                </div>
            </div>
            <div class = "value show-on-scroll-right">
                <img src = "{{ url_for('static', filename='images/Connection.png') }}"/>
                <div class = "wordHolder">
                    <h3>Real-Time Insurance Connectivity</h3>
                </div>
            </div>
            <div class = "value show-on-scroll-left">
                <img src = "{{ url_for('static', filename='images/Engagement.png') }}"/>
                <div class = "wordHolder">
                    <h3>Personalized Member Engagement Strategies</h3>
                </div>
            </div>
            <div class = "value show-on-scroll-left">
                <img src = "{{ url_for('static', filename='images/Network.png') }}"/>
                <div class = "wordHolder">
                    <h3>Network of Medical Providers & Therapists</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "firstSection">
    <div class = "impactTitle show-on-scroll-up">
        <h2> Our Partners </h2>
    </div>
    <div class = "textSection centerText show-on-scroll-up">
        <p>Check out all the organizations for whom we provide our services. Have a suggestion for a new type of organization or group? Send us an email at helpdesk@neomedica.com. </p>
    </div>
    <div class = "learnContainer">
        <div class = "learnMoreContainer show-on-scroll-left">
            <a href = "{{ url_for('employer') }}" class = "competitionLink"> 
                <div class = "competition">
                    <div class = "Filter">
                        <h4>Employer <br>Groups</h4>
                    </div>
                </div>
            </a>
            <a href = "{{ url_for('hospitals') }}" class = "eventsLink">
                <div class = "events">
                    <div class = "Filter">
                        <h4>Hospitals & <br>Health Systems</h4>
                    </div>
                </div>
            </a>
            <a href = "{{ url_for('unions') }}" class = "programsLink">
                <div class = "programs">
                    <div class = "Filter">
                        <h4>Unions & Associations</h4>
                    </div>
                </div>
            </a>
            <a id = "outreach" href = "{{ url_for('government') }}" class = "programsLink">
                <div class = "programs">
                    <div class = "Filter">
                        <h4>Government & Education</h4>
                    </div>
                </div>
            </a>
            <a id = "challenges" href = "{{ url_for('brokers') }}" class = "programsLink">
                <div class = "programs">
                    <div class = "Filter">
                        <h4>Brokers <br>& Advisors</h4>
                    </div>
                </div>
            </a>
            <a id = "challenges" href = "{{ url_for('distribution') }}" class = "programsLink">
                <div class = "programs">
                    <div class = "Filter">
                        <h4>Distribution Partners</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class = "firstSection demoSection anotherDemo">
    <div class = "simpleSucks leftSucks">
        <h2 class = "show-on-scroll-up">Request a Demo </h2> 
        <h3 class = "show-on-scroll-up">Discover the Neomedica difference.</h3>
        <div class = "learnMoreContainerRegular leftAlign whiteButton show-on-scroll-up providerButton">
            {% if current_user.is_anonymous %}
                <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
            {% else %}
                <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}