{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/medical.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/medical_media.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pet.css') }}">
{% endblock %}

{% block childcontent %}
<div class = "firstSection"> 
    <div class = "impactTitle show-on-scroll-up">
        <h2> Virtual Pet Therapy </h2>
    </div>
    <div class = "treatmentText">
        <p class = "show-on-scroll-left">The benefits of pet therapy are clear. It lowers blood pressure by relieving anxiety and stress, lessens overall physical pain and fatigue, improves fine motor skills, and gives patients a boost of endorphins to carry them through the day. Although the physical touch of an animal is hard to replace, Neomedica believes that all these benefits can be simulated just as well. We combine video calling with virtual reality to simulate the real-life environment straight from the comfort of your home. Contact one of our therapists and they will help set up an Animal-Assisted Therapy (AAT) Program with you – these programs are goal-oriented, planned, structured, and documented therapeutic intervention directed by health and human service providers as part of their profession. </p>
    </div>
</div>
<div class = "lastSection">
    <div class = "backgroundSection2">
        <div class = "learnContainer">
            <div class = "learnMoreContainer show-on-scroll-up">
            <a href = "{{ url_for('dogs') }}" class = "competitionLink"> 
                <div class = "competition">
                    <div class = "Filter">
                        <h4>Therapy Dogs</h4>
                    </div>
                </div>
            </a>
            <a href = "{{ url_for('cats') }}" class = "eventsLink">
                <div class = "events">
                    <div class = "Filter colorFilter">
                        <h4>Therapy Cats</h4>
                    </div>
                </div>
            </a>
            <a href = "{{ url_for('rabbits') }}" class = "competitionLink"> 
                <div class = "competition">
                    <div class = "Filter">
                        <h4>Therapy Rabbits</h4>
                    </div>
                </div>
            </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}