{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pricing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pricing_media.css') }}">
{% endblock %}

{% block childcontent %}
<div class = "firstSection">
    <div class = "impactTitle show-on-scroll-up">
        <h2> Affordability for everyone </h2>
    </div>
    <div class = "conditionSection">
        <div class = "conditionText">
            <h3 class = "show-on-scroll-right">Pay less for more</h3>
            <h4 class = "show-on-scroll-right">Price: $59.99 </h4>
            <p class = "show-on-scroll-right">Each appointment you spend Neomedica costs a flat fee $59.99 - a bargain compared to what most services charge. This figure includes questions, follow-ups, and diagnoses. Thanks to our money back guarantee, if you aren’t satisfied with your visit, you may contact out helpdesk for a full refund. Without insurance, you’ll be paying the full price, but scroll further to see how much you can save with insurance. </p>
            <div class = "bottomLine show-on-scroll-right">
            </div>
        </div>
        <div class = "conditionImage show-on-scroll-left">
            <img src = "{{ url_for('static', filename='images/CoinCircle.jpg') }}">
        </div>
    </div>
    <div class = "conditionSection noReverse">
        <div class = "conditionImage show-on-scroll-left smallerImage">
            <img src = "{{ url_for('static', filename='images/MoneyCircle.jpg') }}">
        </div>
        <div class = "conditionText">
            <h3 class = "show-on-scroll-right">Get the most out of your visit</h3>
            <h4 class = "show-on-scroll-right">Neomedica Guarantee </h4>
            <p class = "show-on-scroll-right">Have an issue with your visit? Did something not go how you wanted it to? At Neomedica, we pride ourselves in offering world-class healthcare. If this standard is not met, we are obligated to refund you for your visit. Simply call 1-800-NEOMEDIC and explain your issue – our representatives will get you a refund.</p>
            <div class = "bottomLine show-on-scroll-right">
            </div>
        </div>
    </div>
</div>
<div class = "firstSection providerSection">
    <div class = "featureTransparent providerTransparent">
        <div class = "providerHolder show-on-scroll-right">
            <div class = "providerTextBox">
                <h3>Pay how you want</h3>
                <div class = "impactTitle show-on-scroll-up saveTitle">
                    <h2>Easy Payment</h2>
                </div>
                <p class = "saveText show-on-scroll-up">Pay with any type of card; credit, debit, or an HSA card – we accept American Express, Visa, Discover, and MasterCard. Simply enter your card information and turn on AutoPay, and we will automatically charge you whenever you visit. We protect your privacy by holding this information separately from your health information. </p>
                <div class = "creditImage show-on-scroll-right">
                    <img src = "{{ url_for('static', filename='images/CreditCard2.png') }}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "firstSection">
    <div class = "impactTitle show-on-scroll-up">
        <h2> Have insurance? </h2>
    </div>
    <div class = "conditionSection">
        <div class = "conditionText">
            <h4 class = "show-on-scroll-right">Save even more</h4>
            <p class = "show-on-scroll-right">When you enter your insurance provider and information, we’ll submit your claim for you. Before we charge your card, we wait to hear back from your provider. Once we do, we'll email you your receipt with the final payment details.</p>
            <div class = "bottomLine show-on-scroll-right">
            </div>
        </div>
        <div class = "conditionImage show-on-scroll-left">
            <img src = "{{ url_for('static', filename='images/Payment.jpg') }}">
        </div>
    </div>
    <div class = "conditionSection centerConditionSection">
        <div class = "conditionText centerCondition">
            <h3 class = "show-on-scroll-down">Wide support</h3>
            <h4 class = "show-on-scroll-down">Insurance Providers </h4>
            <p class = "show-on-scroll-up">Read below to see the details of some of the major insurance providers supported by Neomedica. Note: Neomedica supports more insurance providers than simply the ones on this list. </p>
        </div>
    </div>
    <table>
        <tr class = "headingSection show-on-scroll-right">
            <th class = "heading features ">Company</th>
            <th class = "heading special">Phone Number</th>  
            <th class = "heading special">Website</th> 
        </tr>
        <tr class = "blueTable row show-on-scroll-left">
            <td class = "heading regularText">
                <a href = "https://www.bcbs.com/" target = "_blank">
                    <img src = "{{ url_for('static', filename='images/BlueCross.png') }}">
                </a>
            </td>
            <td class = "check">
                <p>1-888-630-2583 </p>
            </td>
            <td class = "check textLink">
                <a href = "https://www.bcbs.com/ " target = "_blank">Check them out!</a>
            </td>
        </tr>
        <tr class = "row show-on-scroll-right">
            <td class = "heading regularText">
                <a href = "https://www.aetna.com/" target = "_blank">
                    <img src = "{{ url_for('static', filename='images/Aetna.png') }}">
                </a>
            </td>
            <td class = "check">
                <p>1-888-632-3862</p>
            </td>
            <td class = "check textLink">
                <a href = "https://www.aetna.com/" target = "_blank">Check them out!</a>
            </td>
        </tr>
        <tr class = "blueTable row show-on-scroll-left">
            <td class = "heading regularText">
                <a href = "https://www.careplushealthplans.com/contact-careplus" target = "_blank">
                    <img src = "{{ url_for('static', filename='images/CarePlus.png') }}">
                </a>
            </td>
            <td class = "check">
                <p>1-800-794-5907</p>
            </td>
            <td class = "check textLink">
                <a href = "https://www.careplushealthplans.com/contact-careplus" target = "_blank">Check them out!</a>
            </td>
        </tr>
        <tr class = "row show-on-scroll-right">
            <td class = "heading regularText">
                <a href = "https://www.humana.com/" target = "_blank">
                    <img src = "{{ url_for('static', filename='images/Humana.png') }}">
                </a>
            </td>
            <td class = "check">
                <p>1-844-330-7799 </p>
            </td>
            <td class = "check textLink">
                <a href = "https://www.humana.com/" target = "_blank">Check them out!</a>
            </td>
        </tr>
        <tr class = "blueTable row show-on-scroll-left">
            <td class = "heading regularText">
                <a href = "https://www.uhc.com/contact-us" target = "_blank">
                    <img src = "{{ url_for('static', filename='images/UnitedHealthcare.png') }}">
                </a>
            </td>
            <td class = "check">
                <p>1-855-311-1612 </p>
            </td>
            <td class = "check textLink">
                <a href = "https://www.uhc.com/contact-us" target = "_blank">Check them out!</a>
            </td>
        </tr>
        <tr class = "row show-on-scroll-right">
            <td class = "heading regularText">
                <a href = "https://www.cigna.com/" target = "_blank">
                    <img src = "{{ url_for('static', filename='images/Cigna.png') }}">
                </a>
            </td>
            <td class = "check">
                <p>1-800-997-1654 </p>
            </td>
            <td class = "check textLink">
                <a href = "https://www.cigna.com/" target = "_blank">Check them out!</a>
            </td>
        </tr>
        <tr class = "blueTable row show-on-scroll-left">
            <td class = "heading regularText">
                <a href = "https://www.freedomhealth.com/" target = "_blank">
                    <img src = "{{ url_for('static', filename='images/FreedomHealth.png') }}">
                </a>
            </td>
            <td class = "check">
                <p>1-800-401-2740 </p>
            </td>
            <td class = "check textLink">
                <a href = "https://www.freedomhealth.com/" target = "_blank">Check them out!</a>
            </td>
        </tr>
        <tr class = "row show-on-scroll-right">
            <td class = "heading regularText">
                <a href = "https://www.progressive.com/" target = "_blank">
                    <img src = "{{ url_for('static', filename='images/Progressive.png') }}">
                </a>
            </td>
            <td class = "check">
                <p>1-800-776-4737 </p>
            </td>
            <td class = "check textLink">
                <a href = "https://www.progressive.com/" target = "_blank">Check them out!</a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}