{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/providers.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/providers_media.css') }}">
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/providers_slideshow.js') }}"></script>
{% endblock %}

{% block childcontent %}
<div class = "firstSection">
    <div class = "impactTitle peopleTitle show-on-scroll-right">
        <h2> Our providers </h2>
    </div>
    <div class = "firstSectionFlex">
        <div class = "leftText">
            <p class = "show-on-scroll-right">Neomedica partners with some of the world’s most prestigious developers, employers, hospitals, and health systems to offer industry-leading virtual treatment. Just like any other healthcare provided, you can expect that every provider is credentialed, accredited, highly qualified and working their finest to provide every patient with swift and effective care.</p>
            <p class = "show-on-scroll-right lastParagraph">In fact, we go a step further, ensuring that all of our providers undergo a rigorous credentialing process based upon guidelines set by the National Committee for Quality Assurance (NCQA) and the Accreditation Commission for Health Care (ACHC).  </p>
            <div class = "show-on-scroll-right">
                <a href = "{{ url_for('ncqa') }}" class = "learnMore">Learn more about our NCQA and ACHC Certification<i id = "rightArrow" class="fa fa-angle-right learn"></i></a>
            </div>
        </div>
        <div class = "imageHolder show-on-scroll-left">
            <img src = "{{ url_for('static', filename='images/Meet.jpeg') }}">
        </div>
    </div>
</div>
<div class = "secondSection">
    <div class = "backgroundColor">
        <div class = "impactTitle moreSpace whiteTitle show-on-scroll-down">
            <h2> Our Statistics </h2>
        </div>
        <div class = "valuesSection">
            <div class = "value show-on-scroll-right">
                <div class = "wordHolder">
                    <h3>95%</h3>
                    <p>member satisfaction, one of the top percentages in our industry</p>
                </div>
            </div>
            <div class = "value show-on-scroll-up">
                <div class = "wordHolder">
                    <h3>35</h3>
                    <p> million visits since the opening of our services in 2018 </p>
                </div>
            </div>
            <div class = "value show-on-scroll-left">
                <div class = "wordHolder">
                    <h3>2%</h3>
                    <p>chance you don’t recommend Neomedica to your friends and family</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "firstSection lessPad">
    <div class = "impactTitle centerTitle show-on-scroll-right">
        <h2> Meet the team </h2>
    </div>
    <div class = "providerSection">
        <div class = "type">
            <div class = "typeImage show-on-scroll-up">
                <img src = "{{ url_for('static', filename='images/Physician.jpeg') }}">
            </div>
            <h3 class = "show-on-scroll-up">Physicians</h3>
            <p class = "show-on-scroll-up">Our physicians are medically trained, U.S. board certified in their fields, and licensed and credentialed. Neomedica physicians hold bachelor’s (B.A. or B.S.) Doctor of Medicine (M.D.) or Doctor of Osteopathic Medicine (D.O.) degrees. </p>
            <div class = "show-on-scroll-right">
                <a class = "centerLink" id = "physicians" onclick = "modal('modal', 'physicians'); provider();">Meet us!<i id = "rightArrow" class="fa fa-angle-right learn"></i></a>
            </div>
        </div>
        <div class = "type">
            <div class = "typeImage show-on-scroll-up">
                <img src = "{{ url_for('static', filename='images/Nurse.jpeg') }}">
            </div>
            <h3 class = "show-on-scroll-up">Nurse Practitioners</h3>
            <p class = "show-on-scroll-up">Our nurse practitioners are medically trained, ANCC or AANP accredited, registered, and credentialed in their fields. Neomedica nurse practitioners hold Bachelor of Science in Nursing (BSN) and Master of Science in Nursing (MSN) degrees. </p>
            <div class = "show-on-scroll-right">
                <a class = "centerLink" id = "nurse" onclick = "modal('modal2', 'nurse'); provider2();">Meet us!<i id = "rightArrow" class="fa fa-angle-right learn"></i></a>
            </div>
        </div>
        <div class = "type">
            <div class = "typeImage show-on-scroll-up">
                <img src = "{{ url_for('static', filename='images/Assistant.jpeg') }}">
            </div>
            <h3 class = "show-on-scroll-up">Physician Assistants</h3>
            <p class = "show-on-scroll-up">Our physician assistants are medically trained, NCCPA certified, licensed and credentialed. MeMD physician assistants hold bachelor’s (B.A. or B.S.) and Physician Assistant Studies (MPAS), Health Science (MHS) or Medical Science (MMSc) degrees. </p>
            <div class = "show-on-scroll-right">
                <a class = "centerLink" id = "assistant" onclick = "modal('modal3', 'assistant'); provider3();">Meet us!<i id = "rightArrow" class="fa fa-angle-right learn"></i></a>
            </div>
        </div>
        <div class = "type">
            <div class = "typeImage show-on-scroll-up">
                <img src = "{{ url_for('static', filename='images/Therapist.jpeg') }}">
            </div>
            <h3 class = "show-on-scroll-up">Therapists</h3>
            <p class = "show-on-scroll-up">Our behavioral health team of masters-level professionals includes experienced and accredited Licensed Professional Counselors, Licensed Clinical Social Workers, Marriage and Family Therapists and equivalent licensed professionals. </p>
            <div class = "show-on-scroll-right">
                <a class = "centerLink" id = "therapist" onclick = "modal('modal4', 'therapist'); provider4();">Meet us!<i id = "rightArrow" class="fa fa-angle-right learn"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- modals -->
<div id = "modal" class = "modal fade-in">
    <a class="providerPrev firstPrev"><i class="fa fa-angle-left"></i></a>
        <div class="providerContainer specificFeature slideshow1">
            <div class = "featuredImageHolder">
                <div class = "modalContent">
                    <div class = "textModal">
                        <div class = "textHolder">
                            <div class = "topModal">
                                <div class = "modalImage">
                                    <img src = "{{ url_for('static', filename='images/Shelby.jpg') }}">
                                </div>
                                <div class = "rightModal">
                                    <div class = "nameEx">
                                        <h4>Physician</h4>
                                        <h3>Shelby Cortez, M.D.</h3>
                                    </div>
                                </div>
                            </div>
                            <div class = "innerText">
                                <p>Shelby Cortez is medically trained, U.S. board certified, licensed and credentialed in her field. As a young child, Cortez always knew she wanted to dabble in either the medical or computer field, but was unsure as to which one she would ultimately pick. After learning about Neomedica, Cortez immediately knew that this was her destiny, her future. Ambitious and driven, Cortez graduated with flying colors, obtaining various high-level degrees in computer science and medicine. Today, she says that her job at Neomedica fulfills her beyond anything else in her life, and her patients clearly notice this passion as they praise her for being a "fervently devoted and passionate" doctor. As for her interest in computer science, Cortez still deals with computers every day, and in her free time even helps develop backend features for Neomedica. Bravo, Cortez!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "modalContent">
                    <div class = "textModal">
                        <div class = "textHolder">
                            <div class = "topModal">
                                <div class = "modalImage">
                                    <img src = "{{ url_for('static', filename='images/Maisee.jpg') }}">
                                </div>
                                <div class = "rightModal">
                                    <div class = "nameEx">
                                        <h4>Physician</h4>
                                        <h3>Maisie Edweena, M.D.</h3>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class = "innerText">
                                <p> Maisie Edweena was not your typical studious medical student in college. In fact, she was quite the opposite. Rambunctious and loud by nature, Edweena struggled to stay focused during school and would often receive poor grades. However, after learning about Neomedica and its mission, Edweena was determined to help and become a part of such a significant movement. Immediately, her grades soared through the roof and so did her passion for medicine. Today, Edweena is praised as one of the most "compassionate, energetic, lively, and optimistic" physicians in the world. Even if she may not necessarily be able to accurately diagnose her patients, they remark that "her kindness is truly one of a kind. And that is enough for us."</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "modalContent">
                    <div class = "textModal">
                        <div class = "textHolder">
                            <div class = "topModal">
                                <div class = "modalImage">
                                    <img src = "{{ url_for('static', filename='images/PhysicianRead.jpg') }}">
                                </div>
                                <div class = "rightModal">
                                    <div class = "nameEx">
                                        <h4>Physician</h4>
                                        <h3>Adegoke Nthanda, M.D.</h3>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class = "innerText">
                                <p> Adegoke Nthanda is one of our most qualified and requested physicians currently. After graduating with top honors from Harvard Medical School, Nthanda knew he wanted to do something different than what the rest of his fellow medical school classmates were doing; he knew he wanted to blaze into a new and unexpanded field, but was still unsure as to what that was at the time - that is, until he discovered Neomedica. "Learning about Neomedica was truly a game-changer for me," Nthanda says, as he fondly reminisces about his university days. "Telemedicine is the future. It's that simple."   </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
    </div>
    <a class="providerNext firstNext"><i class="fa fa-angle-right"></i></a>
</div>

<div id = "modal2" class = "modal fade-in">
    <a class="providerPrev secondPrev"><i class="fa fa-angle-left"></i></a>
        <div class="providerContainer specificFeature slideshow2"> <!-- change class -->
            <div class = "featuredImageHolder">
                <div class = "modalContent">
                    <div class = "textModal">
                        <div class = "textHolder">
                            <div class = "topModal">
                                <div class = "modalImage">
                                    <img src = "{{ url_for('static', filename='images/FillerProvider.jpg') }}">
                                </div>
                                <div class = "rightModal">
                                    <div class = "nameEx">
                                        <h4>Physician</h4>
                                        <h3>Saxa Rhodopis, M.D.</h3>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class = "innerText">
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "modalContent">
                    <div class = "textModal">
                        <div class = "textHolder">
                            <div class = "topModal">
                                <div class = "modalImage">
                                    <img src = "{{ url_for('static', filename='images/FillerProvider.jpg') }}">
                                </div>
                                <div class = "rightModal">
                                    <div class = "nameEx">
                                        <h4>Physician</h4>
                                        <h3>Sammy Urtzal, M.D.</h3>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class = "innerText">
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut tation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inc. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "modalContent">
                    <div class = "textModal">
                        <div class = "textHolder">
                            <div class = "topModal">
                                <div class = "modalImage">
                                    <img src = "{{ url_for('static', filename='images/FillerProvider.jpg') }}">
                                </div>
                                <div class = "rightModal">
                                    <div class = "nameEx">
                                        <h4>Physician</h4>
                                        <h3>Sammy Urtzal, M.D.</h3>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class = "innerText">
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempoolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
    </div>
    <a class="providerNext secondNext"><i class="fa fa-angle-right"></i></a>

</div>
<div id = "modal3" class = "modal fade-in">
	<a class="providerPrev thirdPrev"><i class="fa fa-angle-left"></i></a>
        <div class="providerContainer specificFeature slideshow3"> <!-- change class -->
            <div class = "featuredImageHolder">
                <div class = "modalContent">
                    <div class = "textModal">
                        <div class = "textHolder">
                            <div class = "topModal">
                                <div class = "modalImage">
                                    <img src = "{{ url_for('static', filename='images/FillerProvider.jpg') }}">
                                </div>
                                <div class = "rightModal">
                                    <div class = "nameEx">
                                        <h4>Physician</h4>
                                        <h3>Sammy Urtzal, M.D.</h3>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class = "innerText">
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "modalContent">
                    <div class = "textModal">
                        <div class = "textHolder">
                            <div class = "topModal">
                                <div class = "modalImage">
                                    <img src = "{{ url_for('static', filename='images/FillerProvider.jpg') }}">
                                </div>
                                <div class = "rightModal">
                                    <div class = "nameEx">
                                        <h4>Physician</h4>
                                        <h3>Sammy Urtzal, M.D.</h3>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class = "innerText">
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut tation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inc. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "modalContent">
                    <div class = "textModal">
                        <div class = "textHolder">
                            <div class = "topModal">
                                <div class = "modalImage">
                                    <img src = "{{ url_for('static', filename='images/FillerProvider.jpg') }}">
                                </div>
                                <div class = "rightModal">
                                    <div class = "nameEx">
                                        <h4>Physician</h4>
                                        <h3>Sammy Urtzal, M.D.</h3>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class = "innerText">
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempoolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempoolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
    </div>
    <a class="providerNext thirdNext"><i class="fa fa-angle-right"></i></a>
</div>
<div id = "modal4" class = "modal fade-in">
	<a class="providerPrev fourthPrev"><i class="fa fa-angle-left"></i></a>
        <div class="providerContainer specificFeature slideshow4"> <!-- change class -->
            <div class = "featuredImageHolder">
                <div class = "modalContent">
                    <div class = "textModal">
                        <div class = "textHolder">
                            <div class = "topModal">
                                <div class = "modalImage">
                                    <img src = "{{ url_for('static', filename='images/FillerProvider.jpg') }}">
                                </div>
                                <div class = "rightModal">
                                    <div class = "nameEx">
                                        <h4>Physician</h4>
                                        <h3>Sammy Urtzal, M.D.</h3>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class = "innerText">
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "modalContent">
                    <div class = "textModal">
                        <div class = "textHolder">
                            <div class = "topModal">
                                <div class = "modalImage">
                                    <img src = "{{ url_for('static', filename='images/FillerProvider.jpg') }}">
                                </div>
                                <div class = "rightModal">
                                    <div class = "nameEx">
                                        <h4>Physician</h4>
                                        <h3>Sammy Urtzal, M.D.</h3>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class = "innerText">
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut tation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inc. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "modalContent">
                    <div class = "textModal">
                        <div class = "textHolder">
                            <div class = "topModal">
                                <div class = "modalImage">
                                    <img src = "{{ url_for('static', filename='images/FillerProvider.jpg') }}">
                                </div>
                                <div class = "rightModal">
                                    <div class = "nameEx">
                                        <h4>Physician</h4>
                                        <h3>Sammy Urtzal, M.D.</h3>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class = "innerText">
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempoolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
    </div>
    <a class="providerNext fourthNext"><i class="fa fa-angle-right"></i></a>
</div>
{% endblock %}