{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/urgent.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pet_media.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rabbit.css') }}">
    <script src="{{ url_for('static', filename='js/animal_slideshow.js') }}"></script>
{% endblock %}

{% block childcontent %}
<div class = "thirdSection">
    <div class = "impactTitle show-on-scroll-up">
        <h2> Not Your Typical Therapy </h2>
    </div>
    <div class = "animalSection">
        <p class = "show-on-scroll-right">Animal assisted therapy dates back to 17th century Greece, where horses were used to lift the physical and mental spirits of severely ill people. In wartime America during the second World War, the Red Cross worked with the Army Air Corps to found a farm where recovering soldiers could interact and coexist with animals while recuperating from physical and mental trauma. Historically, animals have been thought to be excellent sources of comfort for humans. Scroll to learn more about Neomedica’s  extensive and proven use of therapy rabbits and see if you qualify for a therapy rabbits. </p>
        <h3 class = "show-on-scroll-right">What are Therapy Rabbits?</h3>
        <p class = "show-on-scroll-right">Animal assisted therapy dates back to 17th century Greece, where horses were used to lift the physical and mental spirits of severely ill people. In wartime America during the second World War, the Red Cross worked with the Army Air Corps to found a farm where recovering soldiers could interact and coexist with animals while recuperating from physical and mental trauma. Historically, animals have been thought to be excellent sources of comfort for humans. Scroll to learn more about Neomedica’s  extensive and proven use of therapy rabbits and see if you qualify for a therapy rabbits. </p>
        <div class = "animalImage show-on-scroll-left">
            <img src = "{{ url_for('static', filename='images/GreyRabbit.jpeg') }}">
        </div>
        <h3 class = "show-on-scroll-right">What are Therapy Rabbits?</h3>
        <p class = "show-on-scroll-right">Therapy cats are trained rabbits that aid humans in emotional support through interaction. Rabbit therapy, although uncommon, is often practiced in senior care homes, rehab centers, detention centers, and a number of other areas. They can help prevent a variety of types of suffering, including depression, anxiety, and phobias. Neomedica can refer you to trained, professionally certified, and trustworthy therapy Rabbits. Call 1-800-NEOMEDIC to consult a physician.  </p>
        <h3 class = "show-on-scroll-right">The Lulling Power of Therapy Rabbits </h3>
        <p class = "show-on-scroll-right">Scientists have long accredited the therapeutic powers of animals with oxytocin, the “love hormone,” responsible for alleviating stress and anxiety. Moreover, in Japan, researchers have even found that mutual gazing between a human and an animal can reduce stress by causing oxytocin levels to surge. If you are recovering from a mental or physical condition, this type of therapy might be perfect for you.   </p>
    </div>
</div>
<div class = "try">
    <div class = "tryFilter">
        <div class = "impactTitle whiteTitle show-on-scroll-up">
            <h2> Wanna Try? </h2>
        </div>
        <div class = "trySection show-on-scroll-right">
            <p>Scroll down to either of the two photo galleries, take a couple of deep breaths, find your favorite rabbits, and gaze into their eyes! Press the play button below if you would like to listen to some music at the same time. Some music releases oxytocin as well!</p>
        </div>
        <audio class = "music show-on-scroll-left" src = "{{ url_for('static', filename='images/Music.mp3') }}" controls type="audio/mp3"></audio>
    </div>
</div>
<div class = "thirdSection lessSectionPad">
    <div class = "impactTitle show-on-scroll-up">
        <h2> Neomedica Therapy Teams </h2>
    </div>
    <div class = "featureLargeBox show-on-scroll-up moreSpaceTop centerBox">
        <div class="animalContainer testFeature animal1">
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/BrownRabbit.jpeg') }}">
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/Chub.jpeg') }}">
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/Jack.jpeg') }}">
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/Bunnies.jpeg') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "featureLargeBox show-on-scroll-up noPadTop">
        <a class="reviewPrev 1Prev"><i class="fa fa-angle-left"></i></a>
        <div class="animalContainerFor animal1For">
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/BrownRabbit.jpeg') }}">
                        <h2>Brownie</h2>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/Chub.jpeg') }}">
                        <h2>Chub</h2>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/Jack.jpeg') }}">
                        <h2>Jack</h2>
                    </div>
                </div>
            </div>
            <div class = "featuredImageHolder reviewText">
                <div class = "reviewInnerText">
                    <div class="recBox">
                        <img src="{{ url_for('static', filename='images/Bunnies.jpeg') }}">
                        <h2>Triplets</h2>
                    </div>
                </div>
            </div>      
        </div>
        <a class="reviewNext 1Next"><i class="fa fa-angle-right"></i></a>
    </div>
</div>
<div class = "thirdSection noTop">
    <div class = "impactTitle show-on-scroll-up">
        <h2> High Quality Training </h2>
    </div>
    <div class = "animalSection">
        <p class = "show-on-scroll-right">Neomedica proudly trains dozens of rabbits in our high-quality facilities. We ensure that hostile behavior is avoided during video calls. Additionally, you may call 1-800-NEOMEDIC to see if you qualify for a therapy rabbit, and we will refer you to a trusted provider such as the Delta Society. </p>
    </div>
</div>

{% endblock %}