{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"> 
{% endblock %}

{% block content %}
<div class = "outerForm">
    <div class = "outerTransparent">
        <div class = "formHolder morePadForm">
            <div class = "signTitle resetTitle">
                <h1>Reset Password</h1>
            </div>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class = "usernameSection">
                    {{ form.password.label }}<br>
                    {{ form.password(size=32)}}<br>
                    {% for error in form.password.errors %}
                        <span class = "errorSpan">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class = "usernameSection">
                    {{ form.password2.label }}<br>
                    {{ form.password2(size=32) }}<br>
                    {% for error in form.password2.errors %}
                        <span class = "errorSpan">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class = "usernameSection">{{ form.submit() }}</div>
            </form>
        </div>
    </div>
</div>
{% endblock %}