{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"> 
{% endblock %}

{% block content %}
<div class = "outerForm">
    <div class = "outerTransparent">
        <div class = "formHolder">
            <div class = "signTitle resetTitle">
                <h1>Reset Password</h1>
            </div>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class = "usernameSection">
                    {{ form.email.label }} <br>
                    {{ form.email(size=64, class="email") }}<br>
                    {% for error in form.email.errors %}
                        <span class = "errorSpan">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <p class = "usernameSection">{{ form.submit() }}</p>
            </form>
        </div>
    </div>
</div>
{% endblock %}