{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/medical.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/medical_media.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/return.css') }}">
{% endblock %}

{% block childcontent %}
<div class = "firstSection"> 
    <div class = "impactTitle show-on-scroll-up">
        <h2> Overcoming COVID-19 </h2>
    </div>
    <div class = "treatmentText">
        <p class = "show-on-scroll-left">On March 11th, 2020, the world shut down. Millions of hardworking Americans who were just settling into the new decade - working, exercising, eating, and socializing - had to do it all from home. Regardless of your situation, whether you’re an employer or an employee, Neomedica is here to provide world-class return-to-work solutions. With our tried-and-true “test, secure, prevent” method, daily symptom questionnaires, internal contact tracing guides, and sanitization procedures and protocols, we can almost guarantee that your workplace is taking the necessary steps to stay 100% COVID-19 free. We provide free telediagnoses for all offices and work-from-home employees via our 24/7 clinician video calling service. Choose Neomedica to address all your COVID-19 testing and prevention needs! </p>
    </div>
</div>
<div class = "lastSection">
    <div class = "backgroundSection2">
        <div class = "learnContainer">
            <div class = "learnMoreContainer show-on-scroll-up">
            <a href = "{{ url_for('covid_19') }}" class = "competitionLink"> 
                <div class = "competition">
                    <div class = "Filter">
                        <h4>COVID-19 Testing</h4>
                    </div>
                </div>
            </a>
            <a href = "{{ url_for('screening') }}" class = "eventsLink">
                <div class = "events">
                    <div class = "Filter colorFilter">
                        <h4>COVID-19 Screening and Treatment</h4>
                    </div>
                </div>
            </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}