{% extends "wiki.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wiki_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/review.css') }}">
{% endblock %}

{% block content %}
<div class = "firstSection">
    <!--<div class = "impactTitle reviewTitle show-on-scroll-right">
        <h2> Reviews :D </h2>
    </div>-->
    <div class = "reviewHolder">
        {% for review in reviews %}
        <div class = "review">
            <div class = "reviewImage show-on-scroll-right">
                <!--<img src = "{{ url_for('static', filename='images/CircularFiller.png') }}">-->
                <img src = "{{ url_for('static', filename='images/' + review['image']) }}">
            </div>
            <div class = "reviewText show-on-scroll-left">
                <div class = "starHolder">
                    <img src = "{{ url_for('static', filename='images/' + review['star']) }}">
                </div>
                <h3>{{ review['name'] }}</h3>
                <p>{{ review['text'] }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
        
    <div class = "pagination">
        <a class = "paginationLink" href = "{{ url_for('reviews') }}"> 
            <i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i>
        </a>
        <a class = "paginationLink" href = "{{ url_for('reviews_pagination', page=(current_page)) }}"> <i class="fa fa-angle-left"></i></a>

        {% if total_pages < 6 %}
            {% for i in range(0, total_pages) %}
                {% if i == current_page %}
                    <a class = "paginationLink activePage" href = "{{ url_for('reviews_pagination', page=(i+1)) }}"> {{ i + 1 }}</a> 
                {% else %}
                    <a class = "paginationLink" href = "{{ url_for('reviews_pagination', page=(i+1)) }}"> {{ i + 1 }}</a>
                {% endif %}
            {% endfor %}
        {% elif current_page < 3 %}
            {% for i in range(0, 5) %}
                {% if i == current_page %}
                    <a class = "paginationLink activePage" href = "{{ url_for('reviews_pagination', page=(i+1)) }}"> {{ i + 1 }}</a> 
                {% else %}
                    <a class = "paginationLink" href = "{{ url_for('reviews_pagination', page=(i+1)) }}"> {{ i + 1 }}</a>
                {% endif %}
            {% endfor %}
        {% elif current_page > total_pages - 3 %}
            <!--<p>Current page: {{ current_page }}</p>
            <p>total page: {{ total_pages }}</p>-->
            {% for i in range(total_pages - 5, total_pages) %}
                {% if i == current_page %}
                    <a class = "paginationLink activePage" href = "{{ url_for('reviews_pagination', page=(i+1)) }}"> {{ i + 1 }}</a> 
                {% else %}
                    <a class = "paginationLink" href = "{{ url_for('reviews_pagination', page=(i+1)) }}"> {{ i + 1 }}</a>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for i in range(current_page - 2, current_page + 3) %}
                {% if i == current_page %}
                    <a class = "paginationLink activePage" href = "{{ url_for('reviews_pagination', page=(i+1)) }}"> {{ i + 1 }}</a> 
                {% else %}
                    <a class = "paginationLink" href = "{{ url_for('reviews_pagination', page=(i+1)) }}"> {{ i + 1 }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if last == false %}
            <a class = "paginationLink" href = "{{ url_for('reviews_pagination', page=(current_page + 2)) }}"> <i class="fa fa-angle-right"></i> </a>
            <a class = "paginationLink" href = "{{ url_for('reviews_pagination', page=(total_pages)) }}"> 
                <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i> 
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}