{% extends "default.html" %}

{% block head %}
    {{ super() }} <!-- Have to include the super to get the default css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/social.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/social_media.css') }}"> 
{% endblock %}

{% block childcontent %}
<div class = "firstSection">
    <div class = "impactTitle show-on-scroll-up">
        <h2> Check us out! </h2>
    </div>
    <div class = "solutionsHolder">
        <div class = "solution show-on-scroll-up">
            <div class = "solutionCircle">
                <img src = "{{ url_for('static', filename='images/Facebook.png') }}">
            </div>
            <div class = "spaceAbove show-on-scroll-up">
                <a href = "#" class = "learnMore longUnd">@neomedica_us</a>
            </div>
        </div>
        <div class = "solution show-on-scroll-up">
            <div class = "solutionCircle otherWay">
                <img src = "{{ url_for('static', filename='images/Instagram.png') }}">
            </div>
            <div class = "spaceAbove show-on-scroll-up">
                <a href = "https://www.instagram.com/neomedica_us/" target = "_blank" class = "learnMore longUnd">@neomedica_us</a>
            </div>
        </div>
        <div class = "solution show-on-scroll-up">
            <div class = "solutionCircle">
                <img src = "{{ url_for('static', filename='images/Twitter.png') }}">
            </div>
            <div class = "spaceAbove show-on-scroll-up">
                <a href = "https://twitter.com/neomedica_us" target = "_blank" class = "learnMore longUnd">@neomedica_us</a>
            </div>
        </div>
        <div class = "solution show-on-scroll-up">
            <div class = "solutionCircle otherWay">
                <img src = "{{ url_for('static', filename='images/Youtube.png') }}">
            </div>
            <div class = "spaceAbove show-on-scroll-up">
                <a href = "https://www.youtube.com/" target = "_blank" class = "learnMore longUnd">@Neomedica</a>
            </div>
        </div>
        <div class = "solution show-on-scroll-up">
            <div class = "solutionCircle">
                <img src = "{{ url_for('static', filename='images/Linked.png') }}">
            </div>
            <div class = "spaceAbove show-on-scroll-up">
                <a href = "https://www.linkedin.com/" target = "_blank" class = "learnMore longUnd">@Neomedica Inc.</a>
            </div>
        </div>
        <div class = "solution show-on-scroll-up">
            <div class = "solutionCircle otherWay">
                <img src = "{{ url_for('static', filename='images/Pinterest.png') }}">
            </div>
            <div class = "spaceAbove show-on-scroll-up">
                <a href = "https://www.pinterest.com/" target = "_blank" class = "learnMore longUnd">@neomedica_us</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}