{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/urgent.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/urgent_media.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/speech.css') }}">
{% endblock %}

{% block childcontent %}
<div class = "firstSection demoSection">
    <div class = "simpleSucks">
        <h2 class = "show-on-scroll-up">“If you can speak, you can influence. If you can influence, you can change lives.”</h2> 
    </div>
</div>
<div class = "secondSection">
    <div class = "treatmentBox show-on-scroll-right">
        <div class = "imageHolder pic1">
        </div>
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Why Speech Therapy?</h2>
                </div>
                <p class = "innerText show-on-scroll-up">If you have a tough time articulating exactly what you want to because of a speech impairment, you may have either a speech or language disorder. Our speech professionals are trained to recognize and treat many different types of disorders, listed below: </p>
                <div class = "healthList show-on-scroll-up">
                    <ul class = "withoutLinks">
                        <li>
                            <a>Articulation disorders</a>
                        </li>
                        <li>
                            <a> Fluency disorders  </a>
                        </li>
                        <li>
                            <a> Resonance disorders </a>
                        </li>
                        <li>
                            <a> Receptive disorders  </a>
                        </li>
                    </ul>
                    <ul class = "withoutLinks">
                        <li>
                            <a> Expressive disorders </a>
                        </li>
                        <li>
                            <a> Cognitive-communication disorders </a>
                        </li>
                        <li>
                            <a> Aphasia </a>
                        </li>
                        <li>
                            <a> Dysarthria </a>
                        </li>
                    </ul>
                </div>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    {% if current_user.is_anonymous %}
                        <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% else %}
                        <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class = "treatmentBox reverseWrap show-on-scroll-left">
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Proven Speech Therapy Techniques </h2>
                </div>
                <p class = "innerText show-on-scroll-up">Neomedica believes in a set of tried and trusted speech therapy techniques help both you and our therapists have the smoothest treatment process possible. Depending on your diagnosis, your therapist will walk you through the list of options for treatment that you have, and you’ll be able to customize your therapy and set a flexible schedule that works for you. Not only are our therapists specially trained on a core set of techniques, which are listed below, but they quickly learn and adapt to a patient’s therapy needs with alternative methods as well.  </p>
                <div class = "healthList show-on-scroll-up">
                    <ul class = "withoutLinks">
                        <li>
                            <a>Articulation Therapy </a>
                        </li>
                        <li>
                            <a> Language Intervention Therapy   </a>
                        </li>
                        <li>
                            <a> Oral Motor Therapy  </a>
                        </li>
                    </ul>
                    <ul class = "withoutLinks">
                        <li>
                            <a> Lee Silverman Speech Therapy (LSVT) </a>
                        </li>
                        <li>
                            <a> VitalStim Therapy </a>
                        </li>
                    </ul>
                </div>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    {% if current_user.is_anonymous %}
                        <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% else %}
                        <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class = "imageHolder pic2">
        </div>
    </div>
    <div class = "treatmentBox show-on-scroll-right">
        <div class = "imageHolder pic3">
        </div>
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Children’s Speech Therapy </h2>
                </div>
                <p class = "innerText show-on-scroll-up">If your child is experiencing a speech delay, our team of speech therapists at Neomedica are here to help. Depending on the exact type of speech condition your child is experiencing, we will present you with a list of therapy options, including what techniques we can try to administer and whether your child is with a group of similar children or by themself. We’re here to work with you and your child and help them build courage and gain confidence through fluent speech. </p>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    {% if current_user.is_anonymous %}
                        <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% else %}
                        <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class = "treatmentBox reverseWrap show-on-scroll-left">
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Adult Speech Therapy  </h2>
                </div>
                <p class = "innerText show-on-scroll-up">If you are experiencing problems with your speech that you didn’t used to have before, Neomedica can help. Whether you recently suffered a stroke, an injury, or nothing at all, our specialists can quickly diagnose and treat a range of conditions. You’ll have full control over both the treatment method and a large selection of specialists to choose from to best serve your needs. Regardless of what the problem is, Neomedica is here to help you get through it, and get back your confidence with speech. </p>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    {% if current_user.is_anonymous %}
                        <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% else %}
                        <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class = "imageHolder pic4">
        </div>
    </div>
</div>
<div class = "firstSection demoSection anotherDemo">
    <div class = "simpleSucks leftSucks">
        <h2 class = "show-on-scroll-up">Ready to start treatment? </h2> 
        <h3 class = "show-on-scroll-up">Request a visit quickly and privately.</h3>
        <div class = "learnMoreContainerRegular leftAlign whiteButton show-on-scroll-up providerButton">
            {% if current_user.is_anonymous %}
                <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
            {% else %}
                <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
            {% endif %}
        </div>
    </div>
    <div class = "registerImage show-on-scroll-up">
        <img src = "{{ url_for('static', filename='images/Thumb.png') }}">
    </div>
</div>
{% endblock %}