{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/urgent.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/urgent_media.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/therapy.css') }}">
{% endblock %}

{% block childcontent %}
<div class = "firstSection demoSection">
    <div class = "simpleSucks">
        <h2 class = "show-on-scroll-up">"Our wounds are often the openings into the best and most beautiful parts of us."</h2> 
        <h4 class = "littleAnon show-on-scroll-up"><i>- David Richo - </i></h4>
    </div>
</div>
<div class = "secondSection">
    <div class = "treatmentBox show-on-scroll-right">
        <div class = "imageHolder pic1">
        </div>
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> A - F </h2>
                </div>
                <p class = "innerText show-on-scroll-up">You’ve been through some tough times. Happiness and relaxation are hard to find and it almost feels as if there’s no light at the end of the tunnel. When you sign up for Neomedica, you take the first step to prioritizing your mental welfare. Our plans are tailored for you and we therapists using the most powerful, effective, and reliable techniques. You can get started with an initial visit, which will be soon followed by shorter visits at intervals customized to your comfort. We treat countless challenges and have them all alphabetized below for your convenience. </p>
                <div class = "healthList show-on-scroll-up">
                    <ul>
                        <li class = "healthLi">
                            <a> Addiction/substance abuse </a> <!-- href = "{{ url_for('therapy_condition', condition='abuse') }}" -->
                        </li>
                        <li class = "healthLi">
                            <a> ADHD/ADD </a>
                        </li>
                        <li class = "healthLi">
                            <a> Anger management </a>
                        </li>
                        <li class = "healthLi">
                            <a> Anxiety </a>
                        </li>
                    </ul>
                    <ul>
                        <li class = "healthLi">
                            <a>Codependency</a>
                        </li>
                        <li class = "healthLi">
                            <a>Concentration</a>
                        </li>
                        <li class = "healthLi">
                            <a>Conduct Disorder </a>
                        </li>
                        <li class = "healthLi">
                            <a>Cognitive Disorders</a>
                        </li>
                    </ul>
                    <ul>
                        <li class = "healthLi">
                            <a> Depression </a>
                        </li>
                        <li class = "healthLi">
                            <a> Divorce </a>
                        </li>
                        <li class = "healthLi">
                            <a>Domestic violence </a>
                        </li>
                    </ul>
                </div>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class = "treatmentBox reverseWrap show-on-scroll-left">
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> G - M </h2>
                </div>
                <p class = "innerText show-on-scroll-up"></p>
                <div class = "healthList show-on-scroll-up">
                    <ul>
                        <li class = "healthLi">
                            <a> Grief/loss </a>
                        </li>
                        <li class = "healthLi">
                            <a> Insomnia </a>
                        </li>
                        <li class = "healthLi">
                            <a>LGBT issues</a>
                        </li>
                        <li class = "healthLi">
                            <a> Maternal health/post-partum </a>
                        </li>
                    </ul>
                    <ul>  
                        <li class = "healthLi">
                            <a href = "#">Medication management</a>
                        </li>
                        <li class = "healthLi">
                            <a href = "#"> Mood swings </a>
                        </li>
                        <li class = "healthLi">
                            <a href = "#">  Men’s issues </a>
                        </li>
                    </ul>
                </div>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                </div>
            </div>
        </div>
        <div class = "imageHolder pic2">
        </div>
    </div>
    <div class = "treatmentBox show-on-scroll-right">
        <div class = "imageHolder pic3">
        </div>
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> N - Z  </h2>
                </div>
                <p class = "innerText show-on-scroll-up"></p>
                <div class = "healthList show-on-scroll-up">
                    <ul>
                        <li class = "healthLi">
                            <a> Obsessive-compulsive disorder </a>
                        </li>
                        <li class = "healthLi">
                            <a> Panic attacks</a>
                        </li>
                        <li class = "healthLi">
                            <a> Parenting </a>
                        </li>
                    </ul>
                    <ul>
                        <li class = "healthLi">
                            <a> Performance coaching</a>
                        </li>
                        <li class = "healthLi">
                            <a> Relationships</a>
                        </li>
                        <li class = "healthLi">
                            <a></a> Sexual abuse</a>
                        </li>
                        <li class = "healthLi">
                            <a> Sexuality</a>
                        </li>
                    </ul>
                    <ul>
                        <li class = "healthLi">
                            <a> Trauma/PTSD </a>
                        </li>
                        <li class = "healthLi">
                            <a> Social Anxiety</a>
                        </li>
                        <li class = "healthLi">
                            <a> Stress management</a>
                        </li>
                        <li class = "healthLi">
                            <a> Substance Abuse</a>
                        </li>
                        <li class = "healthLi">
                            <a>  Women’s issues  </a>
                        </li>
                    </ul>
                </div>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    <a href = "{{ url_for('login' )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "firstSection demoSection anotherDemo">
    <div class = "simpleSucks leftSucks">
        <h2 class = "show-on-scroll-up">Ready to start treatment? </h2> 
        <h3 class = "show-on-scroll-up">Request a visit quickly and privately.</h3>
        <div class = "learnMoreContainerRegular leftAlign whiteButton show-on-scroll-up providerButton">
            <a href = "{{ url_for('login' )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
        </div>
    </div>
    <div class = "registerImage show-on-scroll-up">
        <img src = "{{ url_for('static', filename='images/Thumb.png') }}">
    </div>
</div>
{% endblock %}