{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/treatment.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/treatment_media.css') }}">
    <script src = "{{ url_for('static', filename='js/scroll_to.js') }}"></script> <!-- included at top to prevent glitchy thing -->
{% endblock %}

{% block childcontent %}
<div class = "firstSection">
    <div class = "impactTitle show-on-scroll-up">
        <h2> Telemedicine, done right  </h2>
    </div>
    <div class = "treatmentText">
        <p class = "show-on-scroll-left">At Neomedica, our focus has always been to consolidate the previously scattered virtual healthcare solutions. Our seamless platform connects a broad range of medical health professionals to the user within seconds, covering all bases. From physical injuries and sicknesses to mental health solutions and veterinarian support, families have relied on Neomedica to address mild symptoms of all types. If this is the first time you are experiencing severe symptoms or intense pain, please contact 911 immediately. Continue scrolling to explore our diverse set of treatment options. </p>
    </div>
    <div class = "arrowDown show-on-scroll-down">
        <p>learn more</p>
        <a href = "#treatments">
            <i class="fas fa-chevron-circle-down"></i>
        </a>
    </div>
</div>
<div class = "secondSection" id = "treatmentSection">
    <div class = "treatmentBox">
        <div class = "imageHolder show-on-scroll-right pic1">
        </div>
        <div class = "textOverall show-on-scroll-left">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Medical Health Solutions </h2>
                </div>
                <p class = "innerText show-on-scroll-up">Our seasoned professionals of all physician specialties are well qualified to assist you with any and all physical health issues, whether it’s muscle pain, dizziness, cough, or anything impairing your physical ability and comfort. For those suffering from sports-related ailments, mild cold- or flu-like symptoms, menstrual cramps, pregnancy-related issues, or any other physical illness, click below to explore our Medical Health Solutions. </p>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    <a href = "{{ url_for('medical')}}" class="learnMoreButtonRegular"><button>Learn More</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class = "treatmentBox reverseWrap">
        <div class = "textOverall show-on-scroll-right">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Behavioral Health Solutions </h2>
                </div>
                <p class = "innerText show-on-scroll-up">The Anxiety and Depression Association of America estimates that roughly 18% of the American population suffers from some form of anxiety. With such a large disparity between the perceived impacts and the actual impacts of mental health, Neomedica is leading a mental health revolution on all fronts. Click below if you are experiencing symptoms of anxiety, depression, phobias, or irrational thoughts. Common symptoms include decreased energy, lowered concentration, drastic appetite changes, unexplainable aches, persistent anxious or hopeless thoughts, fatigue, and more.  </p>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    <a href = "{{ url_for('behavioral')}}" class="learnMoreButtonRegular"><button>Learn More</button></a>
                </div>
            </div>
        </div>
        <div class = "imageHolder pic2 show-on-scroll-left">
        </div>
    </div>
    <div class = "treatmentBox">
        <div class = "imageHolder pic3 show-on-scroll-right">
        </div>
        <div class = "textOverall show-on-scroll-left">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Return-to-Work Solutions </h2>
                </div>
                <p class = "innerText show-on-scroll-up">The COVID-19 pandemic has forced millions of Americans to switch to online work. As the nation continues to dilligently mask up and obey CDC Guidelines, an increasing percentage of the workforce are safely returning to work. Neomedica’s professionally curated “Test, Attest, Ensure” procedure ensures that every employee within a company is well-equipped to safely return to in-person work. Neomedica also offers free drive-through testing at any one of our locations. Click below to learn more.  </p>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    <a href = "{{ url_for('return_work')}}" class="learnMoreButtonRegular"><button>Learn More</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class = "treatmentBox reverseWrap">
        <div class = "textOverall show-on-scroll-right pic3">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Virtual Reality Solutions </h2>
                </div>
                <p class = "innerText show-on-scroll-up">Augmented and Virtual Reality’s place in telehealth is growing consistently. With innovative, immersive, therapeutic applications that address a variety of neuro-cognitive, emotional, and physical symptoms, our premium VR Toolkit is certainly a viable purchase for those who would like a more involved, complete telemedicine experience. Note: VR treatment is only available to patients over the age of 18. Those who suffer from epilepsy and motion sickness should not opt for VR treatment. Call 1-800-NEOMEDIC for more information.  </p>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    <a href = "{{ url_for('virtual')}}" class="learnMoreButtonRegular"><button>Learn More</button></a>
                </div>
            </div>
        </div>
        <div class = "imageHolder pic4 show-on-scroll-left">
        </div>
    </div>
    <div class = "treatmentBox">
        <div class = "imageHolder pic5 show-on-scroll-right">
        </div>
        <div class = "textOverall show-on-scroll-left">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Pet Therapy Solutions </h2>
                </div>
                <p class = "innerText show-on-scroll-up">Pet therapy is a relaxing, guided interaction between a person and a trained animal. It is an excellent, safe, and satisfying coping technique that helps tremendously with recovering or coping with a health problem or mental disorder. At Neomedica, we offer dogs, cats, birds, horses, rabbits, and reptiles for rent as therapy animals. Note: Neomedica requires background checks and waivers to rent animals.  </p>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    <a href = "{{ url_for('pet')}}" class="learnMoreButtonRegular"><button>Learn More</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src = "{{ url_for('static', filename='js/scroll_to.js') }}"></script> <!-- Must be included at bottom -->
{% endblock %}