{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/urgent.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/urgent_media.css') }}">
{% endblock %}

{% block childcontent %}
<div class = "firstSection demoSection">
    <div class = "simpleSucks">
        <h2 class = "show-on-scroll-up">“Nothing is as urgent as self-care"</h2> 
        <h4 class = "littleAnon show-on-scroll-up"><i>- Bhavik Soni - </i></h4>
    </div>
</div>
<div class = "secondSection">
    <div class = "treatmentBox show-on-scroll-right">
        <div class = "imageHolder pic1">
        </div>
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> A - C</h2>
                </div>
                <p class = "innerText show-on-scroll-up">If you are in life-threatening emergency, Neomedica may not be able to help you, immediately contact 911.  </p>
                <p class = "show-on-scroll-up">Telehealth urgent care is a live, online visit with a doctor, nurse practitioner, or physical assistant. We provide care for non-life-threatening conditions. Our doctors will discuss symptoms, ask questions, and if needed, fill a prescription. Our team can evaluate and help you treat: </p>
                <div class = "healthList show-on-scroll-up">
                    <ul>
                        <li class = "healthLi">
                            <a> Abrasions</a>
                        </li>
                        <li class = "healthLi">
                            <a> Acne </a>
                        </li>
                        <li class = "healthLi">
                            <a> Allergies </a>
                        </li>
                        <li class = "healthLi">
                            <a> Asthma </a>
                        </li>
                    </ul>
                    <ul>
                        <li class = "healthLi">
                            <a> Bacterial vaginosis </a>
                        </li>
                        <li class = "healthLi">
                            <a> Birth control </a>
                        </li>
                        <li class = "healthLi">
                            <a> Bites and Stings </a>
                        </li>
                        <li class = "healthLi">
                            <a> Body Aches </a>
                        </li>
                    </ul>
                    <ul>
                        <li class = "healthLi">
                            <a> Bronchitis </a>
                        </li>
                        <li class = "healthLi">
                            <a> Bruises </a>
                        </li>
                        <li class = "healthLi">
                            <a> COVID-19 Antibody Testing </a>
                        </li>
                        <li class = "healthLi">
                            <a> COVID-19 Screening </a>
                        </li>
                        <li class = "healthLi">
                            <a> Cough </a>
                        </li>
                    </ul>
                </div>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    {% if current_user.is_anonymous %}
                        <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% else %}
                        <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class = "treatmentBox reverseWrap show-on-scroll-left">
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> D - L </h2>
                </div>
                <div class = "healthList show-on-scroll-up moreSpaceAbove">
                    <ul>
                        <li class = "healthLi">
                            <a> Dehydration </a>
                        </li>
                        <li class = "healthLi">
                            <a> Diarrhea </a>
                        </li>
                        <li class = "healthLi">
                            <a> Earache </a>
                        </li>
                    </ul>
                    <ul>
                        <li class = "healthLi">
                            <a> Fever </a>
                        </li>
                        <li class = "healthLi">
                            <a> Flu </a>
                        </li>
                        <li class = "healthLi">
                            <a> Frostbite </a>
                        </li>
                    </ul>
                    <ul>
                        <li class = "healthLi">
                            <a> Gout</a>
                        </li>
                        <li class = "healthLi">
                            <a> Headaches</a>
                        </li>
                        <li class = "healthLi">
                            <a> Hives</a>
                        </li>
                        <li class = "healthLi">
                            <a> Itchy Eyes</a>
                        </li>
                        <li class = "healthLi">
                            <a> Lice </a>
                        </li>
                    </ul>
                </div>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    {% if current_user.is_anonymous %}
                        <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% else %}
                        <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class = "imageHolder pic2">
        </div>
    </div>
    <div class = "treatmentBox show-on-scroll-right">
        <div class = "imageHolder pic3">
        </div>
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> T - R</h2>
                </div>
                <div class = "healthList show-on-scroll-up moreSpaceAbove">
                    <ul>
                        <li class = "healthLi">
                            <a> Medication Refills </a>
                        </li>
                        <li class = "healthLi">
                            <a> Migraines </a>
                        </li>
                        <li class = "healthLi">
                            <a> Mild Lacerations </a>
                        </li>
                        <li class = "healthLi">
                            <a> Nasal Congestion </a>
                        </li>
                    </ul>
                    <ul>
                        <li class = "healthLi">
                            <a> Nausea </a>
                        </li>
                        <li class = "healthLi">
                            <a> Pink Eye </a>
                        </li>
                        <li class = "healthLi">
                            <a> Respiratory infections  </a>
                        </li>
                    </ul>
                </div>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    {% if current_user.is_anonymous %}
                        <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% else %}
                        <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class = "treatmentBox reverseWrap show-on-scroll-left">
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> S - Z </h2>
                </div>
                <div class = "healthList show-on-scroll-up moreSpaceAbove">
                    <ul>
                        <li class = "healthLi">
                            <a> Sexually Transmitted Infections </a>
                        </li>
                        <li class = "healthLi">
                            <a> Sinus Infections </a>
                        </li>
                        <li class = "healthLi">
                            <a> Sinus Symptoms </a>
                        </li>
                    </ul>
                    <ul>
                        <li class = "healthLi">
                            <a> Skin Infections </a>
                        </li>
                        <li class = "healthLi">
                            <a> Sore Throat  </a>
                        </li>
                        <li class = "healthLi">
                            <a> Sprains and Strains </a>
                        </li>
                    </ul>
                    <ul>
                        <li class = "healthLi">
                            <a> Travel Medications </a>
                        </li>
                        <li class = "healthLi">
                            <a> Urinary Tract Infections </a>
                        </li>
                        <li class = "healthLi">
                            <a> Vomiting  </a>
                        </li>
                        <li class = "healthLi">
                            <a> Yeast Infections  </a>
                        </li>
                    </ul>
                </div>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    {% if current_user.is_anonymous %}
                        <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% else %}
                        <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class = "imageHolder pic4">
        </div>
    </div>
</div>
<div class = "firstSection demoSection anotherDemo">
    <div class = "simpleSucks leftSucks">
        <h2 class = "show-on-scroll-up">Ready to start treatment? </h2> 
        <h3 class = "show-on-scroll-up">Request a visit quickly and privately.</h3>
        <div class = "learnMoreContainerRegular leftAlign whiteButton show-on-scroll-up providerButton">
            {% if current_user.is_anonymous %}
                <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
            {% else %}
                <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
            {% endif %}
        </div>
    </div>
    <div class = "registerImage show-on-scroll-up">
        <img src = "{{ url_for('static', filename='images/Handshake.png') }}">
    </div>
</div>
{% endblock %}