{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/why.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/why_media.css') }}">
    <script src = "{{ url_for('static', filename='js/feature_slideshow2.js') }}"></script>
{% endblock %}

{% block childcontent %}
    <div class = "firstSection">
        <div class = "impactTitle show-on-scroll-up">
            <h2> A widespread impact </h2>
        </div>
        <div class = "impactSection">
            <div class = "leftImpact">
                <div class = "healthcareTitle smallerTitle show-on-scroll-right">
                    <h2> Making healthcare more accessible and affordable. </h2>
                </div>
            </div>
            <div class = "rightImpact">
                <div class = "impactBox show-on-scroll-left">
                    <h4>We've saved an average</h4>
                    <h3>$2150</h3>
                    <h4>for every treatment plan</h4>
                </div>
                <div class = "impactBox show-on-scroll-left">
                    <h4>We've sent over</h4>
                    <h3>500,000</h3>
                    <h4>treatment plans</h4>
                </div>
                <div class = "impactBox lastImpact show-on-scroll-left">
                    <h4>We've saved </h4>
                    <h3>$57M</h3>
                    <h4>in total healthcare costs</h4>
                </div>
            </div>
        </div>
    </div>

    <div id = "featuredSection" class = "firstSection">
        <div class = "featureTransparent">
            <div class = "impactTitle providerTitle show-on-scroll">
                <h2>Passionate providers</h2>
            </div>
            <div class = "featureLargeBox show-on-scroll-up">
                <a class="featurePrev"><i class="fa fa-angle-left"></i></a>
                <div class="featuredContainer2 specificFeature">
                    <div class = "featuredImageHolder">
                        <div class = "imageInside">
                            <img src = "{{ url_for('static', filename='images/ShelbyCircle.jpg') }}">
                        </div>
                        <p>Cortez is a medically trained, U.S. board certified, licensed and credentialed in her field. Neomedica physicians hold bachelor’s (B.A. or B.S.) Doctor of Medicine (M.D.) or Doctor of Osteopathic Medicine (D.O.) degrees.</p>
                        <div class = "providerInfo">
                            <h3>Shelby Cortez</h3>
                            <h4>Neomedica Doctor</h4>
                            <h4>Physician</h4>
                        </div>
                    </div>
                    <div class = "featuredImageHolder">
                        <div class = "imageInside">
                            <img src = "{{ url_for('static', filename='images/DymphanaCircle.jpg') }}">
                        </div>
                        <p>Ciara is a medically trained nurse practitioner, she is AANP accredited, registered, and credentialed in her field. Neomedica nurse practitioners hold Bachelor of Science in Nursing (BSN) and Master of Science in Nursing (MSN) degrees.</p>
                        <div class = "providerInfo">
                            <h3>Dymphana Ciara</h3>
                            <h4>Neomedica Doctor</h4>
                            <h4>Nurse Practitioner</h4>
                        </div>
                    </div>
                    <div class = "featuredImageHolder">
                        <div class = "imageInside">
                            <img src = "{{ url_for('static', filename='images/ElizabetCircle.jpg') }}">
                        </div>
                        <p>Elizabeth is a medically trained physical assistant, she is NCCPA certified, licensed and credentialed. MeMD physician assistants hold bachelor’s (B.A. or B.S.) and Physician Assistant Studies (MPAS), Health Science (MHS) or Medical Science (MMSc) degrees. </p>
                        <div class = "providerInfo">
                            <h3>Doroteya Elizabet</h3>
                            <h4>Neomedica Doctor</h4>
                            <h4>Physician Assistant</h4>
                        </div>
                    </div>
                    <div class = "featuredImageHolder">
                        <div class = "imageInside">
                            <img src = "{{ url_for('static', filename='images/AlhajiCircle.jpg') }}">
                        </div>
                        <p>Chiemeka is one of our behavioral health team therapists, Neomedica therapists are experienced and accredited Licensed Professional Counselors, Licensed Clinical Social Workers, Marriage and Family Therapists and equivalent licensed professionals. </p>
                        <div class = "providerInfo">
                            <h3>Alhaji Chiemeka</h3>
                            <h4>Neomedica Doctor</h4>
                            <h4>Behavioral Therapist</h4>
                        </div>
                    </div>
                    <div class = "featuredImageHolder">
                        <div class = "imageInside">
                            <img src = "{{ url_for('static', filename='images/JohnCircle.png') }}">
                        </div>
                        <p>Mertens has completed his SLP Master’s Degree Program. He is a passionate speech pathologist, helping Neomedica patients overcome speech impediments and mental/physical barriers. </p>
                        <div class = "providerInfo">
                            <h3>Clemente Mertens</h3>
                            <h4>Neomedica Doctor</h4>
                            <h4>Speech Therapist</h4>
                        </div>
                    </div>
                    <div class = "featuredImageHolder">
                        <div class = "imageInside">
                            <img src = "{{ url_for('static', filename='images/PetGuy.png') }}">
                        </div>
                        <p>John is one of our passionate pet therapy providers. With a PhD in veterinary medicine, he assesses pateints for signs they qualify for a therapy animal. He works closely with trainers to provide these pets. </p>
                        <div class = "providerInfo">
                            <h3>John Dardek</h3>
                            <h4>Neomedica Doctor</h4>
                            <h4>Pet Therapy Provider</h4>
                        </div>
                    </div>       
                </div>
                <a class="featureNext"><i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>

    <div class = "firstSection expertSectionNoPad">
        <div class = "expertSection">
            <div class = "graphHolder show-on-scroll-right">
                <div class = "graphImageHolder">
                    <img src = "{{ url_for('static', filename='images/Graphs2.png') }}">
                </div>
            </div>
            <div class = "textHolder">
                <div class = "impactTitle show-on-scroll-left">
                    <h2> Life-changing expert medical advice </h2>
                </div>
                <p class = "show-on-scroll-left">We’ve changed thousands of patients’ lives and livelihoods with our world-class solutions. Our qualified medical experts are sure to provide you with the care that you need and deserve.  </p>  
                <div class = "learnMoreLink show-on-scroll-left">
                    <a href = "{{ url_for('providers') }}" class = "learnMore">Learn more about our medical experts <i id = "rightArrow" class="fa fa-angle-right learn"></i></a>
                </div>
            </div>
        </div>
        <div class = "imageExpert show-on-scroll-up">
            <img src = "{{ url_for('static', filename='images/Discussion.jpg') }}">
        </div>
    </div>

    <div class = "firstSection">
        <div class = "impactTitle show-on-scroll-up">
            <h2> Five dimensional focus </h2>
        </div>
        <div class = "dimensionHolder">
            <div class = "dimension show-on-scroll-up">
                <div class = "dimensionImageHolder">
                    <img src = "{{ url_for('static', filename='images/ProvidersCircle.jpg') }}">
                </div>
                <div class = "dimensionText">
                    <h3>Medical Health</h3>
                    <h4>Medical care on-demand </h4>
                </div>
            </div>
            <div class = "dimension show-on-scroll-up">
                <div class = "dimensionImageHolder">
                    <img src = "{{ url_for('static', filename='images/MentalCircleHold.jpg') }}">
                </div>
                <div class = "dimensionText">
                    <h3>Behavioral Health</h3>
                    <h4> Prioritize your mental health</h4>
                </div>
            </div>
            <div class = "dimension show-on-scroll-up">
                <div class = "dimensionImageHolder">
                    <img src = "{{ url_for('static', filename='images/ReturnWorkCircle.jpg') }}">
                </div>
                <div class = "dimensionText">
                    <h3>Return-to-Work </h3>
                    <h4>Keep your workforce safe</h4>
                </div>
            </div>
            <div class = "dimension show-on-scroll-up">
                <div class = "dimensionImageHolder">
                    <img src = "{{ url_for('static', filename='images/VirtualCircleReality.jpg') }}">
                </div>
                <div class = "dimensionText">
                    <h3>Virtual Reality </h3>
                    <h4>Explore the future of telehealth</h4>
                </div>
            </div>
            <div class = "dimension show-on-scroll-up">
                <div class = "dimensionImageHolder">
                    <img src = "{{ url_for('static', filename='images/DogCircle.jpg') }}">
                </div>
                <div class = "dimensionText">
                    <h3>Pet Therapy </h3>
                    <h4>Unlock the power of animals</h4>
                </div>
            </div>
        </div>
    </div>

    <div class = "firstSection second">
        <div class = "impactTitle show-on-scroll-up">
            <h2> A better experience </h2>
        </div>
        <table>
            <tr class = "headingSection show-on-scroll-right">
                <th class = "heading features ">Features</th>
                <th class = "heading special">
                    <div class = "tableImageHolder">
                        <img src = "{{ url_for('static', filename='images/LogoBlue.png') }}">
                    </div>
                </th>  
                <th class = "heading special">Traditional Healthcare</th> 
            </tr>
            <tr class = "blueTable row show-on-scroll-left">
                <td class = "heading regularText">Open 24/7</td>
                <td class = "check">
                    <div class = "imageCheckHolder">
                        <img src = "{{ url_for('static', filename='images/BlueCircle.png') }}">
                    </div>
                </td>
                <td class = "check">
                    <div class = "imageCheckHolder">
                        <img src = "{{ url_for('static', filename='images/GrayX.png') }}">
                    </div>
                </td>
            </tr>
            <tr class = "row show-on-scroll-right">
                <td class = "heading regularText">Start anytime, anywhere, any device</td>
                <td class = "check">
                    <div class = "imageCheckHolder">
                        <img src = "{{ url_for('static', filename='images/BlueCircle.png') }}">
                    </div>
                </td>
                <td class = "check">
                    <div class = "imageCheckHolder">
                        <img src = "{{ url_for('static', filename='images/GrayX.png') }}">
                    </div>
                </td>
            </tr>
            <tr class = "blueTable row show-on-scroll-left">
                <td class = "heading regularText">No waiting rooms</td>
                <td class = "check">
                    <div class = "imageCheckHolder">
                        <img src = "{{ url_for('static', filename='images/BlueCircle.png') }}">
                    </div>
                </td>
                <td class = "check">
                    <div class = "imageCheckHolder">
                        <img src = "{{ url_for('static', filename='images/GrayX.png') }}">
                    </div>
                </td>
            </tr>
            <tr class = "row show-on-scroll-right">
                <td class = "heading regularText">Privacy secured</td>
                <td class = "check">
                    <div class = "imageCheckHolder">
                        <img src = "{{ url_for('static', filename='images/BlueCircle.png') }}">
                    </div>
                </td>
                <td class = "check">
                    <div class = "imageCheckHolder">
                        <img src = "{{ url_for('static', filename='images/GrayX.png') }}">
                    </div>
                </td>
            </tr>
            <tr class = "blueTable row show-on-scroll-left">
                <td class = "heading regularText">Easy-to-follow treatment plans</td>
                <td class = "check">
                    <div class = "imageCheckHolder">
                        <img src = "{{ url_for('static', filename='images/BlueCircle.png') }}">
                    </div>
                </td>
                <td class = "check">
                    <div class = "imageCheckHolder">
                        <img src = "{{ url_for('static', filename='images/GrayX.png') }}">
                    </div>
                </td>
            </tr>
            <tr class = "row show-on-scroll-right">
                <td class = "heading regularText">Satisfaction guaranteed</td>
                <td class = "check">
                    <div class = "imageCheckHolder">
                        <img src = "{{ url_for('static', filename='images/BlueCircle.png') }}">
                    </div>
                </td>
                <td class = "check">
                    <div class = "imageCheckHolder">
                        <img src = "{{ url_for('static', filename='images/GrayX.png') }}">
                    </div>
                </td>
            </tr>
            <tr class = "blueTable row show-on-scroll-left">
                <td class = "heading regularText">Money return guaranteed</td>
                <td class = "check">
                    <div class = "imageCheckHolder">
                        <img src = "{{ url_for('static', filename='images/BlueCircle.png') }}">
                    </div>
                </td>
                <td class = "check">
                    <div class = "imageCheckHolder">
                        <img src = "{{ url_for('static', filename='images/GrayX.png') }}">
                    </div>
                </td>
            </tr>
            <tr class = "row show-on-scroll-right">
                <td class = "heading regularText">Free if treatment fails</td>
                <td class = "check">
                    <div class = "imageCheckHolder">
                        <img src = "{{ url_for('static', filename='images/BlueCircle.png') }}">
                    </div>
                </td>
                <td class = "check">
                    <div class = "imageCheckHolder">
                        <img src = "{{ url_for('static', filename='images/GrayX.png') }}">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class = "firstSection second">
        <div class = "impactTitle show-on-scroll-up">
            <h3>Transparent pricing</h3>
            <h2> Compare the cost </h2>
        </div>
        <div class = "costHolder">
            <div class = "imageHolder show-on-scroll-up">
                <img src = "{{ url_for('static', filename='images/GraphCost.png') }}">
            </div>
        </div>
    </div>
    
    <div class = "firstSection second">
        <div class = "impactTitle show-on-scroll-up">
            <h3>Pioneers of health</h3>
            <h2> Innovation: it's in our DNA </h2>
        </div>
        <div class = "innovationSection">
            <div class = "innovation">
                <div class = "innovationImage show-on-scroll-right">
                    <img src = "{{ url_for('static', filename='images/FutureCircle.jpg') }}">
                </div>
                <div class = "innovationText show-on-scroll-left">
                    <h3>Future-oriented approach</h3>
                    <p>With futuristic solutions like virtual reality and seamless video calling, Neomedica is built for the 21st century and beyond. We pioneer the solutions that the world and industry of telehealth follows. </p>
                </div>
            </div>
            <div class = "innovation">
                <div class = "innovationImage show-on-scroll-right">
                    <img src = "{{ url_for('static', filename='images/VideoCall.jpg') }}">
                </div>
                <div class = "innovationText show-on-scroll-left">
                    <h3>Seamless meeting experience</h3>
                    <p>With Neomedica’s secure, fast, and seamless video call viewer, you can join your appointment on any device, no matter where you’re located.  Our beautifully designed scheduling and meeting system takes the stress of lag away. </p>
                </div>
            </div>
            <div class = "innovation lastInnovation">
                <div class = "innovationImage show-on-scroll-right">
                    <img src = "{{ url_for('static', filename='images/Platform.jpg') }}">
                </div>
                <div class = "innovationText show-on-scroll-left">
                    <h3>Cross-platform access</h3>
                    <p> Whether you’re joining from your mobile device, tablet, computer, or even Smart TV, Neomedica’s seamless platform will always remain constant. We believe that everyone deserves high-quality care, no matter the device it’s being accessed from. </p>
                </div>
            </div>
        </div>
    </div>
    <div class = "firstSection providerSection">
        <div class = "featureTransparent providerTransparent">
            <div class = "providerHolder show-on-scroll-right">
                <div class = "providerTextBox">
                    <div class = "impactTitle show-on-scroll-up humanConnect">
                        <h2>Pay only when we help</h2>
                    </div>
                    <p class = "show-on-scroll-up">Neomedica does not offer a stingy subscription fee like most other telemedicine services. Instead, we simply charge a flat fee for every appointment. Optionally, you can set your account to charge your card automatically. This way, you won’t be charged for any pesky hidden fees – with Neomedica, what you see is what you get: complete transparency. </p>
                </div>
            </div>
        </div>
    </div>
    <div class = "firstSection">
        <div class = "impactTitle show-on-scroll-up">
            <h3>For business</h3>
            <h2> Bring Neomedica to your organization </h2>
        </div>
        <div class = "innovationSection">
            <div class = "innovation around">
                <div class = "innovationImage show-on-scroll-right smallerImage">
                    <img src = "{{ url_for('static', filename='images/EmployerCircle.jpg') }}">
                </div>
                <div class = "innovationText show-on-scroll-left">
                    <h3>Employer Groups</h3>
                    <p>Choosing telemedicine as a more seamless, convenient group healthcare plan for your employees can boost morale and thus increase their productivity and longevity at your firm. Aside from the big savings, especially for self-insured employers, the added benefit of telemedicine will make your company more attractive to prospective employees. Finally, we provide 24/7 access to our seamless, world-class services for all employees. </p>
                </div>
            </div>
            <div class = "innovation around">
                <div class = "innovationImage show-on-scroll-right smallerImage">
                    <img src = "{{ url_for('static', filename='images/GovCircle.jpg') }}">
                </div>
                <div class = "innovationText show-on-scroll-left">
                    <h3>Government and Education</h3>
                    <p>When the pandemic hit, the CDC was racing to stop the spread. Immediately, several companies began intensive research into a potential vaccine; Neomedica became one of them. Out of all the companies, we were the most transparent, providing status updates and sharing all of our findings with the CDC. As a result, we’ve developed a strong partnership with the CDC, and we offer free CDC scientists free Neomedica care at any time. </p>
                </div>
            </div>
            <div class = "innovation lastInnovation around">
                <div class = "innovationImage show-on-scroll-right smallerImage">
                    <img src = "{{ url_for('static', filename='images/HappyEmpSmile.jpg') }}">
                </div>
                <div class = "innovationText show-on-scroll-left">
                    <h3>Unions and Associations</h3>
                    <p>Employees deserve the right wages. Employees deserve a healthy workplace. Employees deserve a say in decisions that relate to them. That’s why Neomedica supports our employees’ unions. We recognize the power of a health workplace environment; if our doctors, nurses, therapists, and psychiatrists aren’t happy, they can’t do their best work. If they can’t do their best work, our patients won’t get the treatment they need and deserve. If you are a Neomedica employee, contact us today to learn about your union options. </p>
                </div>
            </div>
        </div>
    </div>
   
{% endblock %}