{% extends "default.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/urgent.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/urgent_media.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/women.css') }}">
{% endblock %}

{% block childcontent %}
<div class = "firstSection demoSection">
    <div class = "simpleSucks">
        <h2 class = "show-on-scroll-up">“Women’s health needs to be front and center – it often isn’t, but it needs to be” </h2> 
        <h4 class = "littleAnon show-on-scroll-up"><i>- Cynthia Nixon - </i></h4>
    </div>
</div>
<div class = "secondSection">
    <div class = "treatmentBox show-on-scroll-right">
        <div class = "imageHolder pic1">
        </div>
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Sleep </h2>
                </div>
                <p class = "innerText show-on-scroll-up">A good night’s rest is important for a hard day’s work. Sometimes, it can be difficult to sleep peacefully and soundly at night. If you’re experiencing greater than normal difficulty getting to bed at night, you may have a sleeping disorder, such as sleep apnea, or may be experiencing a sign of depression. Depression is a common cause of sleep loss, in women especially, but our specialists are here to help.  Regardless of what the suspect sleep disrupter is, Neomedica’s team of women’s health professionals will quickly diagnose and provide easy-to-follow treatment, whether that’s therapy to help you de-stress, sleeping aids, treatment for a sleeping disorder, or simply a lifestyle change. We’re here to help, and our top priority is to get you well rested and back to doing the things that you do best during the day with confidence and energy. </p>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    {% if current_user.is_anonymous %}
                        <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% else %}
                        <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class = "treatmentBox reverseWrap show-on-scroll-left">
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Diet </h2>
                </div>
                <p class = "innerText show-on-scroll-up">A day of hard work requires the proper fuel; without a proper diet, you may lack energy and feel tired all day. The right diet is just as crucial as everything else for you to be the best version of you every day. That’s why at Neomedica, we have dieticians specially trained on women’s health and diets. Whether you’re in college playing a sport and need to bulk or cut quickly, or if you’re recovering from a pregnancy and looking to get back to normal, we’re prepared to offer you the best information regarding your diet, including quality meal prep plans crafted specifically for you and flexible check-ins so you can let us know what’s working and what we can adapt. Our top priority will always be meeting the goals you come to us with, regardless of your age.</p>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    {% if current_user.is_anonymous %}
                        <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% else %}
                        <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class = "imageHolder pic2">
        </div>
    </div>
    <div class = "treatmentBox show-on-scroll-right">
        <div class = "imageHolder pic3">
        </div>
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Physical Activity  </h2>
                </div>
                <p class = "innerText show-on-scroll-up">Exercise. Some love it, some hate it. Regardless of how you feel about it, it’s important. Without the proper physical activity, a good diet can only go so far. At Neomedica, we see the value in not just exercise, but exercise you truly enjoy doing. Regardless of age or ability, we have physical trainers and specialists here every step of the way. Whether you enjoy a good weightlifting session, some intense cardio, or just some soothing tai chi, our specialists are here to make recommendations and our physicians will lead you through both individual and group training sessions. </p>
                <p class = "show-on-scroll-up">If you don’t know what you like, no worries! Neomedica’s diverse set of physical training options means there’s always something for everyone. As always, our top priority is meeting your goals and your needs. </p>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    {% if current_user.is_anonymous %}
                        <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% else %}
                        <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class = "treatmentBox reverseWrap show-on-scroll-left">
        <div class = "textOverall">
            <div class = "textHolderTreatment">
                <div class = "impactTitle show-on-scroll-up serviceTitle">
                    <h2> Hygiene </h2>
                </div>
                <p class = "innerText show-on-scroll-up">Feminine hygiene is tough. Every month is a new challenge, and if you have kids, that challenge is made even more difficult. Without proper hygiene, however, you may find yourself less clean than them! Neomedica has the solution. Our specialists are trained not only to provide you with the right resources to stay clean, but also to advise you on how to stay clean and take care of yourself, even while you strive to make others a priority. </p>
                <p class = "show-on-scroll-up">Neomedica also has a feminine hygiene program, where we will ship you a set of feminine hygiene products every month you meet with a Neomedica specialist, free of charge! See a Neomedica specialist today and we’ll help you meet your goals quickly and easily. </p>
                <div class = "learnMoreContainerRegular leftAlign show-on-scroll-up providerButton">
                    {% if current_user.is_anonymous %}
                        <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% else %}
                        <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class = "imageHolder pic4">
        </div>
    </div>
</div>
<div class = "firstSection demoSection anotherDemo">
    <div class = "simpleSucks leftSucks">
        <h2 class = "show-on-scroll-up">Ready to start treatment? </h2> 
        <h3 class = "show-on-scroll-up">Request a visit quickly and privately.</h3>
        <div class = "learnMoreContainerRegular leftAlign whiteButton show-on-scroll-up providerButton">
            {% if current_user.is_anonymous %}
                <a href = "{{ url_for('login')}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
            {% else %}
                <a href = "{{ url_for('schedule_appointment', username=current_user.username )}}" class="learnMoreButtonRegular"><button>Get Started</button></a>
            {% endif %}
        </div>
    </div>
    <div class = "registerImage show-on-scroll-up">
        <img src = "{{ url_for('static', filename='images/Thumb.png') }}">
    </div>
</div>
{% endblock %}